<div class="row-fluid">
  <div class="span4 well item_detail_view">
      <div id="so_header_customer_info"></div>
  </div>

  <div class="span8 well item_detail_view">
    <%= simple_form_for(@so_header, :html => {:id => "form_for_so_header",:class => "form-horizontal"}) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.association :organization, :url => autocomplete_organization_organization_name_organizations_path(type: "customer"), :as => :autocomplete, :id_element => '#organization_id', required: true, :label => "Customer" %>

        <%= hidden_field_tag :organization_id, (@so_header.organization.id if @so_header.organization) %>

        <%= hidden_field_tag :org_organization_id, (@so_header.organization.id if @so_header.organization) %>

        <%= f.input :so_header_customer_po, :label => "Customer PO" %>
        <%= f.input :so_due_date, :as => "string", label: "Due Date" %>


        <div class="control-group select required so_header_bill_to_address">
            <label for="so_header_so_bill_to_id" class="select required control-label">
                <abbr title="required"></abbr> Bill To
            </label>
            <div class="controls">
                <select name="so_header[so_bill_to_id]" id="so_header_so_bill_to_id" class="select required">

                </select>
            </div>
        </div>

        <div class="control-group select required so_header_ship_to_address">
            <label for="so_header_so_ship_to_id" class="select required control-label">
                <abbr title="required"></abbr> Ship To
            </label>            
            <div class="controls">
                <select name="so_header[so_ship_to_id]" id="so_header_so_ship_to_id" class="select required">

                </select>
            </div>
        </div>

       <div class="control-group">
            <div class="controls">
                * If addresses are blank will be using profile address.
            </div>
        </div>

        <%#= f.input :so_cofc, :label => "COFC"  %>
        <%#= f.input :so_squality, :label => "S Quality" %>

        <%#= f.association :bill_to_address, :label => "Bill To", :label_method => "contact_title", :label_value => "id", :include_blank => false %>

        <%#= f.association :ship_to_address, :label => "Ship To", :label_method => "contact_title", :label_value => "id", :include_blank => false %>      

        <%#= f.input :so_identifier, :label => "Name" %>
        <%#= f.input :so_total, :label => "Total" %>
        <%= f.input :so_notes, :label => "Notes" %>
        <%#= f.input :so_comments, :label => "Comments" %>
        <%#= f.input :so_status, :label => "Status" %>
      </div>

      <div class="separator bottom"></div>

      <div class="form-actions">
        <%= f.button :submit, "Submit", :class => 'btn' %>

        <%= link_to 'Delete', so_header_path(@so_header), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @so_header.new_record? %>

        <%= link_to 'Back', so_headers_path,:class =>"btn" %>
      </div>
    <% end %>
  </div>
</div>

<% unless @so_header.new_record? %>
    <%= render :partial => 'so_lines/line_items' %>
<% end %>

<script type="text/javascript">
    tab_field_forms["form_for_so_header"] = ["so_header_organization_id", "so_header_so_header_customer_po", "so_header_so_due_date", "so_header_so_bill_to_id", "so_header_so_ship_to_id"];


<% date_box_date = @so_header.new_record? ? Date.today : @so_header.so_due_date %> 

  date_box_fields = date_box_fields.concat([{"name":"so_header_so_due_date", "value":"<%= date_box_date %>"}]);

      
    $(document).ready(function(){ 

        $('#so_header_organization_id').keydown(function(e) {
            var code = e.keyCode || e.which;

            if (code === 9) {  
              
              $('#so_header_organization_id').val($( "#ui-id-1 li a" ).first().html());     
            }
        });        
        $("#so_header_organization_id").on("focusout", function(){
            if($("#organization_id").val() != ""){
                initialize_api_call({"url": "/contacts?contact_type=address&object_id=" + $("#organization_id").val(), "type": "GET", "data_type": "json", "params": {}}, "set_customer_addresses", {});

                initialize_api_call({"url": "/organizations/" + $("#organization_id").val() + "/organization_info", "type": "GET", "params": {}}, "set_vendor_info", {});
            }
            else{
                $("#so_header_customer_info").html("");
                //$("#so_header_organization_id").val("");
                $("#so_header_so_bill_to_id").html("");
                $("#so_header_so_ship_to_id").html("");
            }
        });

        $("#so_header_organization_id").val("<%= @so_header.organization.organization_name if @so_header.organization %>");

        <% unless @so_header.new_record? %>
            initialize_api_call({"url": "/contacts?contact_type=address&object_id=" + $("#organization_id").val(), "type": "GET", "data_type": "json", "params": {}}, "set_customer_addresses", {});

            initialize_api_call({"url": "/organizations/" + $("#organization_id").val() + "/organization_info", "type": "GET", "params": {}}, "set_vendor_info", {});            
        <% end %>

        $("#so_header_organization_id").focus();
    });

    function set_vendor_info(response, callback_params, api_params){
        $("#so_header_customer_info").html(response);
        return false;
    }

    function set_customer_addresses(response, callback_params, api_params){        
        var html = $.trim(Mustache.render($(".address-select-box-template").html(), response));
        $("#so_header_so_bill_to_id").html(html);
        $("#so_header_so_ship_to_id").html(html);

        <% unless @so_header.new_record? %>
            if($("#organization_id").val() == '<%= @so_header.organization.id %>'){
                $("#so_header_so_bill_to_id").val('<%= @so_header.so_bill_to_id %>');
                $("#so_header_so_ship_to_id").val('<%= @so_header.so_ship_to_id %>');
            }
        <% end %>        

        return false;
    }
</script>

<%= render :partial => 'layouts/app_layouts/mustache_templates', locals: {type: "address-select-box"} %>