<!DOCTYPE html>


<title>Packing Report</title>
<!--[if lt IE 9]><script src="html5.js"></script><![endif]-->

    <%= stylesheet_link_tag "packing_report" %>



<div class="ms_wrapper">

    <section>

        <article>
            <div class="ms_image">
                <div class="ms_image-wrapper">
                    <%=image_tag(@company_info.logo.joint.url(:original)) if @company_info.logo %>
                </div>

                <div class="ms_image-text">
                    <h5><%= @company_info.company_address1 %><br/>
                    <%= @company_info.company_address2 %>
                    <hr>
                    <b>P:&nbsp;</b><%= @company_info.company_phone1 %><br/>
                    &nbsp;<b>F:&nbsp;</b><%= @company_info.company_fax %>
                    <hr></h5>
                </div>
            </div>


            <div class="ms_image-2">
                <h3>Packing Slip Number</h3>
                <h2> <%= @so_header.so_identifier %> </h2>
                <h5>Sales Order Date : <%= @so_header.created_at.strftime("%m/%d/%Y") %> </h5>
                <h5> Customer P.O:<%= @so_header.so_header_customer_po %></h5>

            </div>
        </article>

        <article>

            <div class="ms_text">
                <h1 class="ms_heading">Bill To :</h1> 
                <h2 class="ms_sub-heading"><%= @so_header.bill_to_address.contact_title %></h2> 
                <strong><%= @so_header.bill_to_address.contact_address_1 %></strong> 
                <strong><%= @so_header.bill_to_address.contact_address_2 %></strong>
                <strong><%= @so_header.bill_to_address.contact_state %></strong>
                <strong><%= @so_header.bill_to_address.contact_country %>&nbsp;<%= @so_header.bill_to_address.contact_zipcode%></strong>
            </div>

            <div class="ms_text-2">
                <h1 class="ms_heading">Ship To : </h1> 
                <h2 class="ms_sub-heading"><%= @so_header.ship_to_address.contact_title%></h2> 
                <strong><%= @so_header.ship_to_address.contact_address_1 %></strong> 
                <strong><%= @so_header.ship_to_address.contact_address_2 %></strong>
                <strong><%= @so_header.ship_to_address.contact_state %></strong>
                <strong><%= @so_header.ship_to_address.contact_country %>&nbsp;<%= @so_header.ship_to_address.contact_zipcode%></strong> 
            </div>

        </article>

        <article>

            <div class="ms_text-3-wrapper">
                <div class="ms_text-3 text-5">
                    <h2 class="ms_sub-heading">CUST P/N - ALL P/N</h2>
                        <% @so_header.so_lines.each do |so_line| %>
                            <%  if so_line.item.item_part_no == so_line.item_alt_name.item_alt_identifier %>
                                <strong><%= so_line.item.item_part_no %></strong>
                            <%  else %>
                                  <strong><%= so_line.item.item_part_no %></strong>
                                  <strong><%= so_line.item_alt_name.item_alt_identifier %></strong>
                            <%  end %>
                        <% end %>
                </div>


                <div class="ms_text-4">
                    <h2 class="ms_sub-heading"> Description </h2>
                        <% @so_header.so_lines.each do |so_line| %>
                            <% if so_line.item_revision.present? %>
                                <strong><%= so_line.item_revision.item_description %> </strong>
                            <% end %>
                            <div class="text-7">
                                <% if so_line.organization.present? %>
                                    <strong class="text-6" ><%= so_line.organization.organization_name %></strong>
                                <% end %>
                            </div>
                        <% end %>
                            <div class="text-7">
                                <% if @so_header.po_header.present? %>
                                    <strong class="text-6"><%= @so_header.po_header.po_identifier %></strong>
                                <% end %>
                            </div>
                </div>
            </div>


            <div class="ms_text-3-wrapper">
                <div class="ms_text-3">
                    <h2 class="ms_sub-heading">QTY</h2>
                         <% @so_header.so_lines.each do |note| %>
                            <strong><%= note.so_line_quantity %> </strong>
                        <% end %>
                </div>

                <div class="ms_text-4">
                    <h2 class="ms_sub-heading">  Shipped </h2>
                    <strong> </strong>
                </div>
            </div>
        </article>


        <article>
            <div class="footer">

                <div class="page">
                    <h3>Page </h3>
                    <h4>1</h4>
                </div>

                <div class="page-center">
                    <h3><%=@so_header.so_notes %></h3>
                </div>
                <div class="original">
                    <h3>Customer Copy </h3>
                    <h4><span> $</span> <%= @so_header.so_total.to_f %></h4>
                </div>

        </article>

    </div>

</div>
