<!DOCTYPE html>

<title>Sales Report</title>
<style type="text/css">
    @charset "utf-8";
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    /* New Style */
    .clear {
        clear: both;
    }
    .ms_wrapper {
        height: auto;
    }
    .ms_wrapper section {
        float: left;
        height: auto;
        width: 640px;
    }
    .ms_wrapper .ms_heading {
        border-bottom: 2px solid #999;
        font-size: 16px;
        margin: 30px 0 4px;
        padding: 0 0 10px;
        width: 100%;
    }
    .ms_wrapper .ms_image {
        border: 1px solid #ccc;
        float: left;
        font-size: 22px;
        text-align: center;
        width: 310px;
        height: 85px;
        padding: 50px 0 0;
    }
    .ms_wrapper .ms_image-2 {
        border: 1px solid #ccc;
        float: right;
        font-size: 22px;
        text-align: center;
        width: 310px;
        height: 135px;
    }
    .ms_wrapper article {
        float: left;
        width: 100%;
    }
}
.ms_wrapper .ms_text {
    float: left;
    font-size: 15px;
    height: auto;
    line-height: 23px;
    width: 262px;
    margin: 0;
    color: #666;
}
.ms_wrapper .ms_offers {
    float: left;
    margin: 12px 0 0;
    padding: 10px 0 0;
    text-align: center;
}
.ms_wrapper .ms_sub-heading {
    font-size: 22px;
    margin: 20px 0 6px;
    color: #000;
}
.ms_text strong,
.ms_text-2 strong {
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 19px;
    width: 100%;
}
.ms_text1 strong {
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 19px;
    width: 100%;
    margin: 1px 0;
    text-align: center;
    font-weight: bold;
}
.ms_image-2 h3 {
    color: #000080;
    font-size: 16px;
    font-weight: normal;
    margin: 17px 0 0;
    text-decoration: underline;
}
.ms_image-2 h2 {
    color: #800000;
    font-size: 20px;
    font-weight: bold;
    margin: 2px 0;
}
.ms_image-2 h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 2px 0;
}
.ms_text-3-wrapper {
    float: left;
    width: 310px;
}
.ms_text-3-wrapper .ms_text-3 {
    width: 152px;
    float: left;
}
.ms_text-3-wrapper .ms_text-4 {
    width: 152px;
    float: right;
}
.ms_text-3-wrapper .ms_text-4 strong {
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 19px;
    width: 100%;
    margin: 6px 0;
    text-align: center;
}
.ms_text-3-wrapper .ms_text-3 strong {
    color: #800000;
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 19px;
    width: 100%;
    margin: 6px 0;
    text-align: center;
}
.ms_text-3.text-5 strong {
    color: #000 !important;
}

.ms_text-3-wrapper .ms_sub-heading {
    font-size: 16px;
    text-align: center;
    margin: 30px 0 12px;
}
.ms_sub {
    font-size: 15px;
    text-align: center;
    text-decoration: underline;
    margin: 2px 0 10px 0;
}
.ms_text {
    border-bottom: 2px solid #999;
    float: left;
    padding: 0 0 16px;
    width: 310px;
}
.ms_text-2 {
    border-bottom: 2px solid #999;
    float: right;
    padding: 0 0 16px;
    width: 310px;
}
.ms_text1 {
    float: left;
    margin: 12px 28px 0;
    width: 42%;
}
.ms_wrapper .ms_image2 {
    margin: 0 20px 0 0;
    border: 1px solid #ccc;
    padding: 20px 0;
    text-align: center;
    font-size: 22px;
}
.ms_image2 h2 {
    font-size: 17px;
    margin: 0;
}
.ms_image2 strong {
    color: #800000;
    float: left;
    font-size: 22px;
    margin: 0 0 8px;
    width: 100%;
}
.ms_image2 p {
    font-size: 18px;
    margin: 0;
    color: #000080;
}
.footer {
    margin: 330px 0 0 0;
    width: 630px;
    border: 2px solid #444;
    float: left;
}
.page {
    float: left;
    margin: 0 0 0 20px;
}
.page h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 12px 0 0;
}
.page h4 {
    font-size: 12px;
    font-weight: normal;
    margin: 5px 0 12px 0;
    text-align: center;
}
.original {
    float: right;
    margin: 0 20px 0 0;
}
.original h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 12px 0 0;
}
.original h4 {
    color: #800000;
    font-size: 12px;
    font-weight: normal;
    margin: 5px 0 12px 0;
    text-align: center;
}
.original h4 span{
    color: #000;

}
.original h4 span {
    color: #000;
    margin: 0 4px 0 0;
}

.page-center {
    float: left;
    text-align: center;
    width: 411px;
}
.page-center h3 {
    color: #800000;
    font-size: 14px;
    font-weight: bold;
    margin: 12px 0 0;
}
.page-center h4 {
    font-size: 12px;
    font-weight: normal;
    margin: 5px 0 12px 0;
    text-align: center;
}
.text-6 {
    color: #800000;
    margin: 0 14px 0 0 !important;
    width: auto !important;
}
.text-7 {
    float: left;
    margin: 22px 0 0;
    width: 100%;
}

</style>



<div class="ms_wrapper">

    <section>

        <article>
            <div class="ms_image">Chess Group Inc</div>
            <div class="ms_image-2">
                <h3> Sales Order Number </h3>
                <h2> <%= @so_header.so_identifier %> </h2>
                <h5>Sales Order Date : <%= @so_header.created_at.strftime("%m/%d/%Y") %> </h5>
                <h5> Customer P.O:<%= @so_header.so_header_customer_po %></h5>

            </div>
        </article>

        <article>

            <div class="ms_text">
                <h1 class="ms_heading">Bill To :</h1> 
                <% if @so_header.bill_to_address.present? %>
                <h2 class="ms_sub-heading"><%= @so_header.bill_to_address.contact_title %></h2> 
                    <strong><%= @so_header.bill_to_address.contact_address_1 %></strong> 
                    <strong><%= @so_header.bill_to_address.contact_address_2 %></strong>
                    <strong><%= @so_header.bill_to_address.contact_state %></strong>
                    <strong><%= @so_header.bill_to_address.contact_country %>&nbsp;<%= @so_header.bill_to_address.contact_zipcode%></strong>
                    <% end %>
            </div>

            <div class="ms_text-2">
                <h1 class="ms_heading">Ship To : </h1> 
                <% if @so_header.ship_to_address.present? %>
                <h2 class="ms_sub-heading"><%= @so_header.ship_to_address.contact_title%></h2> 
                    <strong><%= @so_header.ship_to_address.contact_address_1 %></strong> 
                    <strong><%= @so_header.ship_to_address.contact_address_2 %></strong>
                    <strong><%= @so_header.ship_to_address.contact_state %></strong>
                    <strong><%= @so_header.ship_to_address.contact_country %>&nbsp;<%= @so_header.ship_to_address.contact_zipcode%></strong>   
                    <% end %>             
            </div>

        </article>




                <article>

            <div class="ms_text-3-wrapper">
                <div class="ms_text-3 text-5">
                    <h2 class="ms_sub-heading">CUST P/N - ALL P/N</h2> 
                        <% @so_header.so_lines.each do |so_line| %>
                            <%  if so_line.item.item_part_no == so_line.item_alt_name.item_alt_identifier %>
                                <strong><%= so_line.item.item_part_no %></strong>
                            <%  else %>
                                  <strong><%= so_line.item.item_part_no %></strong>
                                  <strong><%= so_line.item_alt_name.item_alt_identifier %></strong>
                            <%  end %>
                        <% end %>  
                </div>

                <div class="ms_text-4">
                    <h2 class="ms_sub-heading"> Description </h2> 
                        <% @so_header.so_lines.each do |so_line| %>
                            <% if so_line.item_revision.present? %>
                                <strong><%= so_line.item_revision.item_description %> </strong>
                            <% end %>
                            <div class="text-7">
                                <% if so_line.organization.present? %>
                                    <strong class="text-6" ><%= so_line.organization.organization_name %></strong>
                                <% end %>
                            </div>
                        <% end %>   
                                                        <div class="text-7">
  
                                <% if @so_header.po_header.present? %>
                                    <strong class="text-6"><%= @so_header.po_header.po_identifier %></strong>
                                <% end %> 
                            </div>                      
                </div>
            </div>

            <div class="ms_text-3-wrapper">
                <div class="ms_text-3">
                    <h2 class="ms_sub-heading">QTY</h2> 
                         <% @so_header.so_lines.each do |note| %>
                            <strong><%= note.so_line_quantity %> </strong>
                        <% end %>   
                </div>

                <div class="ms_text-4">
                    <h2 class="ms_sub-heading">  Shipped </h2> 
                    <% @so_header.so_lines.each do |so_line| %>
                 
                            <strong><%= so_line.so_line_shipped %> </strong>
                      
                    
                    <% end %>
                </div>
            </div>
        </article>

        <article>
            <div class="footer">

                <div class="page">
                    <h3>Page </h3>
                    <h4>1</h4>
                </div>

                <div class="page-center">  
                    <h3><%=@so_header.so_notes %></h3>
                </div>
                <div class="original">
                    <h3>Original </h3>
                    <h4><span>$</span> <%= @so_header.so_total.to_f %></h4>
                </div>

        </article>

    </div>

</div>








































