<div class="span3 well item_detail_view">
  <table class="table">
      <tbody>
          <tr>
            <td class="span2">SO ID:</td>
            <td class="span5"><strong><%= @so_header.so_identifier %></strong></td>
          </tr>

           <!-- <tr>
            <td class="span2">Customer:</td>
            <td class="span5"><strong><%#= link_to @so_header.organization.organization_name, @so_header.organization %></strong></td>
          </tr> -->

          <tr>
            <td class="span2">Bill To:</td>
            <td class="span5"><strong><%= link_to @so_header.bill_to_address.contact_title, @so_header.bill_to_address %></strong></td>
          </tr>

          <tr>
            <td class="span3">Ship To:</td>
            <td class="span5"><strong><%= link_to @so_header.ship_to_address.contact_title, @so_header.bill_to_address %></strong></td>
          </tr>

          <tr>
            <td class="span3">COFC:</td>
            <td class="span5"><strong><%= @so_header.so_cofc %></strong></td>
          </tr>

          <tr>
            <td class="span3">SQuality:</td>
            <td class="span5"><strong><%= @so_header.so_squality %></strong></td>
          </tr>

          <tr>
            <td class="span3">Status:</td>
            <td class="span5"><strong><%= @so_header.so_status %></strong></td>
          </tr>

           <tr>
            <td class="span3">Total:</td>
            <td class="span5"><strong><h4>$<%= @so_header.so_total.to_f %></h4></strong></td>
          </tr>

          <!-- "%0.5f" %  -->

          <!-- <tr>
            <td class="span3">Notes:</td>
            <td class="span5"><%#= @po_header.po_notes %></td>
          </tr> -->

          <!-- <tr>
            <td class="span3">Active :</td>
            <td class="span5"><%#= @po_header.po_active %></td>
          </tr> -->
      </tbody>
  </table>

  <div class="separator bottom"></div>
  <div class="separator bottom"></div>

  <h4 class="center">Customer Info</h4>

  <div class="separator bottom"></div>

  <%= render :partial => 'organizations/organization_info', 
        :locals => {:organization => @so_header.organization} %>
</div>