<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">Sales Orders <%= @organization.organization_type_title if @organization %> <%#= "With Selected Revision" if @item_revision %> 
            </h4>
            <span class="span6 heading right">
                <%= link_to 'All', all_path, :class => "btn btn-mini btn-success" %>
                <%= link_to 'Open', open_path, :class => "btn btn-mini btn-success" %>
                <%= link_to 'Closed', closed_path, :class => "btn btn-mini btn-success" %>
                <%= link_to 'New SO', new_path, :class => "btn btn-mini btn-success" %>
            </span>
        </div> 
    </div>
    <!-- // Widget heading END -->
    <div class="widget-body">
        <table id="table_report_so_header_list" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>index</th>
                <th>SO ID</th>
                <th>Customer</th>
                <th>Bill To</th>
                <th>Ship To</th>
                <th>Cofc</th>
                <th>Squality</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <body>
                
            </body>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {:name => "table_report_so_header_list", :path => index_path, :extras => {:slno => false},
        :columns => '[
                        { "mData": "index","bVisible": false },
                        { "mData": "so_id" },
                        { "mData": "customer_name"},
                        { "mData": "bill_to_address_name" },
                        { "mData": "ship_to_address_name" },
                        { "mData": "so_cofc" },                       
                        { "mData": "so_squality" },                       
                        { "mData": "so_status"},
                        { "mData": "links", "bSortable": false, "bSearchable": false }
                        
                    ]'
    } 
%>
