

<!-- Widget -->
<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">Sales Orders</h4>
            <span class="span6 heading right">
                <%= link_to "Open", so_headers_path(so_status: 'open'), class: "btn btn-mini btn-success" %>
                <%= link_to "Closed", so_headers_path(so_status: 'closed'), class: "btn btn-mini btn-success" %>
                <%= link_to "All", so_headers_path, :class => "btn btn-mini btn-success" %>
                <%= link_to "New Sales Order", new_so_header_path, class: "btn btn-mini btn-success" %>
            </span>
        </div>
    </div>
    <div class="widget-body">
      <table id="so_header" class="dynamicTable table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>SO Number</th>
                <th>Customer</th>
                <th>Ship To</th>
                <th>Total</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% @so_headers.each do |so| %>
              <tr>
                <td><%= link_to so.so_identifier, so_header_path(so) %></td>
                <td><%= so.organization.organization_name %></td>
                <td><%= so.ship_to_address%></td>
                <td><%= so.so_total %></td>
                <td><%= so.so_status %></td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
</div>

<script type="text/javascript">
    var dataso_header;
    $(document).ready(function(){
        dataso_header = $('#so_header').dataTable();
      });


</script>