<table id="payable_shipments_table" class="data_lines_table dynamicTable table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Part No</th>
            <th>Quantity Ordered</th>
            <th>Quantity Received</th>
            <th>Cost</th>
            <th>Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="payable_shipments_table_table_body">
        <% @payable.po_shipments.includes(:po_line, :payable_po_shipment).each do |po_shipment| %>
            <tr>
                <td><%= link_to po_shipment.po_line.item_alt_name.item_alt_identifier, item_path(po_shipment.po_line.item) %></td>
                <td><%= po_shipment.po_line.po_line_quantity %></td>
                <td><%= po_shipment.po_shipped_count %></td>
                <td><%= po_shipment.po_line.po_line_cost %></td>
                <td><%= po_shipment.po_shipped_cost %></td>
                <td><%= link_to "<i></i>".html_safe, payable_po_shipment_path(po_shipment.payable_po_shipment), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn-action btn glyphicons remove_2 btn-danger" %></td>
            </tr>
        <% end %>
    </tbody>
</table>