<div class="row-fluid">
    <h4 class="span3 left">Payable Info</h4>
    <span class="span9 right">
	<%= link_to 'New Payable From Received', po_shipments_path, :class => "btn btn-small" %>
        <%= link_to 'Update', edit_payable_path(@payable), :class => "btn btn-small" %>
        <%= link_to 'Pay', new_payment_path(payable_id: @payable.id), :class => "btn btn-small" if @payable.payable_status == "open" %>
        <%= link_to 'Back', payables_path, :class => "btn btn-small" %>
    </span>
</div>

<div class="row-fluid">
    <%= render :partial => 'payables/payable_info' %>

    <div class="span9">
        <%= render :partial => 'payable_lines/line_items' unless @po_header %>

        <%= render :partial => 'payables/po_shipments' if @po_header %>  

        <div class="separator bottom"></div>

        <%= render :partial => "payable_accounts/payable_accounts" %>
        
        <div class="separator bottom"></div>

        <%= render 'attachments/attachments' %>

        <div class="separator bottom"></div>
        
    </div>
</div>

<%#= render :partial => 'po_lines/line_items' if @po_header %>



