<div class="row-fluid">
    <h4 class="span3 left">Payable Info</h4>
    <span class="span9 right">
        <%= link_to 'Edit', edit_payable_path(@payable), :class => "btn btn-small" %>
        <%= link_to 'Back', payables_path, :class => "btn btn-small" %>
    </span>
</div>

<div class="row-fluid">
    <%= render :partial => 'payables/payable_info' %>

    <div class="span9">
        <%= render :partial => 'payable_lines/line_items' %>

        <%= render :partial => 'po_lines/line_items' if @po_header %>
    </div>
</div>