<table id="accounts_dispersal_table" class="data_lines_table dynamicTable table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Account</th>
            <th>Description</th>
            <th>Amount</th>
            <th></th>
        </tr>
    </thead>

    <tbody id="accounts_dispersal_table_body">
         
        
        <%= f.fields_for fields[0], accounts do |account| %>
            <tr>
                <td><%= account.association fields[1], label: false, label_method: :gl_account_title, label_value: :id, :include_blank => false, collection: gl_accounts, input_html: { class: (object.new_record? ? "account_new " : "account_edit ") + fields[1].to_s } %></td>
                <td><%= account.input fields[2], label: false, :input_html => {class: fields[2].to_s} %></td>
                <td><%= account.input fields[3], label: false, :input_html => {class: fields[3].to_s} %></td>
                <td><a href='#' class='btn-action glyphicons remove_2 btn-danger', onclick='$(this).parent().parent().remove(); return false' ><i></i></a></td>
            </tr>
        <% end %>
    </tbody>
</table>

<% inventory_amount = @payable.payable_lines.sum(:payable_line_cost) %>   
<% inventory_amount += @payable.po_shipments.sum(:po_shipped_cost) if @payable.po_header %>
<%= hidden_field_tag :payable_cost,  inventory_amount   if @payable  %>
<%= hidden_field_tag :payable_freight, @payable.payable_freight if @payable %>
<%= hidden_field_tag :payable_discount, @payable.payable_discount_val  if @payable %>


<div class="separator bottom"></div>

 <div class="form-actions">
    <%#= f.submit "Update", :class => "btn" %>
    <%= link_to 'Add Row', "#", :class => "btn", :onclick => "add_account_row(); return false" %>
</div>

<script type="text/javascript"> 
    var account_select_html = "";
    var page_submit = true;

    $(document).ready(function(){ 
        account_select_html = $.trim(Mustache.render($(".account-select-box-template").html(), {"aaData": <%= gl_accounts.to_json.html_safe %>}));

        //Dispersing Amounts to Inventory and Freight

        var payable_cost = $("#payable_cost").val();
        var payable_freight = $("#payable_freight").val();
        var payable_discount = parseFloat($("#payable_discount").val()) * -1 ;
        var account_row_count = $(".account_new").length + $(".account_edit").length;
        if(payable_cost > 0 && !($("#<%= account_type %>_<%= account_type %>_accounts_attributes_0_gl_account_id").length) ) {
            
            disperse_amount("INVENTORY", payable_cost);
            
        }
        if( !($("#<%= account_type %>_<%= account_type %>_accounts_attributes_1_gl_account_id").length)) {

            disperse_amount("FREIGHT ; UPS", payable_freight);
            
        }           
        if(payable_discount < parseFloat(0) && !($("#<%= account_type %>_<%= account_type %>_accounts_attributes_2_gl_account_id").length)) {

            disperse_amount("COGS; DISCOUNT", payable_discount);
             
        }     
        $("#<%= account_type %>_<%= account_type %>_accounts_attributes_0_<%= account_type %>_account_amount").val(payable_cost)
        $("#<%= account_type %>_<%= account_type %>_accounts_attributes_1_<%= account_type %>_account_amount").val(payable_freight); 
        $("#<%= account_type %>_<%= account_type %>_accounts_attributes_2_<%= account_type %>_account_amount").val(payable_discount); 
    });
    
    function disperse_amount(theText, amt){
        account_row_count = $(".account_new").length + $(".account_edit").length;
        var html = $.trim(Mustache.render($(".account-row-html-template").html(), {"row_count" : account_row_count, "row_data" : []}));
        $("#accounts_dispersal_table_body").append(html); 
        $("#<%= account_type %>_<%= account_type %>_accounts_attributes_"+account_row_count+"_gl_account_id").html(account_select_html);
        //var theText = "FREIGHT ; UPS";
        $("#<%= account_type %>_<%= account_type %>_accounts_attributes_"+account_row_count+"_gl_account_id option").each(function() {
            if($(this).text() == theText) {
                $(this).attr('selected', 'selected');            
            }                        
        });
        $("#<%= account_type %>_<%= account_type %>_accounts_attributes_"+account_row_count+"_<%= account_type %>_account_amount").val(amt); 

    } 
    

    function add_account_row(){
        var account_row_count = $(".account_new").length + $(".account_edit").length;
        var html = $.trim(Mustache.render($(".account-row-html-template").html(), {"row_count" : account_row_count, "row_data" : []}));
        $("#accounts_dispersal_table_body").append(html);
        $("#<%= account_type %>_<%= account_type %>_accounts_attributes_"+account_row_count+"_gl_account_id").html(account_select_html);
        $("#<%= account_type %>_<%= account_type %>_accounts_attributes_"+account_row_count+"_gl_account_id").val(<%= default_account.id %>);
    }

    $(document).on("keydown", ".gl_account", function(e){
        table_row_next_focus(e, "#<%= form_name %>", $(this), ".<%= account_type %>_account_description", false);
    });

    $(document).on("keydown", ".<%= account_type %>_account_description", function(e){
        table_row_next_focus(e, "#<%= form_name %>", $(this), ".<%= account_type %>_account_amount", false);
    });

    $(document).on("keydown", ".<%= account_type %>_account_amount", function(e){
        table_row_next_focus(e, "#<%= form_name %>", $(this), ".gl_account", true);
    });

</script>

<%= render :partial => 'layouts/app_layouts/mustache_templates', locals: {type: "account-select-box"} %>
<%= render :partial => 'layouts/app_layouts/mustache_templates', locals: {type: "account-row-html", account_type: account_type} %>