<table id="accounts_dispersal_table" class="data_lines_table dynamicTable table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Account</th>
            <th>Description</th>
            <th>Amount</th>
            <th></th>
        </tr>
    </thead>

    <tbody id="accounts_dispersal_table_body">
        <%= f.fields_for fields[0], accounts do |account| %>
            <tr>
                <td><%= account.association fields[1], label: false, label_method: :gl_account_title, label_value: :id, :include_blank => false, collection: gl_accounts, input_html: { class: (object.new_record? ? "account_new " : "account_edit ") + fields[1].to_s } %></td>
                <td><%= account.input fields[2], label: false, :input_html => {class: fields[2].to_s} %></td>
                <td><%= account.input fields[3], label: false, :input_html => {class: fields[3].to_s} %></td>
                <td><a href='#' class='btn-action glyphicons remove_2 btn-danger', onclick='$(this).parent().parent().remove(); return false' ><i></i></a></td>
            </tr>
        <% end %>
    </tbody>
</table>

<div class="separator bottom"></div>

 <div class="form-actions">
    <%= f.submit "Update", :class => "btn" %>
    <%= link_to 'Add Row', "#", :class => "btn", :onclick => "add_account_row(); return false" %>
</div>

<script type="text/javascript"> 
    var account_select_html = "";
    var page_submit = true;

    $(document).ready(function(){ 
        account_select_html = $.trim(Mustache.render($(".account-select-box-template").html(), {"aaData": <%= gl_accounts.to_json.html_safe %>}));
    });

    function add_account_row(){
        var account_row_count = $(".account_new").length + $(".account_edit").length;
        var html = $.trim(Mustache.render($(".account-row-html-template").html(), {"row_count" : account_row_count, "row_data" : []}));
        $("#accounts_dispersal_table_body").append(html);
        $("#<%= attribute_name %>_"+account_row_count+"_<%= fields[1].to_s %>_id").html(account_select_html);
    }

    $(document).on("keydown", ".gl_account", function(e){
        table_row_next_focus(e, "#<%= form_name %>", $(this), ".payable_account_description", false);
    });

    $(document).on("keydown", ".payable_account_description", function(e){
        table_row_next_focus(e, "#<%= form_name %>", $(this), ".payable_account_amount", false);
    });

    $(document).on("keydown", ".payable_account_amount", function(e){
        table_row_next_focus(e, "#<%= form_name %>", $(this), ".gl_account", true);
    });

</script>

<%= render :partial => 'layouts/app_layouts/mustache_templates', locals: {type: "account-select-box"} %>
<%= render :partial => 'layouts/app_layouts/mustache_templates', locals: {type: "account-row-html"} %>