<table id="accounts_dispersal_table" class="data_lines_table dynamicTable table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Account</th>
            <th>Description</th>
            <th>Amount</th>
            <th></th>
        </tr>
    </thead>

    <tbody id="accounts_dispersal_table_body">
         
        
        <%= f.fields_for fields[0], accounts do |account| %>
            <tr>
                <td><%= account.association fields[1], label: false, label_method: :gl_account_title, label_value: :id, :include_blank => false, collection: gl_accounts, input_html: { class: (object.new_record? ? "account_new " : "account_edit ") + fields[1].to_s } %></td>
                <td><%= account.input fields[2], label: false, :input_html => {class: fields[2].to_s} %></td>
                <td><%= account.input fields[3], label: false, :input_html => {class: fields[3].to_s} %></td>
                <td><a href='#' class='btn-action glyphicons remove_2 btn-danger', onclick='$(this).parent().parent().remove(); return false' ><i></i></a></td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @payable %>
<% inventory_amount = @payable.payable_lines.sum(:payable_line_cost) %>   
<% inventory_amount += @payable.po_shipments.sum(:po_shipped_cost) if  @payable.po_header %>
<%= hidden_field_tag :payable_cost,  inventory_amount     %>
<%= hidden_field_tag :payable_freight, @payable.payable_freight  %>
<%= hidden_field_tag :payable_discount, @payable.payable_discount_val  %>
<% end %>

<% if @receivable %>
<% inventory_amount = @receivable.receivable_lines.sum(:receivable_line_cost) %>   
<% inventory_amount += @receivable.so_shipments.sum(:so_shipped_cost) if  @receivable.so_header %>
<%= hidden_field_tag :receivable_cost,  inventory_amount     %>
<%= hidden_field_tag :receivable_freight, @receivable.receivable_freight  %>
<%= hidden_field_tag :receivable_discount, @receivable.receivable_discount_val  %>
<% end %>
<%= hidden_field_tag :inventory_text %>
<%= hidden_field_tag :freight_text %>
<%= hidden_field_tag :discount_text %>
<%= hidden_field_tag :expense_text %>
<div class="separator bottom"></div>

 <div class="form-actions">
    <%#= f.submit "Update", :class => "btn" %>
    <%= link_to 'Add Row', "#", :class => "btn", :onclick => "add_account_row(); return false" %>
</div>

<script type="text/javascript"> 
    var account_select_html = "";
    var page_submit = true;   
    $(document).ready(function(){ 

        initialize_api_call({"url": "/common_actions/get_info", "type": "GET", "data_type": "json", "params": {"mode": "get_gl_account_title" }}, "receive_titles", {});

        
        account_select_html = $.trim(Mustache.render($(".account-select-box-template").html(), {"aaData": <%= gl_accounts.to_json.html_safe %>}));     
        
     
    });

    function receive_titles(response, callback_params, api_params){                    
        inventory = response["aaData"]["11050"]; 
        $("#inventory_text").val(inventory);        
        discount = response["aaData"]["51010020"];
        $("#discount_text").val(discount);
        freight = response["aaData"]["51020020"]; 
        $("#freight_text").val(freight);
        expense = response["aaData"]["71107"]; 
        $("#expense_text").val(expense);

        //Dispersing Amounts to Inventory and Freight

        var payable_cost = $("#payable_cost").val();
        var payable_freight = $("#payable_freight").val();
        var payable_discount = parseFloat($("#payable_discount").val()) * -1 ;

        var receivable_cost = $("#receivable_cost").val();
        var receivable_freight = $("#receivable_freight").val();
        var receivable_discount = parseFloat($("#receivable_discount").val()) * -1 ;
        var account_row_count = $(".account_new").length + $(".account_edit").length;


        if(payable_cost > 0 || receivable_cost > 0) {            
            var cost = payable_cost ? payable_cost : receivable_cost ;
            disperse_amount($("#inventory_text").val(), cost);
            
        }
        if( payable_freight > 0 ||  receivable_freight > 0) {
            var freight = payable_freight ? payable_freight : receivable_freight;
            disperse_amount($("#freight_text").val(), freight);
            
        }           
        if(payable_discount < parseFloat(0) || receivable_discount < parseFloat(0)) {

            var discount = payable_discount ? payable_discount : receivable_discount ;
            disperse_amount($("#discount_text").val(), discount);
             
        }            


    }
    function get_rowcount(){
        var $last = ($('#accounts_dispersal_table').find('tbody tr:visible:last'));      
        var last_id = $last.children('td:first').children().find('select').attr('id');
        var getNum;
        if(typeof  last_id != 'undefined'){
         getNum = last_id.match(/(\d+)/g);                 
         getNum = parseInt(getNum);
        }         
        if(getNum)  {
            return (getNum+1);
        }
        else{
            return parseInt(0);
        } 
    }  
    function disperse_amount(theText, amt){        
        account_row_count = $(".account_new").length + $(".account_edit").length;        
        for ( var i = 0; i < account_row_count; i++ ) {                    
            if ($("#<%= account_type %>_<%= account_type %>_accounts_attributes_"+i+"_gl_account_id option:selected").text() == theText)
                {

                    if(amt > 0 || amt < 0){                    
                        $("#<%= account_type %>_<%= account_type %>_accounts_attributes_"+account_row_count+"_<%= account_type %>_account_amount").val(amt); 
                    }
                    else{
                        $("#<%= account_type %>_<%= account_type %>_accounts_attributes_"+account_row_count+"_<%= account_type %>_account_amount").closest("tr").remove();   
                    }    
                    break;
                } 
        }        
        if(i ==account_row_count && (amt > 0 || amt < 0) && $("#<%= account_type %>_<%= account_type %>_accounts_attributes_"+account_row_count+"_<%= account_type %>_account_amount").length == 0){         
        var html = $.trim(Mustache.render($(".account-row-html-template").html(), {"row_count" : account_row_count, "row_data" : []}));
        $("#accounts_dispersal_table_body").append(html); 
        $("#<%= account_type %>_<%= account_type %>_accounts_attributes_"+account_row_count+"_gl_account_id").html(account_select_html);
        $("#<%= account_type %>_<%= account_type %>_accounts_attributes_"+account_row_count+"_gl_account_id option").each(function() {
            if($(this).text() == theText) {
                $(this).attr('selected', 'selected');            
            }                        
        });        
        $("#<%= account_type %>_<%= account_type %>_accounts_attributes_"+account_row_count+"_<%= account_type %>_account_amount").val(amt); 
        }  

    }     

    function add_account_row(){
        var account_row_count = get_rowcount();
        var html = $.trim(Mustache.render($(".account-row-html-template").html(), {"row_count" : account_row_count, "row_data" : []}));
        $("#accounts_dispersal_table_body").append(html);
        $("#<%= account_type %>_<%= account_type %>_accounts_attributes_"+account_row_count+"_gl_account_id").html(account_select_html);
        $("#<%= account_type %>_<%= account_type %>_accounts_attributes_"+account_row_count+"_gl_account_id").val(<%= default_account.id %>);
    }

    $(document).on("keydown", ".gl_account", function(e){
        table_row_next_focus(e, "#<%= form_name %>", $(this), ".<%= account_type %>_account_description", false);
    });

    $(document).on("keydown", ".<%= account_type %>_account_description", function(e){
        table_row_next_focus(e, "#<%= form_name %>", $(this), ".<%= account_type %>_account_amount", false);
    });

    $(document).on("keydown", ".<%= account_type %>_account_amount", function(e){
        table_row_next_focus(e, "#<%= form_name %>", $(this), ".gl_account", true);
    });

</script>

<%= render :partial => 'layouts/app_layouts/mustache_templates', locals: {type: "account-select-box"} %>
<%= render :partial => 'layouts/app_layouts/mustache_templates', locals: {type: "account-row-html", account_type: account_type} %>
