 <script type="text/javascript">
var quality_lot_id;
var current_field_temp;
	function shipping_fnDrawCallback(dt_settings){
		
	}

	function shipment_row_callback(response, callback_params, api_params){

			$("#lot_ids").append(response.lot_id + ",");
			$("#lot_ids").hide();			
			console.log($("#lot_ids").text());
			if(callback_params){
				var <%= type %>_line_row = callback_params.<%= type %>_line_row;	
				if(response.errors && response.errors[1]){
					<%= type %>_line_row.find(".shipping_status").addClass("error");
					<%= type %>_line_row.find(".shipping_status").html(response.errors[1]);
				}
				else if(response.shipped_status == "closed"){
					<%= type %>_line_row.find(".shipping_status").addClass("success");
					<%= type %>_line_row.find(".shipping_status").html("Saved and closed successfully!");
					<%= type %>_line_row.hide(1000, arguments.callee);

					       
					setTimeout(function(){<%= type %>_line_row.remove();}, 1001);
				}
				else{              

					<%= type %>_line_row.find(".shipping_status").addClass("success");
					<%= type %>_line_row.find(".shipping_status").html("Saved successfully!");
					<%= type %>_line_row.find(".<%= type %>_line_quantity_open").html(response.quantity_open);			
					<%= type %>_line_row.find(".<%= type %>_line_shipping_input input[type=text]").val("0");
					<%= type %>_line_row.find(".<%= type %>_line_shelf_input input[type=text]").val("");
					<%= type %>_line_row.find(".<%= type %>_line_unit_input input[type=text]").val("");
			}
		}
	}


function printContent(div_id)
{
 var content = "<html>";
 content +="<head> </head>  <style type='text/css'>body{font-family:Arial, Helvetica, sans-serif;font-size:5px !important;}.clear{clear:both} td{font-size:12px;}.ms_wrapper{height:auto}.ms_wrapper section{float:left;height:auto;width:640px}.ms_wrapper .ms_heading{border-bottom:2px solid #999;font-size:16px;margin:30px 0 4px;padding:0 0 10px;width:100%}td{padding:2px 0}.ms_image-2>h4{margin:24px 0 0}.ms_wrapper .ms_image{float:left;font-size:22px;text-align:center;width:310px;height:90px}.ms_wrapper .ms_image-2{float:right;font-size:22px;text-align:right;width:310px;height:90px}.ms_wrapper article{float:left;width:100%}.ms_wrapper .ms_text{float:left;font-size:15px;height:auto;line-height:23px;width:262px;margin:0;color:#666}.ms_wrapper .ms_offers{float:left;margin:12px 0 0;padding:10px 0 0;text-align:center}.bor{padding:12px 0}.ms_wrapper .ms_sub-heading{font-size:22px;margin:20px 0 6px;color:#000}.ms_text strong,.ms_text-2 strong{float:left;font-size:14px;font-weight:normal;line-height:19px;width:100%}.ms_text1 strong{float:left;font-size:14px;font-weight:normal;line-height:19px;width:100%;margin:1px 0;text-align:center;font-weight:bold}.ms_image-2 h3{color:#000080;font-size:16px;font-weight:normal;margin:17px 0 0;text-decoration:underline}.ms_image-2 h2{color:#800000;font-size:20px;font-weight:bold;margin:2px 0}.ms_image-2 h5{font-size:16px;font-weight:bold;margin:2px 0}.ms_text-3-wrapper{float:left;width:310px}.ms_text-3-wrapper .ms_text-3{width:152px;float:left}.ms_text-3-wrapper .ms_text-4{width:152px;float:right}.ms_text-3-wrapper .ms_text-4 strong{float:left;font-size:14px;font-weight:normal;line-height:19px;width:100%;margin:6px 0;text-align:center}.ms_text-3-wrapper .ms_text-3 strong{color:#800000;float:left;font-size:14px;font-weight:normal;line-height:19px;margin:6px 0;text-align:center;width:100%}.ms_text-3.text-5 strong{color:#000 !important}.ms_text-3-wrapper .ms_sub-heading{font-size:16px;text-align:center;margin:30px 0 12px}.ms_sub{font-size:15px;text-align:center;text-decoration:underline;margin:2px 0 10px 0}.fon-004>td{font-size:16px;font-weight:bold;padding:20px 0 8px}.bor td{border:1px solid #111;padding:2px 37px}.bor-2 td{border:1px solid #111;padding:5px 7px}.bord-no{padding:0 !important}.bor-3 td{border-top:1px solid #111;border-bottom:none;padding:4px 7px;border-left:none;border-right:none}.ms_text{border-bottom:2px solid #999;float:left;padding:0 0 16px;width:310px}.ms_text-2{border-bottom:2px solid #999;float:right;padding:0 0 16px;width:310px}.ms_text1{float:left;margin:12px 28px 0;width:42%}.ms_wrapper .ms_image2{margin:0 20px 0 0;border:1px solid #ccc;padding:20px 0;text-align:center;font-size:22px}.ms_image2 h2{font-size:17px;margin:0}.ms_image2 strong{color:#800000;float:left;font-size:22px;margin:0 0 8px;width:100%}.ms_image2 p{font-size:18px;margin:0;color:#000080}.footer{border:2px solid #444;float:left;margin:8px 0 0;width:100%}.page{float:left;margin:0 0 0 20px}.page h3{font-size:14px;font-weight:bold;margin:12px 0 0}.page h4{font-size:12px;font-weight:normal;margin:5px 0 12px 0;text-align:center}.original{float:right;margin:0 20px 0 0}.original h3{font-size:14px;font-weight:bold;margin:12px 0 0}.original h4{color:#800000;font-size:12px;font-weight:normal;margin:5px 0 12px;text-align:center}.ms_image-wrapper{float:left;height:69px;margin:6px 0 0 3px;width:150px}.ms_image-wrapper img{width:150px}.ms_image-text{float:right;margin:6px 10px 0 0;width:120px}.ms_image-text h2{font-size:13px;margin:19px 0 8px 0;text-decoration:underline}.ms_image-text h3{font-size:13px;font-weight:normal;margin:3px 0}.ms_image-text h5{font-size:9px;font-weight:normal;width:120px}.page-center{text-align:center}.page-center h3{font-size:12px;font-weight:bold}.page-center h4{font-size:12px;font-weight:normal;margin:5px 0 12px 0;text-align:center}.original h4 span{color:#000}.original h4 span{color:#000;margin:0 4px 0 0}.text-6{color:#800000;margin:0 14px 0 0 !important;width:auto !important}.text-7{float:left;margin:22px 0 0;width:100%}.lin{border-bottom:2px solid #111}th{padding:0 0 9px}</style>";
 content += "<body>";
 content += document.getElementById(div_id).innerHTML ;
 content += "</body>";
 content += "</html>";


 var printWin = window.open('','','left=0,top=0,width=1000,height=500,toolbar=0,scrollbars=1,status =0');

 printWin.document.write(content);
 printWin.document.close();
 printWin.focus();
 printWin.print();

 printPage(printWin);
 
}
function printPage(win_id){
    setTimeout(function(){
        win_id.close();
    }, 1000);
}

	

	$(document).on("click", ".btn_save_shipped", function(){
		process_shipping_inputs($(this));	
		
	});	

	function process_shipping_inputs(current_field){
		var so_line_id = current_field.attr("<%= type %>_line_id");
		current_field_temp = current_field;
		after_quality_lot_select();				
	}	
	$(document).ready(function(){
		$('#modal-simple').on('shown.bs.modal', function (e) {
		})
        $("#jr100").hide();

	});


// To avoid control number duplication create lot number and print at the end of the loop lot ids div contains all the lot_ids and if the shipping inputs became 1 ie. the end of the loop lot number and print is doing

	$('#lot_ids').bind("DOMSubtreeModified",function(){
    if($('#lot_ids').text() != "")
    {
    		var Ids = $('#lot_ids').text();
    		Ids_array = Ids.split(","); 		
     		var count = 0;
    		$(".shipping_input_field").each(function(){
    			if(parseFloat($(this).val()) > 0){
    				count = count + 1;
    			}
    		});		
    		if(count == 1)
    		{			
          console.log(count);          
    			Ids_array.pop(Ids_array);          
    			initialize_api_call({"url": "/common_actions/get_info", "type": "GET", "data_type": "json", "params": {"mode": "set_lot_numbers", "ids": Ids_array}}, "print_data", {});
          

    		}
     }
	});
	<% if type == "po" %>

		$(document).on("keydown", ".<%= type %>_line_shipping_input input[type=text]", function(e){
		    table_row_next_focus(e, "#table_report_shipping_items", $(this), ".<%= type %>_line_unit_input input[type=text]", false);
		});

		$(document).on("keydown", ".<%= type %>_line_unit_input input[type=text]", function(e){
		    table_row_next_focus(e, "#table_report_shipping_items", $(this), ".<%= type %>_line_shelf_input input[type=text]", false);
		});

		$(document).on("keydown", ".<%= type %>_line_shelf_input input[type=text]", function(e){
		    table_row_next_focus(e, "#table_report_shipping_items", $(this), ".<%= type %>_line_shipping_input input[type=text]", true);
		});
		
	<% else %>
		$(document).on("keydown", ".<%= type %>_line_shipping_input input[type=text]", function(e){
		    table_row_next_focus(e, "#table_report_shipping_items", $(this), ".<%= type %>_line_shipping_input input[type=text]", true);
		});
	<% end %>

	function initiate_shipping_inputs(){
		$(".shipping_status").html("");
		$(".shipping_status").removeClass("success");
		$(".shipping_status").removeClass("error");				 
		$(".shipping_input_field").each(function(){
			if(parseFloat($(this).val()) > 0){
				process_shipping_inputs($(this));
			}				
		});			
	}

	function process_all_open(shipping_id, current_element){
        if(confirm("Are you sure?")){
        	$(".shipping_input_<%= type %>_" + shipping_id).each(function(){
        		$(this).val($(this).closest("tr").find(".<%= type %>_line_quantity_open").html());
        	});
        	initiate_shipping_inputs();
        }
    }

    function fill_po_items(header_id){
        $(".shipping_input_<%= type %>_" + header_id).each(function(){
            $(this).val($(this).closest("tr").find(".<%= type %>_line_quantity_open").html());
        });
    }
	function get_quality_lots(id){
    	initialize_api_call({"url": "/common_actions/get_info", "type": "GET", "data_type": "json", "params": {"mode": "get_quality_lots_po", "id": id}}, "set_quality_lots_option", {});
    }
    function set_quality_lots_option(response, callback_params, api_params) {
    	if(response["aaData"].length == 0){
	 		after_quality_lot_select();
	    }
    	else{
    		$('#modal-simple').modal('show');
	    	$('#quality_lot').empty();
	    	$.each(response["aaData"], function (i,item) {
			    $('#quality_lot').append($('<option>', { 
			        value: item[0],
			        text : item[1] 
			    }));
			});
			$("#quality_lot").prepend("<option value='' selected='selected'></option>");
    	}    
    }
   
    // set quality id from popup
    function set_quality_lot_id(){
    	quality_lot_id = $('#quality_lot').val();
    	after_quality_lot_select(quality_lot_id);
    }
	function after_quality_lot_select(qualityLotId) {
		$(".shipping_status").html("");
		$(".shipping_status").removeClass("success");
		$(".shipping_status").removeClass("error");
		var <%= type %>_line_row = current_field_temp.closest("tr");
		var <%= type %>_line_id = current_field_temp.attr("<%= type %>_line_id");
		var <%= type %>_shipped_status = current_field_temp.attr("<%= type %>_shipped_status");

		var <%= type %>_line_shipping = <%= type %>_line_row.find(".<%= type %>_line_shipping_input input[type=text]").val();
		var <%= type %>_line_shelf = <%= type %>_line_row.find(".<%= type %>_line_shelf_input input[type=text]").val();
		var <%= type %>_line_unit = <%= type %>_line_row.find(".<%= type %>_line_unit_input input[type=text]").val();
		if(parseFloat(<%= type %>_line_shipping) > 0)
			initialize_api_call({"url": "/<%= type %>_shipments", "type": "POST", "data_type": "json", "params": {"<%= type %>_shipment":{"quality_lot_id":qualityLotId,"<%= type %>_line_id":<%= type %>_line_id, "<%= type %>_shipped_count":<%= type %>_line_shipping, "<%= type %>_shipped_shelf":<%= type %>_line_shelf, "<%= type %>_shipped_unit":<%= type %>_line_unit, "<%= type %>_shipped_status":<%= type %>_shipped_status}}}, "shipment_row_callback", {"<%= type %>_line_row":<%= type %>_line_row});
		else{
			<%= type %>_line_row.find(".shipping_status").addClass("error");
			<%= type %>_line_row.find(".shipping_status").html("Item count is invalid!");
		}
	}    

function print_data(response, callback_params, api_params)
{
 	console.log(response["aaData"])
  $("#lot_ids").text("");
		var currentDate = new Date()
	    var day = currentDate.getDate()
	    var month = currentDate.getMonth() + 1
	    var year = currentDate.getFullYear()
	    shipment_date = day + "/" + month + "/" + year ;
	 	 $.each(response["aaData"], function (i, item) {
 			console.log(item);
 			initialize_api_call({"url": "/common_actions/get_info", "type": "GET", "data_type": "json", "params": {"mode": "get_jr100_print_data", "id": item}}, "print_jr100", {}); 	 	
		    
 	 });
}
function print_jr100(response, callback_params, api_params)
{
	console.log(response["aaData"].company_name);
	$("#jr100_company_name").html(response["aaData"].company_name);
	$("#jr100_date").html(shipment_date);
    $("#jr100_partno").html(response["aaData"].part_number);
    $("#jr100_quantity").html(response["aaData"].po_shipped_count);
    $("#jr100_po").html(response["aaData"].po);
    $("#jr100_customer").html(response["aaData"].customer);
    $("#jr100_controlno").text(response["aaData"].control_number);        
    printContent($("#jr100").attr('id'));
}
</script>
 <!DOCTYPE html>


<title>Packing Report</title>
<!--[if lt IE 9]><script src="html5.js"></script><![endif]-->


<div id="jr100">
<div class="ms_wrapper">   
    <section>
        <article class="lin">
            <div class="ms_image">
                <div class="ms_image-wrapper" >
                	<% @company_info = CompanyInfo.first %>
                    <%=image_tag(@company_info.logo.joint.url(:original)) if @company_info.logo %>
                </div>
            </div>


            <div class="ms_image-2">
                <h4><strong>Form JR100</strong> is </h4>
               
              <h5><strong>Standard</strong> Operating Procedures </h5>
          

          </div>
        </article>
        <table width="100%" border="0" cellspacing="0"  class="bor" cellpadding="0">
          <tr>
            <td colspan="2" align="center" scope="row"><strong>Title: Job Router</strong></td>
          </tr>
          <tr>
            <td width="50%" align="right" scope="row">Date :</td>
            <td width="50%" id="jr100_date"></td>
          </tr>
          <tr>
            <td align="right" scope="row">Part Number :</td>
            <td id="jr100_partno"></td>
          </tr>
          <tr>
            <td align="right" scope="row">Quantity :</td>
            <td id="jr100_quantity"> </td>
          </tr>
          <tr>
            <td align="right" scope="row">PO :</td>
            <td id="jr100_po"></td>
          </tr>
           <tr>
            <td align="right" scope="row">Customer(If Known) :</td>
            <td id="jr100_customer"> &nbsp </td>
          </tr>
        </table>
        
        <table width="100%" border="0" cellspacing="0" class="bor-2" cellpadding="0">
  <tr>
    <td width="11%" scope="row"><strong>Department </strong></td>
    <td width="68%" align="center"><strong>Description</strong></td>
    <td width="13%"><strong>Date </strong></td>
    <td width="8%"><strong>Approved </strong></td>
  </tr>
  <tr>
    <td scope="row"><strong>Receiving: </strong></td>
    <td class="bord-no"><table width="100%" border="0" cellspacing="0" class="bor-3" cellpadding="0">
      <tr>
        <td scope="row">Check for Damaged Incoming Boxes </td>
      </tr>
      <tr>
        <td scope="row">Visual Inspection of Parts </td>
      </tr>
      <tr>
        <td scope="row">Quantity count (Attach D200 if applicable)</td>
      </tr>
      <tr>
        <td scope="row">Paperwork w/ parts(If required) </td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td scope="row"><strong>Disbursement: </strong></td>
    <td align="center"><strong>Proceed to Quality Department</strong></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td scope="row"><strong>Quality:</strong></td>
    <td class="bord-no"><table width="100%" border="0" cellspacing="0" class="bor-3" cellpadding="0">
      <tr>
        <td scope="row">Assign Control No. : <span id="jr100_controlno"></span></td>
      </tr>
      <tr>
        <td scope="row">Retreive and Verify Alliance Purchase Order:</td>
      </tr>
      <tr>
        <td scope="row">Inspect to <span id = "jr100_company_name"></span> PO Specifications </td>
      </tr>
      <tr>
        <td scope="row">Retreive and Verify Customer Purchase Order: </td>
      </tr>
      <tr>
        <td scope="row">Inspect to Customer PO Specifications </td>
      </tr>
      <tr>
        <td scope="row">Generate Paperwork</td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td scope="row"><strong> Disbursement:</strong></td>
    <td align="center"><strong>Proceed To Shipping Department</strong></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td scope="row">Shipping:</td>
    <td class="bord-no"><table width="100%" border="0" cellspacing="0" class="bor-3" cellpadding="0">
      <tr>
        <td align="center" scope="row"><strong>Secondary Processing</strong></td>
      </tr>
      <tr>
        <td scope="row">Supplier:</td>
      </tr>
      <tr>
        <td scope="row">Verify Paperwork </td>
      </tr>
      <tr>
        <td scope="row">Put Paperwork in Processing Bin </td>
      </tr>
      <tr>
        <td align="center" scope="row"><strong> Ship/ Stock</strong></td>
      </tr>
      <tr>
        <td scope="row">Verify Paperwork </td>
      </tr>
      <tr>
        <td scope="row">Package to PO Specifications </td>
      </tr>
      <tr>
        <td scope="row">If Stock ; Shelf# </td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>

        <article>
            <div class="footer">
            <div class="page-center">
              <h3><strong>Must Fill Out </strong> a Quality Action for any Steps above that do not fulfill an "Approved" status</h3>
                </div>
        </article>

    </div>

</section>
</div>
</div>