<script type="text/javascript">
var quality_lot_id;
var current_field_temp;
	function shipping_fnDrawCallback(dt_settings){
		
	}

	function shipment_row_callback(response, callback_params, api_params){
		if(callback_params){
			var <%= type %>_line_row = callback_params.<%= type %>_line_row;	
			if(response.errors && response.errors[1]){
				<%= type %>_line_row.find(".shipping_status").addClass("error");
				<%= type %>_line_row.find(".shipping_status").html(response.errors[1]);
			}
			else if(response.shipped_status == "closed"){
				<%= type %>_line_row.find(".shipping_status").addClass("success");
				<%= type %>_line_row.find(".shipping_status").html("Saved and closed successfully!");
				<%= type %>_line_row.hide(1000, arguments.callee);
				setTimeout(function(){<%= type %>_line_row.remove();}, 1001);
			}
			else{
				<%= type %>_line_row.find(".shipping_status").addClass("success");
				<%= type %>_line_row.find(".shipping_status").html("Saved successfully!");
				<%= type %>_line_row.find(".<%= type %>_line_quantity_open").html(response.quantity_open);			
				<%= type %>_line_row.find(".<%= type %>_line_shipping_input input[type=text]").val("0");
				<%= type %>_line_row.find(".<%= type %>_line_shelf_input input[type=text]").val("");
				<%= type %>_line_row.find(".<%= type %>_line_unit_input input[type=text]").val("");
			}
		}
	}

	$(document).on("click", ".btn_save_shipped", function(){
		process_shipping_inputs($(this));
	});

	function process_shipping_inputs(current_field){
		var so_line_id = current_field.attr("<%= type %>_line_id");
		current_field_temp = current_field;
		get_quality_lots(so_line_id);	
		// return false;
	}

	$(document).ready(function(){	
		$('#modal-simple').on('shown.bs.modal', function (e) {
		})
	});

	<% if type == "po" %>

		$(document).on("keydown", ".<%= type %>_line_shipping_input input[type=text]", function(e){
		    table_row_next_focus(e, "#table_report_shipping_items", $(this), ".<%= type %>_line_unit_input input[type=text]", false);
		});

		$(document).on("keydown", ".<%= type %>_line_unit_input input[type=text]", function(e){
		    table_row_next_focus(e, "#table_report_shipping_items", $(this), ".<%= type %>_line_shelf_input input[type=text]", false);
		});

		$(document).on("keydown", ".<%= type %>_line_shelf_input input[type=text]", function(e){
		    table_row_next_focus(e, "#table_report_shipping_items", $(this), ".<%= type %>_line_shipping_input input[type=text]", true);
		});
		
	<% else %>
		$(document).on("keydown", ".<%= type %>_line_shipping_input input[type=text]", function(e){
		    table_row_next_focus(e, "#table_report_shipping_items", $(this), ".<%= type %>_line_shipping_input input[type=text]", true);
		});
	<% end %>

	function initiate_shipping_inputs(){
		$(".shipping_status").html("");
		$(".shipping_status").removeClass("success");
		$(".shipping_status").removeClass("error");
		
		$(".shipping_input_field").each(function(){
			if(parseFloat($(this).val()) > 0){
				process_shipping_inputs($(this));
			}				
		});
	}

	function process_all_open(shipping_id, current_element){
        if(confirm("Are you sure?")){
        	$(".shipping_input_<%= type %>_" + shipping_id).each(function(){
        		$(this).val($(this).closest("tr").find(".<%= type %>_line_quantity_open").html());
        	});
        	initiate_shipping_inputs();
        }
    }

    function fill_po_items(header_id){
        $(".shipping_input_<%= type %>_" + header_id).each(function(){
            $(this).val($(this).closest("tr").find(".<%= type %>_line_quantity_open").html());
        });
    }

    function get_quality_lots(id){
    	initialize_api_call({"url": "/common_actions/get_info", "type": "GET", "data_type": "json", "params": {"mode": "get_quality_lots", "id": id}}, "set_quality_lots_option", {});
    }
    function set_quality_lots_option(response, callback_params, api_params) {
    	if(response["aaData"].length == 0){
	 		after_quality_lot_select();
	    }
    	else{
    		$('#modal-simple').modal('show');
	    	$('#quality_lot').empty();
	    	$.each(response["aaData"], function (i,item) {
	    		if(item.length != 0 ){
				    $('#quality_lot').append($('<option>', { 
				        value: item[0],
				        text : item[1] 
				    }));				 
				}
			});
			$("#quality_lot").prepend("<option value='' selected='selected'></option>");
    	}    
    }
   
    // set quality id from popup
    function set_quality_lot_id(){
    	quality_lot_id = $('#quality_lot').val();
    	after_quality_lot_select(quality_lot_id);
    }
	function after_quality_lot_select(qualityLotId) {
		$(".shipping_status").html("");
		$(".shipping_status").removeClass("success");
		$(".shipping_status").removeClass("error");
		var <%= type %>_line_row = current_field_temp.closest("tr");
		var <%= type %>_line_id = current_field_temp.attr("<%= type %>_line_id");
		var <%= type %>_shipped_status = current_field_temp.attr("<%= type %>_shipped_status");

		var <%= type %>_line_shipping = <%= type %>_line_row.find(".<%= type %>_line_shipping_input input[type=text]").val();
		var <%= type %>_line_shelf = <%= type %>_line_row.find(".<%= type %>_line_shelf_input input[type=text]").val();
		var <%= type %>_line_unit = <%= type %>_line_row.find(".<%= type %>_line_unit_input input[type=text]").val();
		if(parseFloat(<%= type %>_line_shipping) > 0)
			initialize_api_call({"url": "/<%= type %>_shipments", "type": "POST", "data_type": "json", "params": {"<%= type %>_shipment":{"quality_lot_id":qualityLotId,"<%= type %>_line_id":<%= type %>_line_id, "<%= type %>_shipped_count":<%= type %>_line_shipping, "<%= type %>_shipped_shelf":<%= type %>_line_shelf, "<%= type %>_shipped_unit":<%= type %>_line_unit, "<%= type %>_shipped_status":<%= type %>_shipped_status}}}, "shipment_row_callback", {"<%= type %>_line_row":<%= type %>_line_row});
		else{
			<%= type %>_line_row.find(".shipping_status").addClass("error");
			<%= type %>_line_row.find(".shipping_status").html("Item count is invalid!");
		}
	}    

</script>