<!-- Top navbar (note: add class "navbar-hidden" to close the navbar by default) -->
<div class="navbar main hidden-print">

    <!-- Wrapper -->
    <div class="wrapper">            
                    
        <!-- Menu Toggle Button -->
        <button type="button" class="btn btn-navbar">
            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <!-- // Menu Toggle Button END -->
                        
        <!-- Top Menu Left -->
        <ul class="topnav pull-left tn1 hidden-phone">                
            <!-- <li>
                <a href="#themer" data-toggle="collapse" class="glyphicons eyedropper single-icon"><i></i></a>
            </li> -->                                   
                                
            <li class="dropdown dd-1 dd-2 alarm">
                <ul class="dropdown-menu pull-left w_width" id="notify_count" >
          
                    <!-- <li><a href="#" class="glyphicons chat"><i></i> 5 Messages</a></li>
                    <li><a href="#" class="glyphicons conversation"><i></i> 1 New Reply</a></li> -->
                </ul>
            </li>                    
        </ul>
        <!-- // Top Menu Left END -->
                        
        <!-- Top Menu Right -->
        <ul class="topnav pull-right">                
            <!-- Language menu -->
            <!-- <li class="hidden-phone dropdown dd-1 dd-flags" id="lang_nav">
                <a href="#" data-toggle="dropdown"><img src="/common/theme/images/lang/en.png" alt="en" /></a>
                <ul class="dropdown-menu pull-left">
                    <li class="active"><a href=""> English</a></li>
                    <li><a href="" title="Romanian"><img src="/common/theme/images/lang/ro.png" alt="Romanian"> Romanian</a></li>
                    <li><a href="" title="Italian"><img src="/common/theme/images/lang/it.png" alt="Italian"> Italian</a></li>
                    <li><a href="" title="French"><img src="/common/theme/images/lang/fr.png" alt="French"> French</a></li>
                    <li><a href="" title="Polish"><img src="/common/theme/images/lang/pl.png" alt="Polish"> Polish</a></li>
                </ul>
            </li> -->
            <!-- // Language menu END -->
        
            <!-- Dropdown -->
            <li class="dropdown dd-1 visible-desktop">
                <a href="" data-toggle="dropdown" class="glyphicons share"><i></i>Shortcuts <span class="caret"></span></a>


                <ul class="dropdown-menu pull-right">   
                    <%= CommonActions.process_application_shortcuts('', @shortcuts).html_safe %>     
                </ul>
            </li>
            <!-- // Dropdown END -->
            
            <!-- Profile / Logout menu -->
            <li class="account dropdown dd-1">
                <a data-toggle="dropdown" href="#" class="glyphicons logout lock">
                    <span class="hidden-phone"><%= current_user.name %></span><i></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="<%= edit_user_registration_path %>" class="glyphicons lock">Account<i></i></a></li>
                    <li class="profile">
                        <span>
                            <!-- <span class="heading">Profile <a href="#">edit</a></span> -->
                            <span class="img"></span>
                            <span class="details">
                                <a href="#"><%= current_user.name %></a>
                                <br />
                                <%= current_user.email %>
                            </span>
                            <span class="clearfix"></span>
                        </span>
                    </li>
                    <li>
                        <span>
                            <a class="btn btn-default btn-mini pull-right" href="<%= destroy_user_session_path %>" data-method="delete">Sign Out</a>
                        </span>
                    </li>
                </ul>
            </li>
            <!-- // Profile / Logout menu END -->

        </ul>
        <!-- // Top Menu Right END -->        
                        
        <div class="clearfix"></div>

    </div>
    <!-- // Wrapper END -->
    
    <span class="toggle-navbar"></span>

</div>
<!-- Top navbar END -->

<script type="text/javascript">

    $(document).ready(function(){    
  
        initiate_notifications();
        $("#notify_count li").click(function() {
            notification_status_change($(this).attr('id'));
        });

    });

    function notification_status_change(notify_id){
        initialize_api_call({"url": "/common_actions/get_info", "type": "GET", "data_type": "json", "params": {"mode": "set_notification_status", "id": notify_id}}, "set_quality_lots", {});
    }

    function initiate_notifications(){

            var load_me = "<%= CommonActions.process_application_notifications(current_user.id).html_safe %>" ;
            $("#notify_count").append(load_me);
            set_notifications();
    }

    function set_notifications(){
        var count_val = $("#notify_count li").length;
        if(count_val != 0){
         
            $(".alarm").append('<a href="" data-toggle="dropdown">Notifications <span class="count" id="count_no">'+count_val+'</span></a>');
        }
        else{
            $("#notify_count").append( "<li><a href='' class='glyphicons envelope'><i></i>No messages</a></li>");
            $(".alarm").append('<a href="" data-toggle="dropdown">Notifications <span class="count" id="count_no">'+count_val+'</span></a>');
        }        
        

    }
  


</script>

<style>
.w_width {
width: 330px !important;
}
</style>