<%= simple_form_for(@master_type, :html => {:id => "form_for_masters",:class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :type_name, :label => "Name" %>
    <%= f.input :type_description, :label => "Description" %>
    <%= f.input :type_value, :label => "Value" %>
    <%= f.input :type_category, :label => "Category" %>
    <%= f.input :type_active, :label => "Active" %>
  </div>

  <div class="form-actions">
      <%= f.button :submit, "Submit" %>
      <%= link_to 'Back', master_types_path, :class => "btn" %>
  </div>
<% end %>


<script type="text/javascript">
    tab_field_forms["form_for_masters"] = ["master_type_type_name", "master_type_type_description", "master_type_type_value", "master_type_type_category", "master_type_type_active"];
</script>
