<h1>Listing master_types</h1>

<table>
  <tr>
    <th>Type name</th>
    <th>Type description</th>
    <th>Type category</th>
    <th>Type active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @master_types.each do |master_type| %>
  <tr>
    <td><%= master_type.type_name %></td>
    <td><%= master_type.type_description %></td>
    <td><%= master_type.type_category %></td>
    <td><%= master_type.type_active %></td>
    <td><%= link_to 'Show', master_type %></td>
    <td><%= link_to 'Edit', edit_master_type_path(master_type) %></td>
    <td><%= link_to 'Destroy', master_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Master type', new_master_type_path %>
