<p></p>
<% if notice %><p id="notice" class="alert alert-info"><%= notice %></p><% end %>

<div class="row-fluid span8">
    <div class="label label-large label-info arrowed-in arrowed-right">
        <h4>Quality Info</h4>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
              <td class="span2">Quality Name :</td>
              <td class="span5"><%= @vendor_quality.quality_name %></td>
            </tr>

            <tr>
              <td class="span3">Description :</td>
              <td class="span5"><%= @vendor_quality.quality_description %></td>
            </tr>

            <tr>
              <td class="span3">Notes :</td>
              <td class="span5"><%= @vendor_quality.quality_notes %></td>
            </tr>
        </tbody>
    </table>

  <div class="form-actions">
    <%= link_to 'Edit', edit_vendor_quality_path(@vendor_quality), :class => "btn btn-small" %>
    <%= link_to 'Back to Qualities', vendor_qualities_path, :class => "btn btn-small" %>
  </div>
</div>