  <!-- Wells -->
<div class="row-fluid">
    <h4 class="span3 left">Quality ID Info</h4>
    <span class="span9 right">
        <%= link_to 'Edit', edit_vendor_quality_path(@vendor_quality), :class => "btn btn-small" %>
        <%= link_to 'Back to Qualities', vendor_qualities_path, :class => "btn btn-small" %>
    </span>
</div>

<div class="row-fluid">
    <div class="span3 well item_detail_view">
        <table class="table">
            <tbody>
                <tr>
                  <td class="span2">Quality Name :</td>
                  <td class="span5"><%= @vendor_quality.quality_name %></td>
                </tr>

                <tr>
                  <td class="span3">Description :</td>
                  <td class="span5"><%= @vendor_quality.quality_description %></td>
                </tr>

                <tr>
                  <td class="span3">Notes :</td>
                  <td class="span5"><%= @vendor_quality.quality_notes %></td>
                </tr>

                <tr>
                  <td class="span3">Active :</td>
                  <td class="span5"><%= @vendor_quality.quality_active %></td>
                </tr>
            </tbody>
          </table>
    </div>

    <div class="span9"> 
        <!-- Attachments -->
        <%= render 'attachments/attachments' %>
    </div>
</div>