<div class="row-fluid">
  <!-- <div class="span4 well item_detail_view">
      <div id="quote_item_info"></div>
  </div> -->
  <%#= render :partial => 'quotes/quote_info', locals: {show_quote_to: @quote.organization.present?} %>
  <%= render :partial => 'quotes/quote_info' unless @quote.new_record? %>

  <div class="span8 well item_detail_view">
      <%= simple_form_for(@quote, :html => {:id => "form_for_quote",:class => "form-horizontal"}) do |f| %>
        <%= f.error_notification %>
        
        <div class="form-inputs">
               <%= f.association :customer, :url => autocomplete_organization_organization_name_organizations_path(type: "customer"), :as => :autocomplete, :id_element => '#customer_id', :label => "Customer"%>

                <%= hidden_field_tag :customer_id, (@quote.customer.id if @quote.customer) %>

                <%= hidden_field_tag :org_customer_id, (@quote.customer.id if @quote.customer) %>        

            <%= f.input :quote_description, :label => "Description" %>
            <%#= f.input :quote_notes, :label => "Notes" %>
            <div class="control-group radio_buttons required quote_vendor_types_check" id="radio_button_val">
                <label class="radio_buttons required control-label"> Choose Vendor by</label>
                <div class="controls">
                    <label class="radio radio">
                        <%= radio_button_tag('vendor_type',"Vendor", :checked => true) %> Vendor
                    </label>
                    <label class="radio radio">
                         <%= radio_button_tag('vendor_type',"Group") %>Groups       
                    </label>                   
                </div>
            </div>
            <div id="vendor_div" style="padding-bottom:20px;">
                <div class="control-group">
                    <label for="quote_vendors" class="optional control-label">Vendors</label>
                    <div class="controls">
                        <%= select_tag "vendors[]", options_for_select(Organization.organizations("vendor").map {|org| [org.organization_name, org.id]}, @quote.persisted? ? (@quote.quote_vendors.empty? ? [] : @quote.quote_vendors.collect(&:organization_id)) : []), :multiple => true, :size => 5, :class => "multi_select_box", :id => "quote_organizations" %>
                    </div>
                </div>
            </div>
            <div id="group_div" style="padding-bottom:20px;">
                <div class="control-group">
                    <label for="quote_vendors" class="optional control-label">Groups</label>
                    <div class="controls">
                        <%= f.select :group_id, options_for_select(Group.all.map{ |group| [ group.group_name, group.id ] })%>
                    </div>
                </div>
            </div>            
        </div>

        <div class="separator bottom"></div>
        <div class="separator bottom"></div>

        <div class="form-actions">
            <%= f.submit "Submit", :class =>"btn" %>
            <%= link_to 'Delete', quote_path(@quote), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @quote.new_record? %>
            <%= link_to 'Back', quotes_path, :class =>"btn" %>
        </div>
      <% end %>
  </div>
</div>

<% unless @quote.new_record? %>
    <%= render :partial => 'quote_lines/line_items' %>
<% end %>

<script type="text/javascript">
    tab_field_forms["form_for_quote"] = ["quote_customer_id","quote_quote_description" ];
    $(document).ready(function(){ 
        $("#quote_customer_id").val("<%= @quote.customer.organization_name if @quote.customer %>");       

        $("#quote_customer_id").focus();

        vendor_type_changed();
    });

    $(document).on("change", "#radio_button_val", function(){
        vendor_type_changed();
    });

    function vendor_type_changed(){
        var vendor_type = $('input[name=vendor_type]:checked').val();

        if(vendor_type == "Vendor")
        {
            $("#vendor_div").show();
            $("#group_div").hide();
        }else{
            $("#vendor_div").hide();
            $("#group_div").show();
        }
    }
</script>