<% show_quote_to ||= false %>

<div class="span4 well item_detail_view">
  <table class="table">
      <tbody>
          <tr>
            <td class="span2">Quote Send ID:</td>
            <td class="span5"><strong><%= link_to @quote.quote_identifier, @quote %></strong></td>
          </tr>

          <tr>
            <td class="span2">Description:</td>
            <td class="span5"><strong><%= @quote.quote_description %></strong></td>
          </tr>

          <!-- <tr>
            <td class="span2">Total:</td>
            <td class="span5"><strong>$<%#= @quote.quote_total %></strong></td>
          </tr> -->

          <tr>
            <td class="span3">Notes:</td>
            <td class="span5"><strong><%= @quote.quote_notes %></strong></td>
          </tr>

          <tr>
            <td class="span3">Vendors:</td>
            <td class="span5"><strong><%= @quote.quote_vendors.collect{|vendor| link_to(vendor.organization.organization_name, vendor.organization) }.join(",  ").html_safe %></strong></td>
          </tr>

          <tr>
            <td class="span3">Quote Vendor:</td>
            <td class="span5"><strong>
            <%#= @quote.organizations.present? ? @quote.organizations.collect{|organization| link_to(organization.organization_name, organization_path(organization)) }.join(",  ").html_safe : CommonActions.highlighted_text("Not yet") %>

            <%= @quote.quote_active ? link_to(@quote.organization.organization_name, @quote.organization) : CommonActions.highlighted_text("Not yet") %></strong></td>
          </tr>

          <tr>
            <td class="span3">Quote PO:</td>
            <td class="span5"><strong>
            <%= @quote.po_headers.present? ? @quote.po_headers.collect{|po_header| link_to(po_header.po_identifier, po_header_path(po_header)) }.join(",  ").html_safe : CommonActions.highlighted_text("Not yet") %>


            <%#= @quote.quote_active ? link_to(@quote.po_header.po_identifier, @quote.po_header) : CommonActions.highlighted_text("Not yet")  %></strong></td>
          </tr>

      </tbody>
  </table>

<% if show_quote_to == true %>
    <div class="separator bottom"></div><div class="separator bottom"></div>

    <%= simple_form_for(@quote, :html => {:id => "form_for_quote"}) do |f| %>
      <div class="row-fluid">
          <div class="span4"><%= radio_button_tag 'quote_po_type', "create_po", (@quote.quote_po_type != "existing_po"), class: "quote_po_type_option" %>Create PO</div>
          <div class="span4"><%= radio_button_tag 'quote_po_type', "existing_po", (@quote.quote_po_type == "existing_po"), class: "quote_po_type_option" %>Existing PO</div>
          <div class="span4"></div>
      </div>

      <div class="row-fluid">
          <div class="span12 well">
              <%= f.error_notification %>
              <div class="form-inputs">
                  <%= f.association :organization, label_method: :organization_name, label_value: :id, :label => "Organization", :include_blank => false, collection: @quote.vendors %>

                  <%= f.association :po_header, label_method: :po_identifier, label_value: :id, :label => "PO", :include_blank => false, collection: [], wrapper_html: { id: 'quote_org_po_header' } %>         
                  <%= label_tag :no_of_item %>

                  <%= text_field_tag :item_quantity %>

                  <%= f.submit "Submit", :class =>"btn" %>

              </div>
          </div>
      </div>
    <% end %>
<% end %>

</div>


<% if show_quote_to == true %>
    <script type="text/javascript">
        tab_field_forms["form_for_lots"] = ["quote_organization_id", "quote_po_header_id"];

        $(document).ready(function(){
            change_po_type_field();
        });

        $(document).on("change", ".quote_po_type_option", function(){
            change_po_type_field();
        });

        $(document).on("change", "#quote_organization_id", function(){
            $('#vendor_lines_table_ *').prop('disabled', true);
        }); 

        $(document).on("change", "#quote_organization_id", function(){
          if($(".quote_po_type_option:checked").val() == "existing_po")
              initialize_api_call({"url": "/common_actions/get_info", "type": "GET", "data_type": "json", "params": {"mode": "organization_open_pos", "id": $("#quote_organization_id").val()}}, "set_organization_open_pos", {});
        });

        function change_po_type_field(){
            if($(".quote_po_type_option:checked").val() == "create_po")
                $("#quote_org_po_header").hide();
            else{
                $("#quote_org_po_header").show();
                initialize_api_call({"url": "/common_actions/get_info", "type": "GET", "data_type": "json", "params": {"mode": "organization_open_pos", "id": $("#quote_organization_id").val()}}, "set_organization_open_pos", {});
            }
            $("#quote_organization_id").focus();
        }

        function set_organization_open_pos(response, callback_params, api_params){
            var html = $.trim(Mustache.render($(".po-select-box-template").html(), response));
            $("#quote_po_header_id").html(html);
        }  

        // Appending the data
        $("#form_for_quote").submit( function(eventObj){
            $(this).append('<input type="hidden" name="field_name" value="value" /> ');               
            return true;
        });

    </script>

    <%= render :partial => 'layouts/app_layouts/mustache_templates', locals: {type: "po-select-box"} %>
<% end %>