<% show_quote_types ||= false %>
<!-- Widget -->
<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">Quotes</h4>
            <span class="span6 heading right">
                <%= link_to 'New Quote', new_quote_path, :class => "btn btn-mini btn-success" if !show_quote_types %>
                <%= link_to 'Customer', item_path(@item, type: "customer"), :class => "btn btn-mini btn-success" if show_quote_types %>
                <%= link_to 'Vendor', item_path(@item, type: "vendor"), :class => "btn btn-mini btn-success" if show_quote_types %>
            </span>
        </div> 
    </div>
    <!-- // Widget heading END -->
    <div class="widget-body">
        <table id="table_report_quote_list" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <% if @item.present? || @organization.present? %>
                        <th>Quote</th>
                        <th>Vendors</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Notes</th>
                        <th>Created at</th>
                    <% else %>             
                        <th>Quote Send Id</th>
                        <th>Vendors</th>                  
                        <th>Description</th>                      
                        <th></th>         
                    <% end %>                    
                </tr>
            </thead>
            <tbody>                
            </tbody>
        </table>
    </div>
</div>
<% if @item.present? %>
    <%= render :partial => 'layouts/app_layouts/data_table', :locals => 
        {:name => "table_report_quote_list", 
            :path => quotes_path(:item_id => (@item.present? ? @item.id : nil)), 
            :extras => {:slno => false},
            :columns => '[
                            { "mData": "quote_group_id" },
                            { "mData": "vendor_name" },
                            { "mData": "price" },
                            { "mData": "quantity"},
                            { "mData": "notes"},
                            { "mData": "created" },                           
                        ]' 
        }
    %>
<% elsif @organization.present? %>
    <%= render :partial => 'layouts/app_layouts/data_table', :locals => 
        {:name => "table_report_quote_list", 
            :path => quotes_path(:organization_id => (@organization.present? ? @organization.id : nil)), 
            :extras => {:slno => false},
            :columns => '[
                            { "mData": "quote_group_id" },
                            { "mData": "vendor_name" },
                            { "mData": "price" },
                            { "mData": "quantity"},
                            { "mData": "notes"},
                            { "mData": "created" },                           
                        ]' 
        }
    %>
<% else %>
    <%= render :partial => 'layouts/app_layouts/data_table', :locals => 
        {:name => "table_report_quote_list", 
            :path => quotes_path(:item_id => (@item.present? ? @item.id : nil)), 
            :extras => {:slno => false},
            :columns => '[
                        { "mData": "quote_group_id" },
                        { "mData": "vendor_name" },
                        { "mData": "quote_description" },
                        { "mData": "links", "bSortable": false, "bSearchable": false }
                    ]'
        }    
    %>
<% end %>