<h1>Listing quotes</h1>

<table>
  <tr>
    <th>Quote identifier</th>
    <th>Quote description</th>
    <th>Quote total</th>
    <th>Quote status</th>
    <th>Quote notes</th>
    <th>Quote active</th>
    <th>Quote created</th>
    <th>Quote updated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quotes.each do |quote| %>
  <tr>
    <td><%= quote.quote_identifier %></td>
    <td><%= quote.quote_description %></td>
    <td><%= quote.quote_total %></td>
    <td><%= quote.quote_status %></td>
    <td><%= quote.quote_notes %></td>
    <td><%= quote.quote_active %></td>
    <td><%= quote.quote_created_id %></td>
    <td><%= quote.quote_updated_id %></td>
    <td><%= link_to 'Show', quote %></td>
    <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
    <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quote', new_quote_path %>
