<div class="row-fluid">
    <h4 class="span3 left">Quote Info<span></span></h4>
    <span class="span9 right">
        <%#= link_to 'Edit', edit_quote_path(@quote), :class => "btn btn-small" unless @quote.organization %>    
        <%= link_to 'Back', quotes_path, :class => "btn btn-small" %>
    </span>    
</div>

<div class="row-fluid">

   <div class="row-fluid item_detail_classic_btn">
        <div class="span4 well well-002">
              <a class="widget-stats" id="alt_address_btn" data-toggle="modal" href="#modal-simple" class="btn btn-small btn-success">
                  <span class="glyphicons message_out"><i></i></span>
                  <span class="txt">Send</span>
                  <div class="clearfix"></div>
              </a>
        </div>

        <div class="span4 well well-002">
              <a class="widget-stats" href="#" id="contacts_btn" onclick="purchase_report()">
                  <span class="glyphicons print"><i></i></span>
                  <span class="txt">Print</span>
                  <div class="clearfix"></div>
              </a>
        </div>
    </div>
   

    <%= render :partial => 'quote_lines/line_items', locals: { show_buttons: true } %>   
   
</div>

<div class="separator bottom"></div>

<% @quote.quote_vendors.each do |quote_vendor| %>
    <div class="well">
        <div class="separator bottom"></div>
        <%= render :partial => 'quote_lines/vendor_lines', locals: {quote_vendor: quote_vendor, quote: @quote, edit_page: false} %>
        <%= render :partial => 'attachments/attachment_list', locals: { attachable: quote_vendor }%>        
    </div>
    <div class="separator bottom"></div>
    <div class="separator bottom"></div>
    <br>
<% end %>

 <!-- unless @quote.organization -->
<!-- , locals: {show_buttons: !@quote.organization.present? } -->

<div class="separator bottom"></div>

<!-- Attachments -->
<div class="row-fluid">
    <div class="attachment-pulp">
        <%= render :partial => 'attachments/droppable_form_plup_less' %>
    </div>
    <div class="span8">
        <%= render 'attachments/attachments_less' %>
    </div>
</div>

<div class="separator bottom"></div>

<!-- Comments -->
<%= render :partial => 'comments/comments', 
:locals => {:extras => {:link => populate_quote_path(type: "note", id: @quote)}} %>

<script type="text/javascript">
    function after_send(){
        // alert("sucess")
    }
    function send_mail_vendor(){
        initialize_api_call({"url": "/common_actions/get_info", "type": "GET", "data_type": "json", "params": {"mode": "send_quotes_mail", "organizations": $('#send_mail').serializeArray() }}, "after_send", {});
    }
</script>
<style type="text/css">
    #move-submit {
        margin-left: -411px;
        margin-top: -521px;
        position: relative;
    } 
   

</style>

<div class="modal hide fade" id="modal-simple">
    <div class="modal-header">
        <h3>Send Quote</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
        <form id="send_mail">
            <table class="dynamicTable table table-striped table-bordered" id="vendor_lines_table_2">
                <thead>
                    <tr>
                        <th>Vendor Name</th>
                        <th>Contacts</th>
                    </tr>
                </thead>
                <tbody>
                    <% @quote.quote_vendors.includes(:organization).each do |quote_vendor| %>
                        <tr>
                            <td><%= quote_vendor.organization.organization_name %></td>
                            <td><%= select_tag "#{quote_vendor.organization.id}", options_for_select(quote_vendor.organization.contacts.map{ |contact| [ contact.contact_title, contact.id ] }), :class => "status-select", :id => "set_status" %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-small btn-success" data-dismiss="modal" aria-hidden="true" onclick="send_mail_vendor();">Send</button>
    </div>
</div>

<style> 
.span4.well.well-002 {
    width: 49%;
}
</style>