<%= form_for([@quality_lot_gauge_dimension.quality_lot_gauge, @quality_lot_gauge_dimension]) do |f| %>
  <% if @quality_lot_gauge_dimension.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quality_lot_gauge_dimension.errors.count, "error") %> prohibited this quality_lot_gauge_dimension from being saved:</h2>

      <ul>
      <% @quality_lot_gauge_dimension.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quality_lot_gauge %><br />
    <%= f.text_field :quality_lot_gauge %>
  </div>
  <div class="field">
    <%= f.label :item_part_dimension %><br />
    <%= f.text_field :item_part_dimension %>
  </div>
  <div class="field">
    <%= f.label :lot_gauge_dimension_active %><br />
    <%= f.check_box :lot_gauge_dimension_active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
