<h1>Listing quality_lot_gauge_dimensions</h1>

<table>
  <tr>
    <th>Quality lot gauge</th>
    <th>Item part dimension</th>
    <th>Lot gauge dimension active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quality_lot_gauge_dimensions.each do |quality_lot_gauge_dimension| %>
  <tr>
    <td><%= quality_lot_gauge_dimension.quality_lot_gauge %></td>
    <td><%= quality_lot_gauge_dimension.item_part_dimension %></td>
    <td><%= quality_lot_gauge_dimension.lot_gauge_dimension_active %></td>
    <td><%= link_to 'Show', [quality_lot_gauge_dimension.quality_lot_gauge, quality_lot_gauge_dimension] %></td>
    <td><%= link_to 'Edit', edit_quality_lot_gauge_quality_lot_gauge_dimension_path(quality_lot_gauge_dimension.quality_lot_gauge, quality_lot_gauge_dimension) %></td>
    <td><%= link_to 'Destroy', [quality_lot_gauge_dimension.quality_lot_gauge, quality_lot_gauge_dimension], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quality lot gauge dimension', new_quality_lot_gauge_quality_lot_gauge_dimension_path(params[:quality_lot_gauge_id]) %>
