<p id="notice"><%= notice %></p>

<p>
  <b>Customer quote:</b>
  <%= @customer_quote_line.customer_quote %>
</p>

<p>
  <b>Item:</b>
  <%= @customer_quote_line.item %>
</p>

<p>
  <b>Item revision:</b>
  <%= @customer_quote_line.item_revision %>
</p>

<p>
  <b>Item alt name:</b>
  <%= @customer_quote_line.item_alt_name %>
</p>

<p>
  <b>Customer quote line description:</b>
  <%= @customer_quote_line.customer_quote_line_description %>
</p>

<p>
  <b>Customer quote line identifier:</b>
  <%= @customer_quote_line.customer_quote_line_identifier %>
</p>

<p>
  <b>Customer quote line quantity:</b>
  <%= @customer_quote_line.customer_quote_line_quantity %>
</p>

<p>
  <b>Customer quote line cost:</b>
  <%= @customer_quote_line.customer_quote_line_cost %>
</p>

<p>
  <b>Customer quote line status:</b>
  <%= @customer_quote_line.customer_quote_line_status %>
</p>

<p>
  <b>Customer quote line notes:</b>
  <%= @customer_quote_line.customer_quote_line_notes %>
</p>

<p>
  <b>Customer quote line active:</b>
  <%= @customer_quote_line.customer_quote_line_active %>
</p>

<p>
  <b>Customer quote line created:</b>
  <%= @customer_quote_line.customer_quote_line_created_id %>
</p>

<p>
  <b>Customer quote line updated:</b>
  <%= @customer_quote_line.customer_quote_line_updated_id %>
</p>


<%= link_to 'Edit', edit_customer_quote_customer_quote_line_path(@customer_quote_line.customer_quote, @customer_quote_line) %> |
<%= link_to 'Back', customer_quote_customer_quote_lines_path(@customer_quote_line.customer_quote) %>
