<%= simple_form_for(@print, :html => {:id => "form_for_print", :class => "form-horizontal"}) do |g| %>
  <%= g.error_notification %>

 <!--  <div class="form-inputs">
    <%#= f.input :print_identifier, :label => "Name", :autofocus => true %>
    <%#= f.input :print_description, :label => "Description" %>
    <%#= f.input :print_notes, :label => "Notes" %>
    <%#= f.input :print_active, :label => "Active" %>
  </div> -->
  
<div class="form-inputs">
  <%= g.simple_fields_for :attachment do |f| %>    
        <%= render :partial => 'attachments/attachment_fields', :locals => {f: f} %>
  <% end %>
</div>

  <div class="form-actions">
    <%= g.button :submit %>
         <%= link_to 'Delete', print_path(@print), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @print.new_record? %>

    <%= link_to 'Back to Prints', prints_path,:class =>"btn" %>
  </div>
<% end %>


<script type="text/javascript">
  tab_field_forms["form_for_print"] = ["print_attachment_attributes_attachment_name", "print_attachment_attributes_attachment_revision_title", "print_attachment_attributes_attachment_revision_date", "print_attachment_attributes_attachment_description", "print_attachment_attributes_attachment_public", "print_attachment_attributes_attachment"];

  <% date_box_date = @print.new_record? ? Date.today : @print.attachment.attachment_revision_date %> 

  date_box_fields = date_box_fields.concat([{"name":"print_attachment_attributes_attachment_revision_date", "value":"<%= date_box_date %>"}]);
</script>