<div class="row-fluid span8">
  <div class="label label-large label-info arrowed-in arrowed-right">
        <h4>Print Info</h4>
  </div>
    <table class="table table-striped table-bordered">
      <tbody>      
        <tr>
          <td>Print identifier:</td>
          <td><%= @print.print_identifier %></td>
        </tr>

        <tr>
          <td>Print description:</td>
          <td><%= @print.print_description %></td>
        </tr>

        <tr>
          <td>Print notes:</td>
          <td><%= @print.print_notes %></td>
        </tr>

         <tr>
          <td>Print active:</td>
          <td><%= @print.print_active %></td>
        </tr>
      </tbody>
    </table>
  <div class="form-actions">
    <%= link_to 'Edit', edit_print_path(@print), :class => "btn"%>     
    <%= link_to 'Back to Prints', prints_path, :class =>"btn" %>
  </div>
</div>