<%= simple_form_for(@run_at_rate, :html => {:id => "form_for_run_at_rates",:class => "form-horizontal", :multipart => true}) do |g| %>
  <%= g.error_notification %>

  <%= g.simple_fields_for :attachment do |f| %>
    <div class="form-inputs">        
        <%= render :partial => 'attachments/attachment_fields', :locals => {f: f} %>
    </div>
  <% end %>

  <div class="separator bottom"></div> 

  <div class="form-actions">
    <%= g.button :submit, :class => "btn" %>

    <%= link_to 'Delete', run_at_rate_path(@run_at_rate), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @run_at_rate.new_record? %>
    
    <%= link_to 'Back to Run at rate', run_at_rates_path, :class => "btn" %>
  </div>
<% end %>

<script type="text/javascript">
  tab_field_forms["form_for_run_at_rates"] = ["run_at_rate_attachment_attributes_attachment_name", "run_at_rate_attachment_attributes_attachment_revision_title", "run_at_rate_attachment_attributes_attachment_revision_date", "run_at_rate_attachment_attributes_attachment_description", "run_at_rate_attachment_attributes_attachment_public", "run_at_rate_attachment_attributes_attachment_active", "run_at_rate_attachment_attributes_attachment"];

  <% date_box_date = @run_at_rate.new_record? ? Date.today : @run_at_rate.attachment.attachment_revision_date %> 

  date_box_fields = date_box_fields.concat([{"name":"run_at_rate_attachment_attributes_attachment_revision_date", "value":"<%= date_box_date %>"}]);
</script>
