<%= simple_form_for(@ppap, :html => {:id => "form_for_ppap",:class => "form-horizontal"}) do |f| %>
    <%= f.error_notification %> 
  <div class="separator bottom"></div> 
  <div class="separator bottom"></div> 
  <div class="form-inputs">
    <%= f.input :quality_lot_id, :as => :hidden, :input_html => { :value => "#{@quality_lot.id}" }%>
    <div class="control-group">
        <label for="item_processes" class="optional control-label">Reason For Submission</label>
        <div class="controls">
            <%= select_tag "reason_for_submission[]", options_for_select([["Initial Submission","initial_submission"], ["Re-Submission", "re_submission"], ["Change To Material Used", "change_to_materials_used"], ["Revision Change", "revision_change"], ["Camo pattern new to part", "camo_pattern_new_to_part"], ["Tooling transfer, refurbishment,", "tooling_replacement"], ["Process Change", "process_change"], ["Change in mfg source", "Change_in_mfg_source"]], @ppap.persisted? ? @ppap.attributes.collect{|k| k[0] if k[1]==true}.compact : ""), :multiple => true, :size => 5, :class => "multi_select_box", :id => "customer_quality_levels" %>
        </div>
    </div>
   


    <div class="control-group">
        <label for="item_processes" class="optional control-label">Requested Submission Level</label>
        <div class="controls">
            <%= select_tag "reason_for_submission[]", options_for_select([["Warrant only", "level1"], ["Warrant with product samples and limited supporting data submitted to customer", "level2"], ["Warrant with product samples and complete supporting data submitted to custome", "level3"], ["Warrant and other requirements as defined by customer", "level4"], ["Warrant with product samples and complete supporting data reviewed at Mfg location", "level5"]], @ppap.persisted? ? @ppap.attributes.collect{|k| k[0] if k[1]==true}.compact : ""), :multiple => true, :size => 5, :class => "multi_select_box", :id => "customer_quality_levels" %>
        </div>
    </div>



    <div class="control-group">
        <label for="item_processes" class="optional control-label">Process Capability Study Submission Results</label>
        <div class="controls">
            <%= select_tag "reason_for_submission[]", options_for_select([["Purchasing Agreement", "purchasing_agreement"], ["First Article Parts (labelled)", "first_article_parts"], ["Part Submission Warrant", "part_submission_warrant"], ["FAI - Dimensional Inspection Results/ Eng Dwg", "fai_dimensional_inspection"], ["Packaging/Shipping", "packaging_shipping"], ["FAI - Material Test Results", "fai_material_test_result"], ["Component Review Meeting", "component_review_meeting"], ["Gage Review", "guage_review"], ["DFMEA- Design Failure Mode & Effect Analysis", "dfmea_desing"], ["Measurement Analysis Study (Gage R&R)", "measurement_analysis"], ["Process Flow Diagram", "process_flow_diagram"], ["Process Capability Study", "process_capabilty_study"], ["PFMEA - Process Failure Mode & Effect Analysis", "pfmea_analysis"], ["Production Run at Rate", "production_run_rate"], ["Control Plan", "control_plan"], ["Appearance Approval Report", "appearance_report"], ["Other", "Other"]], @ppap.persisted? ? @ppap.attributes.collect{|k| k[0] if k[1]==true}.compact : ""), :multiple => true, :size => 5, :class => "multi_select_box", :id => "customer_quality_levels" %>
        </div>
    </div>
    <%= f.input :result_meeting_yes, :collection => [["Yes", true], ['No  if "No" explain', false]], :label => "These results meet all drawing & specification requirements:" , :as => :radio %>
    <%#= f.input :result_meeting_no, :label => 'No if "No" explain' %>

    <%= f.input :past_hour, :label => "#Past/Hours :" %>
    <%= f.input :hour_run, :label => "#Hour/Run" %>
    <%= f.input :date %>
    <%= f.input :commited_weekly_capacity, :label => "Committed weekly capacity:" %>
    <%= f.input :maximum_weekly_capacity  %>
    <%= f.input :lathe_cnc, :label => "Lathe CNC Maching, Heat Treat Oven, Wash Bat Identify the constraint operation(s):" %>
    <%= f.input :comment, :label => "Explanation/Comments" %>
  </div>
    <div class="separator bottom"></div> 

    <div class="separator bottom"></div> 

    <div class="form-actions"> 
        <%= f.button :submit, "Submit", :class => 'btn' %>
        <%= link_to 'Delete', ppap_path(@ppap), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @ppap.new_record? %>

        <%= link_to 'Back', ppaps_path,:class =>"btn" %>
    </div>    
<% end %>