<div class="row-fluid span12 well packaging ppap">
    <div class="row-fluid">
        <h4 class="span3 left">Lot Info</h4>
        <span class="span9 right">
        <% if can? :edit , Ppap %>
            <%= link_to "Edit", edit_ppap_path(@ppap), :class => "btn btn-small" %>   
        <% end %>  
        <%= link_to "Back", ppaps_path, :class =>"btn btn-small" %>
        </span>
    </div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr >
            <td class="none-01 border-none">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr align="left" valign="top">
                        <th width="26%" scope="row" class="align">
                            <p>SUPPLIER</p>
                            <p>PART SUBMISSION WARRANT (PSW)</p>
                        </th>
                        <td width="74%" class="none-01">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr align="left" valign="top">
                                    <th scope="row" >Date</th>
                                    <th scope="row"><%= @ppap.created_at.strftime("%d/%m/%Y") %></th>
                                </tr>
                                <tr align="left" valign="top">
                                    <th scope="row">FAI #</th>
                                    <th scope="row"><%= @ppap.quality_lot.fai %> </th>
                                </tr>
                                <tr align="left" valign="top">
                                    <th scope="row">Part Number</th>
                                    <th scope="row"><%= @ppap.quality_lot.item_revision.item.item_part_no %></th>
                                </tr>
                                <tr align="left" valign="top">
                                    <th scope="row">Part Name</th>
                                    <th scope="row"><%= @ppap.quality_lot.item_revision.item_name %></th>
                                </tr>
                                <tr align="left" valign="top">
                                    <th scope="row">Drawing No.</th>
                                    <th scope="row"><%= @ppap.quality_lot.item_revision.item.item_part_no %></th>
                                </tr>
                                <tr align="left" valign="top">
                                    <th scope="row" class="none-01" colspan="2">
                                        <table width="100%" border="0" class="nothing">
                                            <tr align="left" valign="top">
                                                <th align="center" scope="row">Drawing Rev Level</th>
                                                <td><%= @ppap.quality_lot.item_revision.item_revision_name %></td>
                                                <td>Rev Date</td>
                                                <td> <%= @ppap.quality_lot.item_revision.updated_at.strftime("%d/%m/%Y") %> </td>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                                <tr align="left" valign="top">
                                    <th scope="row">Supplier</th>
                                    <th scope="row"><%= @ppap.quality_lot.po_header.organization.organization_name %></th>
                                </tr>
                                <tr align="left" valign="top">
                                    <th scope="row">PO No.</th>
                                    <th scope="row"><%= @ppap.quality_lot.po_header.po_identifier %></th>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr align="left" valign="top">
            <td class="none-01 test_kannan">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="nothing top-botton ">
                    <tr>
                        <th width="26%" scope="row" class="text-align">Reason For Submissiont</th>
                        <td width="23%" class="border-none">
                            <label> <%= check_box_tag 'initial_submission', "true", @ppap.initial_submission , :disabled => false %> Initial submission</label><br>
                            <label><%= check_box_tag 'revision_change', "true", @ppap.revision_change , :disabled => false %>Revision Change</label><br>
                            <label><%= check_box_tag 'process_change', "true", @ppap.process_change , :disabled => false %> Process Change</label>
                        </td>
                        <td width="26%" class="border-none">
                            <label><%= check_box_tag 're_submission', "true", @ppap.re_submission , :disabled => false %> Re-Submission </label><br>
                            <label><%= check_box_tag 'camo_pattern_new_to_part', "true", @ppap.camo_pattern_new_to_part , :disabled => false %>Camo pattern new to part </label><br>
                            <label><%= check_box_tag 'Change_in_mfg_source', "true", @ppap.Change_in_mfg_source , :disabled => false %>Change in mfg source </label>
                        </td>
                        <td width="25%" class="border-none">
                            <label><%= check_box_tag 'change_to_materials_used', "true", @ppap.change_to_materials_used , :disabled => false %>Change to materials used</label><br>
                            <label><%= check_box_tag 'tooling_replacement', "true", @ppap.tooling_replacement , :disabled => false %>Tooling transfer, refurbishment,replacement or additional</label> <br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="none-01">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th width="26%" scope="row" class="border-none" "text-align">Requested Submission Level</th>
                        <td width="74%"> 
                            <label>Level &nbsp; <%= radio_button_tag 'level', "true", @ppap.level1, :id => "level1" %> &nbsp;Warrant only </label><br>
                            <label>Level &nbsp; <%= radio_button_tag 'level', "true", @ppap.level2, :id => "level2" %> &nbsp; Warrant with product samples and limited supporting data submitted to customer </label><br>
                            <label>Level &nbsp; <%= radio_button_tag 'level', "true", @ppap.level3, :id => "level3" %> &nbsp; Warrant with product samples and complete supporting data submitted to customer </label><br>
                            <label>Level &nbsp; <%= radio_button_tag 'level', "true", @ppap.level4, :id => "level4" %> &nbsp;Warrant and other requirements as defined by customer </label><br>
                            <label>Level &nbsp; <%= radio_button_tag 'level', "true", @ppap.level5, :id => "level5" %> &nbsp;Warrant with product samples and complete supporting data reviewed at Mfg location  </label>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="none-01">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr align="left" valign="top">
                        <th width="26%" height="188" scope="row" class="text-align align">Submission Results<br>(check items included on the submission - must follow PPAP level requirements)</th>
                        <td width="35%" class="border-none">
                            <label>
                            <%= check_box_tag 'purchasing_agreement', "true",@ppap.purchasing_agreement %>
                            Purchasing Agreement</label>
                            <br>
                            <label>
                            <%= check_box_tag 'part_submission_warrant', "true",@ppap.part_submission_warrant %>
                            Part Submission Warrant  </label>
                            <br>
                            <label>
                            <%= check_box_tag 'packaging_shipping', "true",@ppap.packaging_shipping  %>
                            Packaging/Shipping </label>
                            <br>
                            <label>
                            <%= check_box_tag 'component_review_meeting', "true",@ppap.component_review_meeting  %>
                            Component Review Meeting </label>
                            <br>
                            <label>
                            <%= check_box_tag 'dfmea_desing', "true",@ppap.dfmea_desing %>
                            DFMEA- Design Failure Mode & Effect Analysis</label>
                            <br>
                            <label>
                            <%= check_box_tag 'process_flow_diagram', "true",@ppap.process_flow_diagram %>
                            Process Flow Diagram</label>
                            <br>
                            <label>
                            <%= check_box_tag 'pfmea_analysis', "true",@ppap.pfmea_analysis %>
                            PFMEA - Process Failure Mode & Effect Analysis</label>
                            <br>
                            <label>
                            <%= check_box_tag 'control_plan', "true",@ppap.control_plan %>
                            Control Plan</label>
                            <br>
                            <label>
                            <%= check_box_tag 'Other', "true",@ppap.Other %>
                            Other:</label>
                            <br>
                            <label for="checkbox9">
                            </label>
                        </td>
                        <td width="50%" class="border-none">
                            <p class="text-align-02">
                                <label>
                                <%= check_box_tag 'first_article_parts', "true",@ppap.first_article_parts , :disabled => false %>
                                First Article Parts (labelled)</label>
                                <br>
                                <label>
                                <%= check_box_tag 'fai_dimensional_inspection', "true",@ppap.fai_dimensional_inspection , :disabled => false %>
                                FAI - Dimensional Inspection Results/ Eng Dwg</label>
                                <br>
                                <label>
                                <%= check_box_tag 'fai_material_test_result', "true",@ppap.fai_material_test_result , :disabled => false %>
                                FAI - Material Test Results</label>
                                <br>
                                <label>
                                <%= check_box_tag 'guage_review', "true",@ppap.guage_review , :disabled => false %>
                                Gage Review</label>
                                <br>
                                <label>
                                <%= check_box_tag 'measurement_analysis', "true",@ppap.measurement_analysis , :disabled => false %>
                                Measurement Analysis Study (Gage R&R)</label>
                                <br>
                                <label>
                                <%= check_box_tag 'process_capabilty_study', "true",@ppap.process_capabilty_study , :disabled => false %>
                                Process Capability Study</label>
                                <br>
                                <label>
                                <%= check_box_tag 'production_run_rate', "true",@ppap.production_run_rate , :disabled => false %>
                                Production Run at Rate</label>
                                <br>
                                <label>
                                <%= check_box_tag 'appearance_report', "true",@ppap.appearance_report , :disabled => false %>
                                Appearance Approval Report</label>
                                <br>   
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td class="none-01">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th width="26%" scope="row"> </th>
                        <td width="74%"><label for="checkbox11">These results meet all drawing & specification requirements:  &nbsp;&nbsp;&nbsp; 
                         <%= radio_button_tag :result_meeting_yes, true, checked = @ppap.result_meeting_yes, :disabled =>  false, :id => "result_meeting_yes"%>&nbsp; 
                            Yes    <%= radio_button_tag :result_meeting_yes, true, checked = !@ppap.result_meeting_yes, :disabled => false, :id => "result_meeting_no" %>&nbsp;  No if "No" explain</label>
                          
                            <%#= radio_button_tag :result_meeting_yes, :collection => , :selected => @ppap.result_meeting_yes %>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="none-01">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th class="border-none">#Past/Hours : <%= @ppap.past_hour %></th>
                        <th>#Hour/Run: <%= @ppap.hour_run %></th>
                        <th>Date: <%=@ppap.date%></th>
                    </tr>
                    <tr>
                        <th>Committed weekly capacity: &nbsp; <%= @ppap.commited_weekly_capacity %></th>
                        <th colspan="2">Maximum Weekly Capacity:&nbsp;  <%= @ppap.maximum_weekly_capacity %></th>
                    </tr>
                    <tr>
                        <th colspan="3">Lathe CNC Maching, Heat Treat Oven, Wash Bat Identify the constraint operation(s):&nbsp;  <%= @ppap.lathe_cnc %></th>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<style type="text/css">

    td{border:1px solid #111;padding: 10px 15px;}
    th{border:1px solid #111;padding: 10px 15px;}
    
    .ppap, .ppap td, .ppap th, .ppap tr {
        border-color: #999!important;
        /*padding: 10px;*/
    }
    .ppap-no-border {
        border: 0; 
    }
    .none-01{padding: 0;}
    .row-fluid.span12.well.packaging.ppap {
    margin: 0;
    padding: 0;
}
.row-fluid h4 {
    padding: 10px 15px;
}
.span9.right {
    padding: 10px 15px;
}
.border-none{border: none;}
p{text-align: center !important;}
.text-align{text-align: center;}
.text-align-02{text-align: left !important;}
.align{padding:10% 0 0 0;}

    /*.nothing
    {
       border-collapse:collapse;
    } 
    .nothing td
    {
       border:none;
       outline:none;
    }*/
        /*td { 
        padding: 10px;
    }*/
    .top-botton {
        border-bottom: 0px;
    }
    .right-botom {
        border-right-style: solid;
    }
</style>
<script type="text/javascript">
    <% if can? :edit , Ppap %>
           
    
    $(function() {
        $(":checkbox").change(function(){
            set_value(this, "check");
            // $.post("index.php", { id: this.id, checked: this.checked });
        });


        $("input:radio").click(function (){
            set_value(this, "level");
          });
        function set_value(this1, type){
            initialize_api_call({"url": "/common_actions/get_info", "type": "GET", "data_type": "json", "params": {"mode": "set_psw_value", "psw_id": <%= @ppap.id %>, "value": this1.checked, "field": this1.id, "type": type}}, "results", {});
        }
    });
    function results(response, callback_params, api_params){
        if(response["aaData"] ==  "fail"){
            location.reload(true);
        }
    };
    <% end %>  
    // Disabling all the form elements if the user is cusotmer
    // $(".ppap :input").attr("disabled", true);
</script>