<% show_item_info ||=  false%>
<% show_send ||= false %>
<div class="god">
    <div class="span4 well item_detail_view">
        <table class="table">
            <tbody>
                <tr>
                    <td class="span2">Quote Send Id</td>
                    <td class="span5"><strong><%= CommonActions.linkable(customer_quote_path(@customer_quote), @customer_quote.customer_quote_identifier).html_safe %></strong></td>
                </tr>

                <tr>
                    <td class="span2">Customer</td>
                    <td class="span5"><strong><%= CommonActions.linkable(organization_path(@customer_quote.organization), @customer_quote.organization.organization_name).html_safe %></strong></td>
                </tr>

                <tr>
                    <td class="span2">Description</td>
                    <td class="span5"><strong><%= @customer_quote.customer_quote_description%></strong></td>
                </tr>
            </tbody>
        </table>
        <% if show_item_info %>
            <div class="separator bottom"></div>
            <h4 class="center">Item Info</h4>
            <div class="separator bottom"></div>
            <table>
                <tbody>
                  <tr>
                      <td class="span2">Vendor quoted price</td>
                      <td class="span5" id= "vendor_price" style="padding-left: 20px;"></td>
                  </tr>    
                </tbody>
            </table>
        <% end %>

        <div class="separator bottom"></div>
        <div class="separator bottom"></div>
    </div>

    <% if show_send %>   
        <div class="button1">
            <a class="btn btn-primary" data-toggle="modal" href="#modal-customer-quote" class="btn btn-small btn-success">Send</a>
            <div class="separator bottom"></div>
            <table>
                <tr>
                    <td class="quote">Quote Status</td>
                    <td> <%= select_tag :status, options_for_select([["Open","open"], ["Won","won"], ["Lost","lost"]], :selected => @customer_quote.customer_quote_status), :class => "status-select", :id => "set_status" %></td>        
                </tr>
            </table>
        </div> 
        <script type="text/javascript">
          $(document).on("change", "#set_status", function(){
              set_quote_status();
          });
          function set_quote_status(){
            initialize_api_call({"url": "/common_actions/get_info", "type": "GET", "data_type": "json", "params": {"mode": "set_customer_quote_status", "status_id": $("#set_status").val(), "customer_quote_id": <%= @customer_quote.id %>}}, "status_result", {});
          }
          function status_result(){

          }    
         </script>
    <% end %>
</div>

<style>
    .god {
        float: left;
        width: 326px;
    }
    .row-fluid .span4{width: 95%;}
    .button1 {
        float: left;
        width: 100px;
    }
   .status-select{
        width: 92px;
      }
      .quote {
        float: left;
        width: 90px !important;
      }
</style>