<div class="row-fluid">
    <h4 class="span3 left">Customer Quote Info<span></span></h4>
    <span class="span9 right">
        <%#= link_to 'Edit', edit_quote_path(@quote), :class => "btn btn-small" unless @quote.organization %>    
        <%= link_to 'Back',customer_quotes_path, :class => "btn btn-small" %>
    </span>    
</div>
<div class="row-fluid">

   <div class="row-fluid item_detail_classic_btn">

        <div class="span4 well well-002">
              <a class="widget-stats" id="alt_address_btn" data-toggle="modal" href="#modal-customer-quote" class="btn btn-small btn-success">
                  <span class="glyphicons message_out"><i></i></span>
                  <span class="txt">Send</span>
                  <div class="clearfix"></div>
              </a>
        </div>

        <div class="span4 well well-002">
              <a class="widget-stats" href="#" id="contacts_btn" onclick="purchase_report()">
                  <span class="glyphicons print"><i></i></span>
                  <span class="txt">Print</span>
                  <div class="clearfix"></div>
              </a>
        </div>
    </div>
    <%= render :partial => 'customer_quote_lines/customer_quote_line_list', :locals => { show_edit: true } %> 

</div>
<div class="separator bottom"></div>

<!-- Attachments -->
<div class="separator bottom"></div>

<div class="row-fluid">
    <div class="attachment-pulp">
        <%= render :partial => 'attachments/droppable_form_plup_less' %>
    </div>
    <div class="span8">
        <%= render 'attachments/attachments_less' %>
    </div>
</div>

<!-- Comments -->
<%= render :partial => 'comments/comments', 
:locals => {:extras => {:link => populate_customer_quote_path(type: "note", id: @customer_quote.id)}} %>

<script type="text/javascript">
    function send_customer_quote(){
        initialize_api_call({"url": "/common_actions/get_info", "type": "GET", "data_type": "json", "params": {"mode": "send_customer_quotes_mail", "contact": $('#contact_id').val(), "customer_quote_id": <%= @customer_quote.id %> }}, "after_send", {});
    }
    
    function after_send(response, callback_params, api_params){
        
        alert(JSON.stringify(response.aaData).replace(/\"/g, ' '));
    }
</script>

<div class="modal hide fade" id="modal-customer-quote">
    <div class="modal-header">
        <h3>Send Customer Quote</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        
    </div>
    <div class="modal-body">
        <form id="send_mail">
            <table class="dynamicTable table table-striped table-bordered" id="vendor_lines_table_2">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Contacts</th>
                    </tr>
                </thead>
                <tbody>                    
                        <tr>
                            <td><%= @customer_quote.organization.organization_name %></td>
                            <td><%= select_tag "#{@customer_quote.organization.id}", options_for_select(@customer_quote.organization.contacts.map{ |contact| [ contact.contact_email, contact.id ] }), :class => "status-select", :id => "contact_id" %></td>
                        </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-small btn-success" data-dismiss="modal" aria-hidden="true" onclick="send_customer_quote();">Send</button>
    </div>
</div>

<style> 
.span4.well.well-002 {
    width: 49%;
}
</style>












