<%= simple_form_for(@item_alt_name, :html => {:id => "form_for_item_alt_name",:class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :item, :url => autocomplete_item_item_part_no_items_path, :as => :autocomplete, :id_element => '#item_id', required: true, :label => "Item" + (params[:new_item].nil? ? "" : "" ) %>

  <%= hidden_field_tag :item_id, (@item_alt_name.item.id if @item_alt_name.item) %>

  <%= hidden_field_tag :org_item_id, (@item_alt_name.item.id if @item_alt_name.item) %>

    <%= f.association :organization, :url => autocomplete_organization_organization_name_organizations_path(type: "customer"), :as => :autocomplete, :id_element => '#organization_id', required: true, :label => "Customer" %>

  <%= hidden_field_tag :organization_id, (@item_alt_name.organization.id if @item_alt_name.organization) %>

  <%= hidden_field_tag :org_organization_id, (@item_alt_name.organization.id if @item_alt_name.organization) %>    

  <%= f.input :item_alt_identifier, label: "Alt Name" %>

  <% unless params[:new_item] %> 
      <%= f.input :item_alt_description, label: "Description" %>
      <%= f.input :item_alt_notes, label: "Notes" %>
      <%= f.input :item_alt_active, label: "Active" %>
  <% end %>

  <%= hidden_field_tag :new_item, true if params[:new_item] %> 
  </div>

  <div class="separator bottom"></div>

  <div class="form-actions">
    <%= f.button :submit, "Submit", :class => "btn" %>    
    <%= link_to 'Delete', item_alt_name_path(@item_alt_name), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @item_alt_name.new_record? %>
    <%= link_to "Back", item_alt_names_path, :class => "btn" %>
  </div>
<% end %>

<script type="text/javascript">
    <% unless params[:new_item] %> 
        tab_field_forms["form_for_item_alt_name"] = ["item_alt_name_item_id", "item_alt_name_organization_id", "item_alt_name_item_alt_identifier", "item_alt_name_item_alt_description", "item_alt_name_item_alt_notes", "item_alt_name_item_alt_active"];
    <% else %>
        tab_field_forms["form_for_item_alt_name"] = ["item_alt_name_item_id", "item_alt_name_organization_id", "item_alt_name_item_alt_identifier"];
    <% end %>

    $(document).ready(function(){
        $("#item_alt_name_organization_id").val("<%= @item_alt_name.organization.organization_name if @item_alt_name.organization %>");

        $("#item_alt_name_item_id").val("<%= @item_alt_name.item.item_part_no if @item_alt_name.item %>");

        $("#item_alt_name_item_id").focus(); 

        $('#item_alt_name_item_id').keydown(function(e) {
            var code = e.keyCode || e.which;
            if (code === 9 || code ===13 ) 
            {                  
                $('#item_alt_name_item_id').val($( "#ui-id-1 li a" ).first().html());                                
                initialize_api_call({"url": "/common_actions/get_info", "type": "GET", "data_type": "json", "params": {"mode": "get_item", "item_name":  $('#item_alt_name_item_id').val()}}, "get_item_id", {}); 
            }
        });

        $('#item_alt_name_organization_id').keydown(function(e) {
            var code = e.keyCode || e.which;
            if (code === 9 || code ===13 ) 
            {                  
                $('#item_alt_name_organization_id').val($( "#ui-id-2 li a" ).first().html());
                initialize_api_call({"url": "/common_actions/get_info", "type": "GET", "data_type": "json", "params": {"mode": "get_org", "so_value": $('#item_alt_name_organization_id').val()}}, "get_org_id", {}); 
            }
        });  
           
    });
    function get_item_id(response){
       var item_id_val = JSON.stringify(response.aaData.id);      
        $("#item_id").val(item_id_val);                      
    }
    function get_org_id(response){
       var org_id_val = JSON.stringify(response.aaData.id);      
        $("#organization_id").val(org_id_val);
    }
</script>