<div class="row-fluid span8">
  <div class="label label-large label-info arrowed-in arrowed-right">
        <h4>Alt Name Info</h4>
  </div>
  <table class="table table-striped table-bordered">
    <tbody>     
      <tr>
        <td>Alt Name:</td>
        <td><%= @item_alt_name.item_alt_identifier %></td>
      </tr>

      <tr>
        <td>Item:</td>
        <td><%= link_to @item_alt_name.item.item_part_no, @item_alt_name.item %></td>
      </tr>

      <tr>
        <td>Customer:</td>
        <td><%= link_to @item_alt_name.organization.organization_name, @item_alt_name.organization %></td>
      </tr>

      <tr>
        <td>Description:</td>
        <td><%= @item_alt_name.item_alt_description %></td>
      </tr>

      <tr>
        <td>Notes:</td>
        <td><%= @item_alt_name.item_alt_notes %></td>
      </tr>

      <tr>
        <td>Active:</td>
        <td><%= @item_alt_name.item_alt_active %></td>
      </tr>
    </tbody>
  </table>
  <div class="form-actions">
    <%= link_to 'Edit', edit_item_alt_name_path(@item_alt_name), :class => "btn"%> 
    <%= link_to 'Back', item_alt_names_path, :class => "btn" %>
  </div>
</div>


