<!DOCTYPE html>


<title>Dimension Report</title>
<!--[if lt IE 9]><script src="html5.js"></script><![endif]-->
<style type="text/css">
    @charset "utf-8";
    body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  line-height: 16px;
    }
    /* New Style */
    .clear {
        clear: both;
    }

    .ms_wrapper {
        float: left;
        height: auto;
        width: 640px;
    }
table {
    border-collapse: collapse;
} 
label {
    line-height: 14px;
}
table tr {
border:1px solid #111;
} 
.bor td {
border:1px solid #111;
} 

.bor-2 td {
    height: 19px;

}

.bor-3 td {
    padding: 0px 3px;
}
td {
    padding: 1px 3px;
}
.no-b tr{
border:none;
} 

img {
    width: 150px;
}
form {
    line-height: 13px;
}
.color{color:#000;}

</style>

<% @company_info = CompanyInfo.first %>
<% @ppap = @quality_lot.ppap %>
<div class="ms_wrapper">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" >
    <tr align="left" valign="top" style="border-bottom:none;" >
      <td scope="row" style="padding:0;"  ><table width="100%" border="0"  cellspacing="0" cellpadding="0" class="no-b bor-2">
        <tr align="left" valign="top">
          <td width="49%" scope="row" style="padding:0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr align="left" valign="top">
              <td style="padding:5px 0 5px 5px; border-right:1px solid #111;" scope="row"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr align="center" valign="top">
                  <td width="50%" scope="row">


        <%= image_tag(@company_info.image.image.url(:original)) if @company_info.image %>

                  </td>
                  <td width="50%"><strong>FIRST ARTICLE INSPECTION<br>
                      DIMENSIONAL INSPECTION REPORT </strong></td>
                </tr>
              </table></td>
            </tr>
            <tr align="left" valign="top">
              <td style=" border-right:1px solid #111;" scope="row">Reason for Data Submission check all that apply</td>
            </tr>
            <tr align="center" valign="top">
              <td style=" border-right:1px solid #111; " scope="row"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="bor-3">
                <tr align="left" valign="top">
                  <td width="65%" scope="row"><form name="form1" method="post" action="">
                     <label> <%= check_box_tag 'initial_submission', "true", @ppap.initial_submission , :disabled => false %> Initial submission</label>
                  </form></td>
                  <td width="50%"><form name="form1" method="post" action="">
                    <label><%= check_box_tag 're_submission', "true", @ppap.re_submission , :disabled => false %> Re-Submission </label>
                  </form></td>
                </tr>
                <tr align="left" valign="top">
                  <td scope="row"><form name="form1" method="post" action="">
                    <label><%= check_box_tag 'change_to_materials_used', "true", @ppap.change_to_materials_used , :disabled => false %>Change to materials used</label>
                  </form></td>
                  <td><form name="form1" method="post" action="">
                      <label><%= check_box_tag 'revision_change', "true", @ppap.revision_change , :disabled => false %>Revision Change</label>
                  </form>
                  </form></td>
                </tr>
                <tr align="left" valign="top">
                  <td scope="row"><form name="form1" method="post" action="">
                    <label><%= check_box_tag 'camo_pattern_new_to_part', "true", @ppap.camo_pattern_new_to_part , :disabled => false %>Camo pattern new to part </label></form>
                  </td>
                  <td>__________________________</td>
                </tr>
                <tr align="left" valign="top">
                  <td scope="row"><form name="form1" method="post" action="">
                    <label><%= check_box_tag 'tooling_replacement', "true", @ppap.tooling_replacement , :disabled => false %>Tooling transfer, refurbishment,replacement or additional</label>
                  </td>
                  <td>__________________________</td>
                </tr>
                <tr align="left" valign="top">
                  <td scope="row"><form name="form1" method="post" action="">
                    <label><%= check_box_tag 'process_change', "true", @ppap.process_change , :disabled => false %> Process Change</label>

                  </form></td>
                  <td>__________________________</td>
                </tr>
                <tr align="left" valign="top">
                  <td scope="row"><form name="form1" method="post" action="">
                    <label><%= check_box_tag 'Change_in_mfg_source', "true", @ppap.Change_in_mfg_source , :disabled => false %>Change in mfg source </label>
                  </form></td>
                  <td>&nbsp;</td>
                </tr>
              </table></td>
            </tr>
          </table></td>
          <td width="51%" style="padding:0;"><table width="100%" border="0" cellspacing="0" cellpadding="0" >
            <tr>
              <td scope="row" style="border-bottom:1px solid #111;  "><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="border-right:1px solid #111; width:122px;" scope="row">Date</td>
                  <td align="center" class="color"><%= Time.now.strftime("%m/%d/%Y") %></td>
                </tr>
              </table></td>
            </tr>
                       <tr>
              <td scope="row" style="border-bottom:1px solid #111;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="border-right:1px solid #111; width:122px;" scope="row">Part Number</td>
                  <td align="center" class="color"><%= @quality_lot.item_revision.item.item_part_no%></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td scope="row" style=" border-left:1px solid #111; border-bottom:1px solid #111;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="border-right:1px solid #111; width:122px;" scope="row">Part Name</td>
                  <td align="center" class="color"><%= @quality_lot.item_revision.item_name %></td>
                </tr>
              </table></td>
            </tr>
                        <tr>
              <td scope="row" style=" border-left:1px solid #111; border-bottom:1px solid #111;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="border-right:1px solid #111; width:122px;" scope="row">Drawing No.</td>
                  <td align="center"><%= @quality_lot.item_revision.item.item_part_no%></td>
                </tr>
              </table></td>
            </tr>
                        <tr>
              <td scope="row" style=" border-left:1px solid #111; border-bottom:1px solid #111; padding:0 8px 0 8px ; "><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr align="center">
                  <td align="left" style="border-right:1px solid #111; width:117px;" scope="row">Drawing Rev Level</td>
                  <td  class="color" style=" border-right:1px solid #111;"><%= @quality_lot.item_revision.item_revision_name %></td>
                  <td style=" border-right:1px solid #111;">Rev Date</td>
                  <td  class="color"><%= @quality_lot.item_revision.created_at.strftime("%m/%d/%Y") %></td>
                </tr>
              </table></td>
            </tr>
                                    <tr >
              <td scope="row" style=" border-left:1px solid #111; border-bottom:1px solid #111;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="border-right:1px solid #111; width:122px;"  scope="row">Supplier</td>
                  <td align="center"><%= @company_info.company_name %></td>
                </tr>
              </table></td>
            </tr>
                        <tr style=" border-bottom:1px solid #111;">
              <td scope="row" style=" border-left:1px solid #111;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="border-right:1px solid #111;" scope="row">Supplier Representative</td>
                  <td align="center">Joshua Schultz</td>
                </tr>
              </table></td>
            </tr>
                                    <tr style=" border-bottom:1px solid #111;">
              <td scope="row" style=" border-left:1px solid #111;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="border-right:1px solid #111; width:122px;" scope="row">E-mail</td>
                  <td align="center" class="color"><%= @quality_lot.lot_inspector.email %></td>
                </tr>
              </table></td>
            </tr>
                                    <tr style=" border-bottom:1px solid #111;">
                                      <td scope="row" style=" border-left:1px solid #111;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                          <td style="border-right:1px solid #111; width:122px;" scope="row" >PO No.</td>
                                          <td align="center" class="color"><%= @quality_lot.po_line.po_line_customer_po if @quality_lot.po_line.po_line_customer_po.present? %></td>
                                        </tr>




                                      </table></td>
                </tr>

                 <tr style=" border-bottom:1px solid #111;">
                                      <td scope="row" style=" border-left:1px solid #111;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                          <td style="border-right:1px solid #111; width:122px;  scope="row" >Report completed by:
                                          </td>
                                          <td align="center" class="color"><%= @quality_lot.lot_inspector.name %></td>
                                        </tr>
                                        



                                      </table></td>
                </tr>
            </table></td>
        </tr>
    </table>      
    </tr>
        <tr align="center" style="border-bottom:none;" >
      <td scope="row"><strong>DIMENSIONAL INSPECTION RESULTS</strong></td>
    </tr>
        <tr align="center" style="border-bottom:none;" >
      <td scope="row"><strong>ACTUAL DIMENSION</strong></td>
    </tr>
    <tr style="border:none;">
      <td scope="row" style="padding:0;"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="bor">
        <tr align="center" valign="top">
          <td width="7%" scope="row">Item</td>
          <td width="6%">Print zone</td>
          <td width="7%">Dwg Dim</td>
          <td width="6%">Plus Tol</td>
          <td width="4%">Minus Tol</td>
          <td width="4%">1</td>
          <td width="4%">2</td>
          <td width="3%">3</td>
          <td width="3%">4</td>
          <td width="3%">5</td>
          <td width="4%">6</td>
          <td width="5%">7</td>
          <td width="4%">8</td>
          <td width="5%">9</td>
          <td width="4%">10</td>
          <td width="4%">Average</td>
          <td width="4%">std dev</td>
          <td width="4%">Max</td>
          <td width="4%">Min</td>
          <td width="4%">GAGE</td>
          <td width="4%">ACC</td>
          <td width="4%">REJ</td>
          <td width="3%">Final disposition</td>
        </tr>
        <% i = 0 %>
        <% objects = @quality_lot.lot_item_dimensions.order(:id) %>


  
        <% objects.each do |object| %>
           <tr>
           <% j= 1 %>
           <% length = object.quality_lot_dimensions.where(:quality_lot_id => @quality_lot.id).order(:item_part_dimension_id).all.length %>
            <% object.quality_lot_dimensions.where(:quality_lot_id => @quality_lot.id).order(:item_part_dimension_id).all.each do |lot_dimension| %>


            
     
                    <%  go_non_go_status = lot_dimension.item_part_dimension.go_non_go %>
                    <% lot_dimension_values = [] %>
                    <% lot_dimension.all_lot_dimensions.collect(&:lot_dimension_value).each do |value|%>
                      <% lot_dimension_values << value.to_f%>
                    <% end %>
                    <% if  j ==1 %>
                        <td scope="row"><%= i=i+1 %></td>
                        <td>&nbsp;</td>
                        <td><%= go_non_go_status ? " " : lot_dimension.item_part_dimension.item_part_dimension.round(4)  %> </td>
                        <td><%=  go_non_go_status ? " " : (lot_dimension.item_part_dimension.item_part_dimension + lot_dimension.item_part_dimension.item_part_pos_tolerance).to_f.round(4) %></td>
                        <td><%= go_non_go_status ? " " : (lot_dimension.item_part_dimension.item_part_dimension - lot_dimension.item_part_dimension.item_part_neg_tolerance).to_f.round(4) %></td>

                    <% end %>
            
                    <td><%= lot_dimension.lot_dimension_value.to_f %></td>
                     
                
                    <% if  j == length %>
                      <% while length != 10 %>
                        <td>0.0</td>
                        <% length = length + 1 %>
                      <% end %>

                      <td><%= go_non_go_status ? " " : (lot_dimension.all_lot_dimensions.sum(:lot_dimension_value)/lot_dimension.all_lot_dimensions.count).to_f.round(4) %></td>
                      <td><%= go_non_go_status ? " " : (lot_dimension_values.stdev.round(4) rescue 0)  %></td>
                      <td><%= go_non_go_status ? " " : lot_dimension.all_lot_dimensions.maximum(:lot_dimension_value).to_f.round(4) %></td>
                      <td><%= go_non_go_status ? " " : lot_dimension.all_lot_dimensions.minimum(:lot_dimension_value).to_f.round(4) %></td>
                      <td><%=  lot_dimension.item_part_dimension.gauge.present? ?  lot_dimension.item_part_dimension.gauge.gauge_tool_name : ""%> </td>
                      <% if lot_dimension.lot_dimension_status == "accepted" %>
                        <td>X</td>
                      <% else %>
                        <td>&nbsp;</td>
                      <% end %>
                      <% if lot_dimension.lot_dimension_status == "rejected" %>
                        <td>X</td>
                      <% else %>
                        <td>&nbsp;</td>
                      <% end %>
                      <td>&nbsp;</td>                      
                    <% end %>

                    <% j = j+1 %>
              
          <% end %>
          </tr>
 
        <% end %>
      </table></td>
    </tr>
    <tr align="center" style="border-top:none; border-bottom:none;" >
      <td scope="row"><strong>SIGNATURES</strong></td>
    </tr>
    <tr style="border:none;">
      <td scope="row" style="padding:0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr align="center">
          <td width="21%" align="left" style=" border-right:1px solid #111;" scope="row">Quality responsible - Printed name/date</td>
          <td width="22%" style=" border-right:1px solid #111;">Aphrodite Rose</td>
          <td width="20%" style=" border-right:1px solid #111;">Design responsible - printed name/date</td>
          <td width="37%" style=" border-right:1px solid #111;">&nbsp;</td>
          </tr>
        <tr align="center">
          <td align="left" style=" border-right:1px solid #111;" scope="row">Quality responsible - Signature</td>
          <td style=" border-right:1px solid #111;"></td>
          <td style=" border-right:1px solid #111;">Desing responsible - Signature</td>
          <td style=" border-right:1px solid #111;">&nbsp;</td>
        </tr>
      </table></td>
    </tr>
    <tr style="border-top:none;">
      <td scope="row">ADDITIONAL REMARKS:<br>
       <br>
       </td>
    </tr>
    <tr>
      <td scope="row">First Article Inspection - Dimensional Inspection Results</td>
    </tr>
  </table>
</div>