<!DOCTYPE html>
<html>
<head>
<title>Package Layout</title>
<!--[if lt IE 9]><script src="html5.js"></script><![endif]-->

<style>

@charset "utf-8";

body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 17px;
}
/* New Style */
.clear{clear: both;}

.ms_wrapper{float: left;height: auto;width:640px;}
.form-bold {
    font-size: 23px;
}
td {
    border: 1px solid #000;
}
.bord-no td {
    border: medium none;
}


.side{
background-color:#c5d9f1;
    /* Rotate div */
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
ma
font-size:20px;
}
.im img {
    background-size: contain;
    height: 214px;
    width: 100%;
}

.br td {
    padding: 7px;
}
</style>


</head>
<body>
<% @company_info = CompanyInfo.first %>
<% @package = @quality_lot.package %>
<div class="ms_wrapper"> 
 
 <table width="640" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr align="left" valign="top" class="bord-01">
    <td scope="row" class="bord-02"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr align="right" valign="top">




        <td width="25%" scope="row"> <%= image_tag(@company_info.image.image.url(:original), :size => "138x53") if @company_info.image %></td>
        <td width="75%" class="rin-02"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="bord-no">
          <tr align="center" valign="top">
            <td class="form-bold" scope="row">&nbsp;</td>
            </tr>
          <tr align="right" valign="top">
            <td align="center" scope="row"><span class="form-bold">PACKAGING FORM</span></td>
            </tr>
          <tr align="right" valign="top">
            <td scope="row">&nbsp;</td>
            </tr>
          </table></td>
        </tr>
      </table></td>
  </tr>
  <tr ></tr>
<tr ></tr>
<tr ></tr>
<tr ></tr>
  <tr align="left" valign="top">
    <td scope="row"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr align="left" style="background-color:#c5d9f1;">
        <td width="21%" scope="row" ><strong>Date</strong></td>
        <td width="19%"><strong>Packaging Contact</strong></td>
        <td width="25%"><strong>Part Number</strong></td>
        <td width="35%"><strong>Supplier Responsibilities Completed?</strong></td>
        </tr>
      <tr>
        <td scope="row" style="color:#1212b4;"><%= @package.updated_at.strftime("%d/%m/%Y") %></td>
        <td style="color:#1212b4;"> </td>
        <td style="color:#1212b4;"><%= @package.quality_lot.po_line.item_alt_name.item_alt_identifier if @package.quality_lot.item_revision %> </td>
        <td>Packaging Design</td>
        </tr>
             <tr align="left" >
        <td width="21%" scope="row" style="background-color:#c5d9f1;" ><strong>Supplier Name</strong></td>
        <td width="19%" style="background-color:#c5d9f1;"><strong> Phone Number</strong></td>
        <td width="25%" style="background-color:#c5d9f1;"><strong> Print Revision Level</strong></td>
        <td width="35%" rowspan="6"><strong>Packaging that prevents shipping and material handling defects</strong></td>
        </tr>
        
              <tr>
        <td scope="row" style="color:#1212b4;"><%= @company_info.company_name %></td>
        <td style="color:#1212b4;"><%= @company_info.company_phone1 %></td>
        <td style="color:#1212b4;"><%= @package.quality_lot.po_line.item_revision.item_revision_name %></td>
        </tr>
                     <tr align="left" style="background-color:#c5d9f1;">
        <td width="21%" scope="row" ><strong>Supplier Code</strong></td>
        <td width="19%"><strong>Fax Number</strong></td>
        <td width="25%"><strong>Part Description</strong></td>
        </tr>
              <tr>
                <td scope="row" style="color:#1212b4;"><%= @package.supplier_code %></td>
                 <% unless @company_info.company_fax =="" %>
                <td style="color:#1212b4;"><%= @company_info.company_fax %></td>
                <% else %>
                <td style="color:#1212b4;">&nbsp;</td>
                <% end %>
                <td style="color:#1212b4;"><%=@package.quality_lot.po_line.item_alt_name.item_alt_description if  @package.quality_lot.item_revision%></td>
          </tr>
        <tr align="left" style="background-color:#c5d9f1;">
          <td width="21%" scope="row" ><strong>Supplier Production Facility</strong></td>
          <td width="19%"><strong>E-Mail Address </strong></td>
          <td width="25%"><strong></strong></td>
          </tr>
        
                      <tr>
                <td scope="row" style="color:#1212b4;">12-12-2014</td>
                <td style="color:#1212b4;"><%= @quality_lot.lot_inspector.email %></td>
                <td style="color:#1212b4;">&nbsp;</td>
          </tr>
      </table></td>
  </tr>
  <tr align="left" valign="top">
    <td scope="row">&nbsp;</td>
  </tr>
  
  
  
  <tr align="left" valign="top">
    <td scope="row"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr align="center">
        <td width="8%" rowspan="2" scope="row" style="background-color:#c5d9f1;"><div class="side"> <strong>DIGITAL IMAGES<br>
        </strong></div> </td>
        <td width="26%">Part</td>
        <td width="26%">In Packaging Position</td>
        <td width="26%">Container</td>
        <td width="26%">With Label Shown</td>
      </tr>
      <tr class="im">
        <td colspan="2"><img src="<%= @package.part %>"></td>
        <td colspan="2"><img src="<%= @package.container %>"></td>


        </tr>
    </table></td>
  </tr>
  
  
  
  <tr align="left" valign="top">
    <td scope="row">&nbsp;</td>
  </tr>
    <tr align="left" valign="top">
    <td scope="row"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr style="background-color:#c5d9f1;">
        <td width="8%" rowspan="7"  style="background-color:#c5d9f1;" scope="row"><div class="side"> <strong>PACKAGE DATA<br>
        </strong></div></td>
        <td width="13%"><strong>Component</strong></td>
        <td width="11%"><strong>L (in)</strong></td>
        <td width="9%"><strong>W (in)<strong></td>
        <td width="10%"><strong>H (in)</strong></td>
        <td width="15%"><strong>Component</strong></td>
        <td width="8%"><strong>Wt (lb)</strong></td>
        <td width="14%"><strong>Quantities</strong></td>
        <td width="12%"></td>
      </tr>
      <tr>
        <td>Part Size</td>
        <td><%= @package.part_size_length %></td>
        <td><%= @package.part_size_width %></td>
        <td><%= @package.part_size_width %></td>
        <td>Part</td>
        <td><%= @package.part_size_width %></td>
        <td>Qty Parts per Container</td>
        <td><%= @package.quantity_per_container %></td>

      </tr>
      <tr>
        <td>Container Only</td>
        <td><%= @package.container_length %></td>
        <td><%= @package.container_width %></td>
        <td><%= @package.container_height %></td>
        <td class="r-align">Dunnage (Tare)</td>
        <td><%= @package.dunnage_tare_Weight %></td>
        <td class="r-align">Container(s) per Layer on Pallet</td>
        <td><%= @package.container_per_layer_pallet %></td>
      </tr>
      <tr>
        <td>Pallet Only</td>
        <td><%= @package.pallet_length %></td>
        <td><%= @package.pallet_width %></td>
        <td><%= @package.pallet_height %></td>
        <td class="r-align">Container (Tare)</td>
        <td><%= @package.container_tare_weight %></td>
        <td class="r-align">Layers per Pallet</td>
        <td><%= @package.layers_per_pallet %></td>
      </tr>
      <tr>
        <td>Unit Load As Shipped</td>
        <td><%= @package.load_shipped_length %></td>
        <td><%= @package.load_shipped_width %></td>
        <td><%= @package.load_shipped_height %></td>
        <td class="r-align">Pallet Tare</td>
        <td><%= @package.pallet_tare_weight %></td>
        <td class="r-align">Container(s) per Pallet</td>                            
        <td><%= @package.container_per_pallet %></td>
      </tr>
      <tr>
        <td colspan="3"  style="background-color:#c5d9f1;"></td>
        <td>&nbsp;</td>  
<td>Container Gross (Inc Parts)</td>  
        <td><%= @package.container_gross_inc_weight %></td>
        <td></td>
        <td ></td>
    
      </tr>
      <tr>
  
        <td> 

<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
<td><%= @package.in_to_mm1 %></td>
<td><%= @package.in_to_mm2 %></td>
</tr></table>
        </td>


        <td><%= @package.lbs_to_kg1 %></td>
        <td ><%= @package.lbs_to_kg2 %></td>
        <td style="background-color:#c0c0c0;"></td>
        <td>Unit Load Gross (Inc Parts)</td>
        <td>&nbsp;</td>
             <td colspan="2" style="background-color:#c0c0c0;">&nbsp;</td>
            
        </tr>
    </table></td>
  </tr>
  
    <tr align="left" valign="top">
    <td scope="row">&nbsp;</td>
  </tr>
    <tr align="left" valign="top">
    <td scope="row"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr align="center">
        <td width="8%" rowspan="2" scope="row" style="background-color:#c5d9f1;"><div class="side"> <strong>DIGITAL IMAGES<br>
        </strong></div> </td>
        <td width="26%">Part</td>
        <td width="26%">In Container Position</td>
        <td width="26%">Unit Load</td>
        <td width="26%">As Shipped With Label Shown</td>
      </tr>
      <tr class="im">
        <td colspan="2"><img src="<%= @package.dunnage %>"></td>
        <td colspan="2"><img src="<%= @package.unit_load %>"></td>
        </tr>
    </table></td>
  </tr>
  
  
  
  <tr align="left" valign="top">
    <td scope="row">&nbsp;</td>
  </tr>
    <tr align="left" valign="top">
    <td scope="row"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr style="background-color:#c5d9f1;">
        <td width="6%" rowspan="9"  style="background-color:#c5d9f1;" scope="row"><div class="side"> <strong>PACKAGING MATERIALS<br>
        </strong></div></td>
        <td width="21%"><strong>Description</strong></td>
        <td width="15%"><strong>Manufacturer</strong></td>
        <td width="13%"><strong>Material</strong></td>
        <td width="14%"><strong>Lead Time</strong></td>
        <td width="19%"><strong>RET/EXP</strong></td>
        <td width="12%"><strong>COMMENTS</strong></td>
        </tr>
      <tr>
        <td>Dunnage</td>
        <td><%= @package.dunnage_manufacturer %></td>
        <td><%= @package.dunnage_material %></td>
        <td><%= @package.dunnage_lead_time %></td>
        <td><%= @package.dunnage_ret_exp %></td>
        <td><%= @package.dunnage_comment %></td>
      </tr>
      <tr>
        <td>Container Color</td>
        <td><%= @package.container_color_manufacturer %></td>
        <td><%= @package.container_color_material %></td>
        <td><%= @package.container_color_lead_time %></td>
        <td><%= @package.container_color_ret_exp %></td>
        <td><%= @package.container_color_comment %></td>
      </tr>
      <tr>
        <td>Container Type</td>
        <td><%= @package.container_type_manufacturer %></td>
        <td><%= @package.container_type_material %></td>
        <td><%= @package.container_type_lead_time %></td>
        <td><%= @package.container_type_ret_exp %></td>
        <td><%= @package.container_type_comment %></td>
      </tr>
      <tr>
        <td>Cover/Top Cap</td>
        <td><%= @package.cover_cap_manufacturer %></td>
        <td><%= @package.cover_cap_material %></td>
        <td><%= @package.cover_cap_lead_time %></td>
        <td><%= @package.cover_cap_ret_exp %></td>
        <td><%= @package.cover_cap_comment %></td>
      </tr>
      <tr>
        <td>Pallet </td>
        <td><%= @package.pallet_manufacturer %></td>
        <td><%= @package.pallet_material %></td>
        <td><%= @package.pallet_lead_time %></td>
        <td><%= @package.pallet_ret_exp %></td>
        <td><%= @package.pallet_comment %></td>   
      </tr>
      <tr>
        <td>Stretch/Shrink Film</td>
        <td><%= @package.strech_shrink_manufacturer %></td>
        <td><%= @package.strech_shrink_material %></td>
        <td><%= @package.strech_shrink_lead_time %></td>
        <td><%= @package.strech_shrink_ret_exp %></td>
        <td><%= @package.strech_shrink_comment %></td>
      </tr>
      <tr>
        <td>Banding</td>
        <td><%= @package.banding_manufacturer %></td>
        <td><%= @package.banding_material %></td>
        <td><%= @package.banding_lead_time %></td>
        <td><%= @package.banding_ret_exp %></td>
        <td><%= @package.banding_comment %></td>
      </tr>
      <tr>
        <td>Other</td>
        <td><%= @package.other_manufacturer %></td>
        <td><%= @package.other_material %></td>
        <td><%= @package.other_lead_time %></td>
        <td><%= @package.other_ret_exp %></td>
        <td><%= @package.other_comment %></td>
      </tr>
      </table></td>
  </tr>
  
  
  
    <tr align="left" valign="top">
      <td scope="row">&nbsp;</td>
    </tr>
    <tr align="left" valign="top">
      <td scope="row"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="bord-no">
        <tr class="br">
          <td width="49%" scope="row">Supplier Representative signature/date:</td>
          <td width="51%" style="border:1px solid #000;">&nbsp;</td>
        </tr>
        <tr>
          <td scope="row">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr class="br">
          <td scope="row">Supplier Representative signature/date:</td>
          <td style="border:1px solid #000;">&nbsp;</td>
        </tr>
      </table></td>
    </tr>
  </table>

 
 
 
 
 
 
 
 
 
 
 

</div>
</body>
</html>