<div class="row-fluid">
  <div class="span3 well item_detail_view">
        <%= render :partial => 'po_headers/po_header_info' %>
  </div>

  <div class="span7">
    <div class="row-fluid">
        <div class="row-fluid">
            <h4 class="span3 left">Lot Info</h4>
            <span class="span9 right">
            <%= link_to "Checklist", checklist_path(@quality_lot.checklist), :class => "btn btn-small" if @quality_lot.checklist %>
                <%= link_to "New PSW", new_ppap_path(:quality_lot_id => @quality_lot.id), :class => "btn btn-small" unless @quality_lot.ppap %>                
                <%= link_to "PSW", ppap_path(@quality_lot.ppap), :class => "btn btn-small" if @quality_lot.ppap %>
                <% if can? :edit, @quality_lot %>
                  <%= link_to "Edit", edit_quality_lot_path(@quality_lot), :class => "btn btn-small" %>  
                <% end %>   
                <%= link_to "Back", quality_lots_path, :class =>"btn btn-small" %>
            </span>
        </div>

        <table class="table table-striped table-bordered">
          <tbody>
          <tr>
            <td>Control No:</td>
            <td><%= @quality_lot.lot_control_no %></td>
          </tr>

          <tr>
            <td>PO: </td>
            <% if can? :view, PoHeader %>
              <td><%= link_to(@quality_lot.po_header.po_identifier, po_header_path(@quality_lot.po_header)) %></td>
            <% else %>
               <td><%= @quality_lot.po_header.po_identifier %></td>
            <% end%> 
          </tr>

          <tr>
            <td>Part No:</td>
            <td><%= link_to(@quality_lot.po_line.item_alt_name.item_alt_identifier, item_path(@quality_lot.item_revision.item, revision_id: @quality_lot.item_revision_id)) if @quality_lot.item_revision %></td>
          </tr>

          <tr>
            <td>Revision:</td>
            <td><%= link_to(@quality_lot.item_revision.item_revision_name, item_path(@quality_lot.item_revision.item, revision_id: @quality_lot.item_revision_id)) if @quality_lot.item_revision %></td>
          </tr>

          <tr>
            <td>Quantity:</td>
            <td><%= @quality_lot.lot_quantity %></td>
          </tr>

          <tr>
            <td>Quantity On Hand:</td>
            <td><%= @quality_lot.quantity_on_hand %></td>
          </tr>

          <tr>
            <td>Inspection Level:</td>
            <td><%= link_to(@quality_lot.inspection_level.type_name, @quality_lot.inspection_level) if @quality_lot.inspection_level %></td>
          </tr>

          <tr>
            <td>Inspection Method:</td>
            <td><%= link_to(@quality_lot.inspection_method.type_name, @quality_lot.inspection_method) if @quality_lot.inspection_method %></td>
          </tr>

          <tr>
            <td>Inspection Type:</td>
            <td><%= link_to(@quality_lot.inspection_type.type_name, @quality_lot.inspection_type) if @quality_lot.inspection_type %></td>
          </tr>

          <tr>
            <td>AQL No:</td>
            <td><%= @quality_lot.lot_aql_no %></td>
          </tr>

          <tr>
            <td>FAI:</td>
            <td><%= @quality_lot.fai %></td>
          </tr>

          <tr>
            <td>Inspector:</td>
            <td><%= @quality_lot.lot_inspector.name if @quality_lot.lot_inspector %></td>
          </tr>

          <tr>
            <td>Process Flow:</td>
            <td><%= link_to @quality_lot.process_flow.process_name, @quality_lot.process_flow.attachment.attachment.url(:original), :target => "_blank" if @quality_lot.process_flow && @quality_lot.process_flow.attachment.present? %></td>
          </tr>

          <tr>
            <td>FMEA:</td>
            <td><%= link_to @quality_lot.fmea_type.fmea_name, @quality_lot.fmea_type.attachment.attachment.url(:original), :target => "_blank" if @quality_lot.fmea_type && @quality_lot.fmea_type.attachment.present? %></td>
          </tr>

          <tr>
            <td>Control Plan:</td>
            <td><%= link_to @quality_lot.control_plan.plan_name, @quality_lot.control_plan.attachment.attachment.url(:original), :target => "_blank" if @quality_lot.control_plan && @quality_lot.control_plan.attachment.present? %></td>
          </tr>

          <tr>
            <td>Run At Rate:</td>
            <td><%= link_to @quality_lot.run_at_rate.run_at_rate_name, @quality_lot.run_at_rate.attachment.attachment.url(:original), :target => "_blank" if @quality_lot.run_at_rate && @quality_lot.run_at_rate.attachment.present? %></td>
          </tr>
        
          <tr>
            <td>Finalized At:</td>
            <td><%= @quality_lot.lot_finalized_at.to_date if @quality_lot.lot_finalized_at.present? %></td>
          </tr>

          <tr>
            <td>Notes:</td>
            <td><%= @quality_lot.lot_notes %></td>
          </tr>

          <!-- <tr>
            <td>Active:</td>
            <td><%= @quality_lot.lot_active %></td>
          </tr> -->

          <tr>
            <td>Created At:</td>
            <td><%= @quality_lot.created_at.to_date %></td>
          </tr>

          </tbody>
        </table>
    </div>
  </div>



  <div class="span2"> 
    <div class="row-fluid item_detail_classic_btn">
        <div class="span12 well">
            <a class="widget-stats" href="<%= quality_lot_materials_path(quality_lot_id: @quality_lot.id) %>" id="">
                <h5><strong>Material <br /> Elements</strong></h5>
                <!-- <span class="txt"><strong>Dimensional Analysis</strong></span> -->
                <div class="clearfix"></div>
            </a>
        </div>
    </div>

    <div class="row-fluid item_detail_classic_btn">
        <div class="span12 well">
            <a class="widget-stats" href="<%= quality_lot_dimensions_path(quality_lot_id: @quality_lot.id) %>" id="">
                <h5><strong>Dimensional <br /> Analysis</strong></h5>
                <!-- <span class="txt"><strong>Dimensional Analysis</strong></span> -->
                <div class="clearfix"></div>
            </a>
        </div>
    </div>

    <div class="row-fluid item_detail_classic_btn">
        <div class="span12 well">
            <a class="widget-stats" href="<%= new_quality_lot_gauge_path(quality_lot_id: @quality_lot.id) %>" id="">
                <h5><strong>Gage <br /> R&R</strong></h5>
                <!-- <span class="txt"><strong>Gage R&R</strong></span> -->
                <div class="clearfix"></div>
            </a>
        </div>
    </div>

    <div class="row-fluid item_detail_classic_btn">
        <div class="span12 well">
            <a class="widget-stats" href="<%= quality_lot_capabilities_path(quality_lot_id: @quality_lot.id) %>" id="">
                <h5><strong>Process <br /> Capability</strong></h5>
                <!-- <span class="txt"><strong>Process Capability</strong></span> -->
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <div class="row-fluid item_detail_classic_btn">
        <div class="span12 well">
            <a class="widget-stats" href="#" id="">
                <h5><strong>Inspection <br />  Report</strong></h5>
                <!-- <span class="txt"><strong>Process Capability</strong></span> -->
                <div class="clearfix"></div>
            </a>
        </div>
    </div>


<!--     <div class="row-fluid item_detail_classic_btn">
        <div class="span12 well">
            <a class="widget-stats" href="<%#= edit_quality_lot_path(@quality_lot, lot_shelf: true) %>" id="">
                <strong>Shelf</strong>
                <div class="row-fluid">
                    <div class="span6">
                      No: <%#= @quality_lot.lot_shelf_number %>
                    </div>
                    <div class="span6">
                      Unit: <%#= @quality_lot.lot_shelf_unit %>
                    </div>
                </div>
                <div class="clearfix"></div>
            </a>
        </div>
    </div> -->
    
  </div>

</div>

<div class="separator bottom"></div> 

<!-- Attachments -->
<!-- Attachments -->
<div class="row-fluid">
    <div class="attachment-pulp">
        <%= render :partial => 'attachments/droppable_form_plup_less' %>
    </div>
    <div class="span8">
        <%= render 'attachments/attachments_less' %>
    </div>
</div>


<%= render :partial => 'comments/comments', 
:locals => {:extras => {:link => populate_quality_lot_path(@quality_lot, type: "note")}} %>