<!-- Widget -->
<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">Dimension of <%=@gauges.gauge_tool_name%> of <%= @organizations.organization_name %></h4>
            <span class="span6 heading right">
                <%= link_to 'New Dimension', new_organization_gauge_dimension_path(@organizations,@gauges), :class => "btn btn-mini btn-success" %>
                <%= link_to 'Back to Gauge', organization_gauges_path(@organizations), :class => "btn btn-mini btn-info" %>
            </span>
        </div> 
    </div>
    <div class="widget-body">
        <table id="table_report" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Gauge</th>
                <th>Dimension identifier</th>
                <th>Dimension description</th>
                <th>Dimension notes</th>
                <th>Dimension active</th>    
                <th></th>            
              </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {
        :name => "table_report",  :path => organization_gauge_dimensions_path(@organizations,@gauges),
        :columns => '[
                        { "mData": "id" },
                        { "mData": "dimension_identifier" },
                        { "mData": "dimension_description" },
                        { "mData": "dimension_notes" },
                        { "mData": "dimension_active" },
                        { "mData": "links", "bSortable": false, "bSearchable": false }
                    ]'
    } 
%>