<div class="row-fluid span8">
  <div class="label label-large label-info arrowed-in arrowed-right">
        <h4>Dimension Info</h4>
  </div>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>Identifier:</td>
          <td><%= @dimension.dimension_identifier %></td>
        </tr>

        <tr>
          <td>Description:</td>
          <td><%= @dimension.dimension_description %></td>
        </tr>

        <tr>
          <td>Notes:</td>
          <td><%= @dimension.dimension_notes %></td>
        </tr>

        <tr>
          <td>Active:</td>
          <td><%= @dimension.dimension_active %></td>
        </tr>
      </tbody>
    </table>

   <div class="form-actions">
    <%= link_to 'Edit', edit_organization_gauge_dimension_path(@organization, @gauge, @dimension), :class => "btn btn-small"%> 
    
    <%= link_to 'Back to Dimensions', organization_gauge_dimensions_path(@organization, @gauge), :class =>"btn btn-small" %>
  </div>
</div>
