<div class="row-fluid span8">
  	<div class="label label-large label-info arrowed-in arrowed-right">
        <h4>Owner Info</h4>
  	</div>
  	<table class="table table-striped table-bordered">
        <tbody>
            <tr>
              <td class="span2">Name :</td>
              <td class="span5"><%= @owner.owner_identifier %></td>
            </tr>

            <tr>
              <td class="span3">Description :</td>
              <td class="span5"><%= @owner.owner_description %></td>
            </tr>

            <tr>
              <td class="span3">Commission Type :</td>
              <td class="span5"><%= @owner.commission_type.type_name %></td>
            </tr>

			     <tr>
              <td class="span3">Commission Percentage :</td>
              <td class="span5"><%= @owner.owner_commission_amount %>%</td>
            </tr>

            <tr>
              <td class="span3">Active :</td>
              <td class="span5"><%= @owner.owner_active %></td>
            </tr>
        </tbody>
  	</table>

	<div class="form-actions">
    <% if can? :edit, @owner %>
  		<%= link_to 'Edit', edit_owner_path(@owner), :class => "btn btn-small" %>
    <% end %>
		<%= link_to 'Back to Owners', owners_path, :class => "btn btn-small" %>
	</div>
</div>
