<% po_is_transfer = @po_header.po_is?("transer") %>
<% unless @po_line.new_record? %>

    <div class="row-fluid">

        <div class="span4 well item_detail_view">
            <%= render :partial => 'po_headers/po_header_info' %>
        </div>


        <div class="span5 well">
            <%= simple_form_for([@po_line.po_header, @po_line], :html => {:id => "form_for_po_line",:class => "form-horizontal"}) do |f| %>
                <%= f.error_notification %>

                <%#= f.association :po_header %>
                <%#= f.association :organization, :autofocus => true, :label => "Customer", :label_method => 'organization_short_name', :label_value => "id", :include_blank => false %>

                <%#= f.association :item, :url => autocomplete_item_item_part_no_items_path, :as => :autocomplete, :id_element => '#item_id', required: true, :label => "Item", :autofocus => true %>

                <%#= hidden_field_tag :item_id, (@po_line.item.id unless @po_line.new_record? && @po_line.item.nil?) %>

                <%#= hidden_field_tag :org_item_id, (@po_line.item.id unless @po_line.new_record? && @po_line.item.nil?) %>

                <%#= f.association :item_selected_name, :url => autocomplete_item_selected_name_item_name_item_selected_names_path, :as => :autocomplete, :id_element => '#alt_name_id', required: true, :label => "Item" %>

                <%#= hidden_field_tag :alt_name_id, (@po_line.item_selected_name.id unless @po_line.new_record?) %>

                <%#= hidden_field_tag :org_alt_name_id, (@po_line.item_selected_name.id unless @po_line.new_record?) %>

                <%= f.association :item_alt_name, :url => autocomplete_item_alt_name_item_alt_identifier_item_alt_names_path, :as => :autocomplete, :id_element => '#alt_name_id', required: true, :label => "Item" %>

                <%= hidden_field_tag :alt_name_id, (@po_line.item_alt_name.id if @po_line.item_alt_name) %>

                <%= hidden_field_tag :org_alt_name_id, (@po_line.item_alt_name.id if @po_line.item_alt_name) %>


                <%= f.association :item_transfer_name, :url => autocomplete_item_alt_name_item_alt_identifier_item_alt_names_path, :as => :autocomplete, :id_element => '#item_transfer_name_id', :label => "Final P/N" if po_is_transfer %>

                <%= (hidden_field_tag :item_transfer_name_id, (@po_line.item_transfer_name.id if @po_line.item_transfer_name)) if po_is_transfer %>

                <%= (hidden_field_tag :org_item_transfer_name_id, (@po_line.item_transfer_name.id if @po_line.item_transfer_name)) if po_is_transfer %>

                <!-- <div class="control-group">
                    <label for="item_processes" class="optional control-label"></label>
                    <div class="controls"> <%#= link_to 'New Item/Alt Name', new_item_alt_name_path(new_item: true), :class => "btn btn-small", :target => "_blank" %> </div>
                </div> -->

                <%= f.input :po_line_quantity, :label => "Quantity" %>

                <%= f.input :po_line_cost, :label => "Cost" %>

                <%= f.input :po_line_sell, :label => "Sell" if @po_header.customer.present? %>

                <%#= f.association :organization, :url => autocomplete_organization_organization_name_organizations_path(type: "customer"), :as => :autocomplete, :id_element => '#organization_id', required: true, :label => "Customer", :disabled => @po_header.customer.present? %>

                <%= f.association :organization, :url => autocomplete_organization_organization_name_organizations_path(type: "customer"), :as => :autocomplete, :id_element => '#organization_id', :label => "Customer" unless @po_header.customer.present? %>
                <%= f.association :customer_quality, :label_method => "quality_name", :label_value => "id", :include_blank => false, :label => "Quality Level", :selected => ((@po_line.persisted? && @po_line.customer_quality.present?) ? @po_line.customer_quality_id : @po_header.organization.customer_quality_id) %>
                <%= hidden_field_tag :organization_id, (@po_line.organization.id if @po_line.organization) %>

                <%= hidden_field_tag :org_organization_id, (@po_line.organization.id if @po_line.organization) %>

                <%#= f.input :po_line_customer_po, :label => "Customer PO", :disabled => @po_header.customer.present?, input_html: {value: (@po_header.customer.present? ? @po_header.cusotmer_po : @po_line.po_line_customer_po)} %>

                <%= f.input :po_line_customer_po, :label => "Customer PO" unless @po_header.customer.present? %>

                <%#= f.association :customer_quality, :label => "Quality", :label_method => 'quality_name', :label_value => "id", :include_blank => false %>
                
                <%= f.input :po_line_notes, :label => "Notes" %>

                <%= f.input :po_line_total, :label => "Total", :disabled => true, input_html: { class: 'special_font' }, :as => :hidden %>
                
                <%#= f.association :so_line %>
                <%#= f.association :vendor_quality %>
                <%#= f.association :item, :label => "Item", :label_method => 'item_part_no',:label_value => "id", :include_blank => false %>
                <%#= f.association :item_revision %>
                <%#= f.input :po_line_status %>
                <%#= f.input :po_line_active %>

                <div class="separator bottom"></div>

                <div class="actions">
                    <%= f.submit "ADD", :class =>"btn" %>
                    <%= link_to 'Delete', po_header_po_line_path(@po_header, @po_line), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @po_line.new_record? %>
                    <%= link_to 'SAVE', po_header_path(@po_header), :class =>"btn" %>
                    <%= link_to 'New Item/Alt Name', new_item_alt_name_path(new_item: true), :class => "btn", :target => "_blank" %>
                </div>
            <% end %>
        </div>




    <div class="separator bottom"></div>
        <div class="span12">
        <!-- Line Items -->
            <%= render :partial => 'po_lines/line_items' %>
        </div>
    </div>

<% else %>

    <div class="row-fluid">



        <div class="span4 well">
            <%= simple_form_for([@po_line.po_header, @po_line], :html => {:id => "form_for_po_line",:class => "form-horizontal"}) do |f| %>
                <%= f.error_notification %>

                <%#= f.association :po_header %>
                <%#= f.association :organization, :autofocus => true, :label => "Customer", :label_method => 'organization_short_name', :label_value => "id", :include_blank => false %>

                <%#= f.association :item, :url => autocomplete_item_item_part_no_items_path, :as => :autocomplete, :id_element => '#item_id', required: true, :label => "Item", :autofocus => true %>

                <%#= hidden_field_tag :item_id, (@po_line.item.id unless @po_line.new_record? && @po_line.item.nil?) %>

                <%#= hidden_field_tag :org_item_id, (@po_line.item.id unless @po_line.new_record? && @po_line.item.nil?) %>

                <%#= f.association :item_selected_name, :url => autocomplete_item_selected_name_item_name_item_selected_names_path, :as => :autocomplete, :id_element => '#alt_name_id', required: true, :label => "Item" %>

                <%#= hidden_field_tag :alt_name_id, (@po_line.item_selected_name.id unless @po_line.new_record?) %>

                <%#= hidden_field_tag :org_alt_name_id, (@po_line.item_selected_name.id unless @po_line.new_record?) %>

                <%= f.association :item_alt_name, :url => autocomplete_item_alt_name_item_alt_identifier_item_alt_names_path, :as => :autocomplete, :id_element => '#alt_name_id', required: true, :label => "Item" %>

                <%= hidden_field_tag :alt_name_id, (@po_line.item_alt_name.id if @po_line.item_alt_name) %>

                <%= hidden_field_tag :org_alt_name_id, (@po_line.item_alt_name.id if @po_line.item_alt_name) %>


                <%= f.association :item_transfer_name, :url => autocomplete_item_alt_name_item_alt_identifier_item_alt_names_path, :as => :autocomplete, :id_element => '#item_transfer_name_id', :label => "Final P/N" if po_is_transfer %>

                <%= (hidden_field_tag :item_transfer_name_id, (@po_line.item_transfer_name.id if @po_line.item_transfer_name)) if po_is_transfer %>

                <%= (hidden_field_tag :org_item_transfer_name_id, (@po_line.item_transfer_name.id if @po_line.item_transfer_name)) if po_is_transfer %>

                <!-- <div class="control-group">
                    <label for="item_processes" class="optional control-label"></label>
                    <div class="controls"> <%#= link_to 'New Item/Alt Name', new_item_alt_name_path(new_item: true), :class => "btn btn-small", :target => "_blank" %> </div>
                </div> -->

                <%= f.input :po_line_quantity, :label => "Quantity" %>

                <%= f.input :po_line_cost, :label => "Cost" %>

                <%= f.input :po_line_sell, :label => "Sell" if @po_header.customer.present? %>

                <%#= f.association :organization, :url => autocomplete_organization_organization_name_organizations_path(type: "customer"), :as => :autocomplete, :id_element => '#organization_id', required: true, :label => "Customer", :disabled => @po_header.customer.present? %>

                <%= f.association :organization, :url => autocomplete_organization_organization_name_organizations_path(type: "customer"), :as => :autocomplete, :id_element => '#organization_id', :label => "Customer" unless @po_header.customer.present? %>

                <%= hidden_field_tag :organization_id, (@po_line.organization.id if @po_line.organization) %>

                <%= hidden_field_tag :org_organization_id, (@po_line.organization.id if @po_line.organization) %>

                <%#= f.input :po_line_customer_po, :label => "Customer PO", :disabled => @po_header.customer.present?, input_html: {value: (@po_header.customer.present? ? @po_header.cusotmer_po : @po_line.po_line_customer_po)} %>

                <%= f.input :po_line_customer_po, :label => "Customer PO" unless @po_header.customer.present? %>

                <%#= f.association :customer_quality, :label => "Quality", :label_method => 'quality_name', :label_value => "id", :include_blank => false %>
                
                <%= f.input :po_line_notes, :label => "Notes" %>

                <%= f.input :po_line_total, :label => "Total", :disabled => true, input_html: { class: 'special_font' }, :as => :hidden %>
                
                <%#= f.association :so_line %>
                <%#= f.association :vendor_quality %>
                <%#= f.association :item, :label => "Item", :label_method => 'item_part_no',:label_value => "id", :include_blank => false %>
                <%#= f.association :item_revision %>
                <%#= f.input :po_line_status %>
                <%#= f.input :po_line_active %>

                <div class="separator bottom"></div>

                <div class="actions">
                    <%= f.submit "ADD", :class =>"btn" %>
                    <%= link_to 'Delete', po_header_po_line_path(@po_header, @po_line), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @po_line.new_record? %>
                    <%= link_to 'SAVE', po_header_path(@po_header), :class =>"btn" %>
                    <%= link_to 'New Item/Alt Name', new_item_alt_name_path(new_item: true), :class => "btn", :target => "_blank" %>
                </div>
            <% end %>
        </div>





    <div class="separator bottom"></div>
        <div class="span8">
        <!-- Line Items -->
            <%= render :partial => 'po_lines/line_items' %>
        </div>
    </div>
<% end %>


<script type="text/javascript">
    // tab_field_forms["form_for_po_line"] = ["po_line_organization_id", "po_line_po_line_customer_po", "po_line_item_alt_name_id", "po_line_po_line_quantity", "po_line_po_line_cost", "po_line_po_line_notes"];

    tab_field_forms["form_for_po_line"] = ["po_line_item_alt_name_id", <%= '"po_line_alt_name_transfer_id",'.html_safe if po_is_transfer %> "po_line_po_line_quantity", "po_line_po_line_cost", <%= @po_header.customer.nil? ? '"po_line_organization_id", "po_line_po_line_customer_po",'.html_safe : '"po_line_po_line_sell",'.html_safe %> "po_line_po_line_notes"];

    var vendor_quality = "<%= @po_line.po_header.organization.vendor_quality.present? ? @po_line.po_header.organization.vendor_quality.quality_name : "" %>";

    $(document).ready(function(){ 
        var alt_name_path = $("#po_line_item_alt_name_id").attr("data-autocomplete");

        $("#po_line_organization_id").on("focusout", function(){
            if($("#organization_id").val() == ""){
                // $("#po_line_item_alt_name_id").attr("data-autocomplete", alt_name_path + "?organization_id=" + $("#org_organization_id").val());
            }
            else{   
                // $("#po_line_item_alt_name_id").attr("data-autocomplete", alt_name_path + "?organization_id=" + $("#organization_id").val());
                initialize_api_call({"url": "/organizations/" + $("#organization_id").val(), "type": "GET", "params": {"type" : "min_quality"}, "data_type": "json"}, "check_customer_min_quality", {});
            }
        });

        <% if @po_line.new_record? %>
            $("#po_line_item_alt_name_id").on("focusout", function(){
                if($("#alt_name_id").val() != "")
                    initialize_api_call({"url": "/item_alt_names/" + $("#alt_name_id").val(), "type": "GET", "params": {}, "data_type": "json"}, "set_item_revision_cost", {});
                else if($("#org_alt_name_id").val() != "")
                    initialize_api_call({"url": "/item_alt_names/" + $("#org_alt_name_id").val(), "type": "GET", "params": {}, "data_type": "json"}, "set_item_revision_cost", {});
                else{
                    $("#po_line_po_line_cost").val("");
                    calculate_line_item_total();
                }
            });

        <% end %>

        $("#po_line_organization_id").val("<%= @po_line.organization.organization_name if @po_line.organization %>");

        $("#po_line_item_alt_name_id").val("<%= @po_line.item_alt_name.alt_item_name if @po_line.item_alt_name %>");

        $("#po_line_alt_name_transfer_id").val("<%= @po_line.item_transfer_name.alt_item_name if @po_line.item_transfer_name %>");

        // $("#po_line_item_alt_name_id").attr("data-autocomplete", alt_name_path + "?organization_id=" + $("#org_organization_id").val());

        $("#po_line_po_line_cost").change(function(){
            calculate_line_item_total();
        });

        $("#po_line_po_line_cost").on("input", function(){
            calculate_line_item_total();
        });

        $("#po_line_po_line_quantity").on("input", function(){
            calculate_line_item_total();
        });

        // $("#po_line_organization_id").focus();  
        $("#po_line_item_alt_name_id").focus();       
    });

    function calculate_line_item_total(){
        var po_line_total = parseFloat($("#po_line_po_line_cost").val()) * parseInt($("#po_line_po_line_quantity").val());

        po_line_total = Math.round(po_line_total * 10000000000) / 10000000000;

         if(isNaN(po_line_total) == false)
            $("#po_line_po_line_total").val(po_line_total); //.toFixed(10)
        else
            $("#po_line_po_line_total").val("");
    }

    function set_item_revision_cost(response, callback_params, api_params){
        $("#po_line_po_line_cost").val(response.item_cost);
        calculate_line_item_total();
        return false;
    }

    function check_customer_min_quality(response, callback_params, api_params){
        if(response.min_vendor_quality != undefined && response.min_vendor_quality != ""){
            if(vendor_quality > response.min_vendor_quality)
                alert("Vendor Cannot Supply Aerospace Quality! Customer Min Quality ID : '" + response.min_vendor_quality + "' , Vendor Quality ID : '" + vendor_quality + "'");
        }
        else{

        }
    }
</script>
