<%= simple_form_for([@item_revision.item, @item_revision], :html => {:id => "form_for_items",:class => "form-horizontal"}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
        <%= f.input :item_revision_name, :label => "Revision Title", :autofocus => true %>
        <%= f.input :item_revision_date, :as => "string", :label => "Revision Date" %>

        <%#= f.input :item_name, :label => "Part Name" %>
        <%= f.input :item_name, :url => autocomplete_commodity_commodity_identifier_commodities_path, :as => :autocomplete, :label => "Part Name" %>


        <%= f.input :item_description, :label => "Description" %>

        <!-- <div class="control-group">
            <label for="item_processes" class="optional control-label">Alt Names</label>
            <div class="controls">
                <input type="hidden" id="item_names" style="width: 100%;" name="alt_names" value="<%#= @item_revision.item_alt_names.collect(&:item_alt_identifier).join(",") if @item_revision.persisted? %>" />
            </div>
        </div> -->
        
        <%= f.association :owner, :label => "Owner", :label_method => 'owner_identifier',:label_value => "id", :include_blank => false %>   

        <%#= f.association :organization, :label => "Vendor", :label_method => 'organization_short_name',:label_value => "id", :include_blank => false %>

         <%= f.association :organization, :url => autocomplete_organization_organization_name_organizations_path(type: "vendor"), :as => :autocomplete, :id_element => '#organization_id', required: true, :label => "Vendor" %>

        <%= hidden_field_tag :organization_id, (@item_revision.organization.id if @item_revision.persisted? && @item_revision.organization) %>

        <%= hidden_field_tag :org_organization_id, (@item_revision.organization.id if @item_revision.persisted? && @item_revision.organization) %>



        <%#= f.association :vendor_quality, :label => "Quality", :label_method => 'quality_name', :label_value => "id", :include_blank => false %>
        <%= f.input :item_cost, :label => "Cost" %>
        <%= f.input :item_tooling, :label => "Tooling" %>

        <!--  <div class="control-group">
            <label for="item_prints" class="optional control-label">Prints</label>
            <div class="controls">
                <%#= select_tag "prints[]", options_for_select(Print.all.map {|print| [print.print_identifier, print.id]}, @item_revision.persisted? ? (@item_revision.item_prints.empty? ? [] : @item_revision.item_prints.collect(&:print_id)) : []), :multiple => true, :size => 5, :class => "multi_select_box", :id => "item_prints" %>
            </div>
        </div> -->

        <%= f.association :print, :url => autocomplete_print_print_identifier_prints_path, :as => :autocomplete, :id_element => '#print_id', required: true, :label => "Print" %>

        <%= hidden_field_tag :print_id, (@item_revision.print.id if @item_revision.print) %>

        <%= hidden_field_tag :org_print_id, (@item_revision.print.id if @item_revision.print) %>

       <!--  <div class="control-group">
            <label for="item_materials" class="optional control-label">Materials</label>
            <div class="controls">
                <%#= select_tag "materials[]", options_for_select(Material.all.map {|material| [material.material_short_name, material.id]}, @item_revision.persisted? ? (@item_revision.item_materials.empty? ? [] : @item_revision.item_materials.collect(&:material_id)) : []), :multiple => true, :size => 5, :class => "multi_select_box", :id => "item_materials" %>
            </div>
        </div> -->

        <%= f.association :material, :url => autocomplete_material_material_short_name_materials_path, :as => :autocomplete, :id_element => '#material_id', required: true, :label => "Material" %>

        <%= hidden_field_tag :material_id, (@item_revision.material.id if @item_revision.material) %>

        <%= hidden_field_tag :org_material_id, (@item_revision.material.id if @item_revision.material) %>

        <div class="control-group">
            <label for="item_processes" class="optional control-label">Processes</label>
            <div class="controls">
                <%= select_tag "processes[]", options_for_select(ProcessType.all.map {|process| [process.process_short_name, process.id]}, @item_revision.persisted? ? (@item_revision.item_processes.empty? ? [] : @item_revision.item_processes.collect(&:process_type_id)) : []), :multiple => true, :size => 5, :class => "multi_select_box", :id => "item_processes" %>
            </div>
        </div>

        <div class="control-group">
            <label for="item_specifications" class="optional control-label">Specifications</label>
            <div class="controls">
                <%= select_tag "specs[]", options_for_select(Specification.all.map {|spec| [spec.specification_identifier, spec.id]}, @item_revision.persisted? ? (@item_revision.item_specifications.empty? ? [] : @item_revision.item_specifications.collect(&:specification_id)) : []), :multiple => true, :size => 5, :class => "multi_select_box", :id => "item_specifications" %>
            </div>
        </div>

        <%= f.input :item_notes, :label => "Notes" %>    
  </div>

  <div class="separator bottom"></div>

  <div class="form-actions">
    <%= f.button :submit, "Submit" %>
    <%= link_to 'Delete', item_item_revision_path(@item, @item_revision), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @item_revision.new_record? %>
    <%= link_to 'Back', @item, :class =>"btn" %>

  </div>
<% end %>



<script type="text/javascript">
  tab_field_forms["form_for_items"] = ["item_revision_item_revision_name", "item_revision_item_revision_date", "item_revision_item_name", "item_revision_item_description", "item_revision_owner_id", "item_revision_organization_id", "item_revision_item_cost", "item_revision_item_tooling", "item_revision_print_id", "item_revision_material_id", "item_revision_item_notes"];

  <% date_box_date = @item_revision.new_record? ? Date.today : @item_revision.item_revision_date %> 

  date_box_fields = date_box_fields.concat([{"name":"item_revision_item_revision_date", "value":"<%= date_box_date %>"}]);

  $(document).ready(function(){ 
     // $("#item_names").select2({tags:<%#= ItemAltName.all.collect(&:item_alt_identifier).to_s.html_safe %>});
     // $("#s2id_item_names").css("width", "220px");

    <% unless @item_revision.new_record? %>
        $("#item_revision_print_id").val("<%= @item_revision.print.print_identifier if @item_revision.print %>");

        $("#item_revision_material_id").val("<%= @item_revision.material.material_short_name if @item_revision.material %>");

        $("#item_revision_organization_id").val("<%= @item_revision.organization.organization_name if @item_revision.organization %>");
    <% end %>
  });
</script>
