<p id="notice"><%= notice %></p>

<p>
  <b>Quality lot:</b>
  <%= @quality_history.quality_lot_id %>
</p>

<p>
  <b>Quality status:</b>
  <%= @quality_history.quality_status %>
</p>

<p>
  <b>User:</b>
  <%= @quality_history.user_id %>
</p>


<%= link_to 'Edit', edit_quality_history_path(@quality_history) %> |
<%= link_to 'Back', quality_histories_path %>
