<%= simple_form_for(@user,:url => {:action => "create"}, :html => {:id => "form_for_previlage", :class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">    
    <%= f.input :email, :autofocus => true %>
    <%= f.input :name %>
    <div class="control-group string optional user_state">
      <label for="user_state" class="string optional control-label">Designation</label>
      <div class="controls">
        <%= select_tag 'role', options_for_select([["Super Admin", "superadmin"], ["Manager", "manager"], ["Quality", "quality"], ["Operations", "operations"], ["Clerical", "clerical"], ["Logistics", "logistics"], ["Vendor", "vendor"], ["Customer", "customer"]]), :class => "string optional" %>
      </div>
    </div>
    <%= f.input :gender, label: 'Gender', collection: [['Male'], ['Female']], as: :radio_buttons, :checked => "Male"  %>
    <%= f.input :address %>  
    <%= f.input :city %> 
    <%= f.input :state %>  
    <%= f.input :country %> 
    <%= f.input :telephone_no %>  
    <%= f.input :mobile_no %>
    <%= f.input :active %>
  </div>
  <div class="separator bottom"></div>
  <div class="form-actions">
       <%= f.button :submit %>
       <%= link_to 'Delete', privilege_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @user.new_record? %>


    <%= link_to 'Back to Users', privileges_path,:class =>"btn" %>
  </div>
<% end %>
<script type="text/javascript">
    tab_field_forms["form_for_previlage"] = ["user_email", "user_name", "role", "user_gender_male", "user_gender_female", "user_address", "user_city", "user_state", "user_country", "user_telephone_no", "user_mobile_no", "user_active"];
</script>
<!-- 
    <div class="control-group">
        <label for="item_processes" class="optional control-label">Roles</label>
        <div class="controls">
            <%#= select_tag "roles[]", options_for_select([["Super Admin", "superadmin"], ["Planet Manager", "plant_manager"], ["Sales Manager","sales_manager"], ["Operations Manager", "operations_manager"], ["Quality Manager", "quality_manager"], ["Logistics Manager", "logistics_manager"]]), :multiple => true, :size => 5, :class => "multi_select_box", :id => "user_roles" %>
        </div>
    </div>
 -->