<div class="widget">
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">Group</h4>
            <span class="span6 heading right">
                <%= link_to 'New Group', new_group_path, :class => "btn btn-mini btn-success" %>
            </span>
        </div> 
    </div>

    <div class="widget-body">
        <table id="table_report_payable_list" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Group Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>                
            </tbody>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {
        :name => "table_report", :path => groups_path, :extras => {:slno => false},  
        :columns => '[
                        { "mData": "group_name"},
                        { "mData": "links", "bSortable": false, "bSearchable": false }
                    ]'
    } 
%>














<h1>Listing groups</h1>

<table>
  <tr>
    <th>Group name</th>
    <th>Group type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.group_name %></td>
    <td><%= group.group_type %></td>
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group', new_group_path %>
