<p id="notice"><%= notice %></p>

<p>
  <b>Test package:</b>
  <%= @test_item.test_package %>
</p>

<p>
  <b>Item name:</b>
  <%= @test_item.item_name %>
</p>


<%= link_to 'Edit', edit_test_item_path(@test_item) %> |
<%= link_to 'Back', test_items_path %>
