<%= simple_form_for(@gl_entry, :html => {:id => "form_for_gl_entries",:class => "form-horizontal"}) do |f| %>
<div class="row-fluid row-fluid-02">
    <div id="gl_entry_gl_account_info" class="span4 well item_detail_view">
        <% if @gl_entry.persisted? %>            
                <%= render :partial => 'gl_accounts/gl_account_info' %>
        <% end %>
    </div>

    <div class="widget-body">
        <table id="table_report" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>ID</th>
                <th>GL Account</th>
                <th>Description</th>
                <th>Date</th>
                <th>Credit</th>
                <th>Debit</th>
                <th>Active</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
                
            </tbody>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {
        :name => "table_report", :path => gl_entries_path, :extras => {:slno => false, :order => "desc",:currency_format => [4,5]},
        :columns => '[
                        { "mData": "gl_entry_identifier" },
                        { "mData": "gl_account_name" },
                        { "mData": "gl_entry_description" },
                        { "mData": "gl_entry_date" },
                        { "mData": "gl_entry_credit"},
                        { "mData": "gl_entry_debit"},
                        { "mData": "gl_entry_active" },
                        { "mData": "links", "bSortable": false, "bSearchable": false }
                    ]'
    } 
%>
<% if can? :edit, GlEntry %>
    <div class="span8 well item_detail_view">
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.association :gl_account, :url => autocomplete_gl_account_gl_account_title_gl_accounts_path, :as => :autocomplete, :id_element => '#gl_account_id', :label => "GL Account" %>
          <%= hidden_field_tag :gl_account_id, (@gl_entry.gl_account_id if @gl_entry.gl_account) %>
          <%= hidden_field_tag :org_gl_account_id, (@gl_entry.gl_account_id if @gl_entry.gl_account) %>

          <%= f.input :gl_entry_description, label: "Description" %>
          <%= f.input :gl_entry_credit, label: "Credit" %>
          <%= f.input :gl_entry_debit, label: "Debit" %>
          <%= f.input :gl_entry_date, :as => :string, label: "Date" %>
          <%= f.input :gl_entry_notes, label: "Notes" %>    
          <%= f.input :gl_entry_active, label: "Active" %>
        </div>

        <div class="separator bottom"></div>

        <div class="form-actions form-actions-02">
          <%= f.button :submit, :class => "btn btn-02"  %>
          <%= link_to 'Delete', gl_entry_path(@gl_entry), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-03" unless @gl_entry.new_record? %>
          <%= link_to 'Back to Journal Entries', gl_entries_path, :class => "btn" %>
        </div>
    </div>
</div>
<% end %>
<% end %>


<script type="text/javascript">
    tab_field_forms["form_for_gl_entries"] = ["gl_entry_gl_account_id", "gl_entry_gl_entry_description", "gl_entry_gl_entry_credit", "gl_entry_gl_entry_debit", "gl_entry_gl_entry_date", "gl_entry_gl_entry_notes", "gl_entry_gl_entry_active"];

    <% date_box_date1 = @gl_entry.new_record? ? Date.today : @gl_entry.gl_entry_date %>

    date_box_fields = date_box_fields.concat([{"name":"gl_entry_gl_entry_date", "value":"<%= date_box_date1 %>"}]);

    $(document).ready(function(){ 
        $(document).on("focusout", "#gl_entry_gl_account_id", function(){
            if($("#gl_account_id").val() != "" && $("#gl_account_id").val() != undefined){
                initialize_api_call({"url": "/gl_accounts/" + $("#gl_account_id").val() + "/gl_account_info", "type": "GET", "params": {}}, "set_gl_account_info", {});
            }
            else{
                $("#gl_entry_gl_account_info").html("");
            }
        });

        <% unless @gl_entry.nil? %>
            $("#gl_entry_gl_account_id").val("<%= @gl_entry.gl_account.gl_account_title if @gl_entry.gl_account %>");
        <% end %>

        
        $('#gl_entry_gl_account_id').keydown(function(e) {
            var code = e.keyCode || e.which;
            if (code === 9 || code ===13 ) 
            {                  
                $('#gl_entry_gl_account_id').val($( "#ui-id-1 li a" ).first().html());                
                initialize_api_call({"url": "/common_actions/get_info", "type": "GET", "data_type": "json", "params": {"mode": "get_account", "gl_name": $('#gl_entry_gl_account_id').val()}}, "get_acc_id", {}); 
            }
          });  

    });

    function set_gl_account_info(response, callback_params, api_params){
      $("#gl_entry_gl_account_info").html(response);
      return false;
    }

    function get_acc_id(response){       
       var acc_id_val = JSON.stringify(response.aaData.id);      
        $("#gl_account_id").val(acc_id_val);       
        initialize_api_call({"url": "/gl_accounts/" + acc_id_val + "/gl_account_info", "type": "GET", "params": {}}, "set_gl_account_info", {});      
     }
</script>
<style>
 .row-fluid.row-fluid-02 {
    float: left;
    width: 70%;
}


.span8.well.item_detail_view {
    float: right;
    width: 22%;
}

.form-horizontal .well .control-label {
    text-align: left;
    width: 90px !important;
}

.span8.well.item_detail_view input {
    width: 125px;
}
.form-horizontal .well .controls {
    margin-left: !important;
}

.text.optional textarea {
    width: 125px;
}
.form-actions input {
    margin: 0 0 10px;
}
.span4.well.item_detail_view {
    margin: 0 0 50px;
    width: 100%;
}
.form-horizontal .well .controls {
margin-left: 92px !important;
}
.btn.btn-02 {
    width: 180px !important;
}
.btn:not(.btn-block) {
    margin: 10px 0 0 !important;
}
.form-actions.form-actions-02 {
    margin: 0 auto !important;
    width: 182px;
}
.row-fluid.row-fluid-02 {
float: left;
width: 72%;
}

.span8.well.item_detail_view {
    float: right;
    padding: 13px;
    width: 221px;
}
.glyphicons.btn-action {
height: 24px;
width: 22px;
}
.table-condensed th, .table-condensed td {
    padding: 4px 5px;
}
.btn.btn-03 {
    width: 85%;
}
 </style>