<table class="table">
  <tbody>
      <tr>
        <td class="span3">ID:</td>
        <td class="span5"><strong><%= @gl_entry.gl_entry_identifier %></strong></td>
      </tr>

      <tr>
        <td class="span3">GL Account:</td>
        <td class="span5"><strong><%= link_to(@gl_entry.gl_account.gl_account_title, @gl_entry.gl_account) if @gl_entry.gl_account %></strong></td>
      </tr>

      <tr>
        <td class="span3">Description:</td>
        <td class="span5"><strong><%= @gl_entry.gl_entry_description %></strong></td>
      </tr>

      <tr>
        <td class="span3">Date:</td>
        <td class="span5"><strong><%= @gl_entry.gl_entry_date %></strong></td>
      </tr>

      <tr>
        <td class="span3">Credit:</td>
        <td class="span5"><strong><h4>$ <%= @gl_entry.gl_entry_credit %></h4></strong></td>
      </tr>

      <tr>
        <td class="span3">Debit:</td>
        <td class="span5"><strong><h4>$ <%= @gl_entry.gl_entry_debit %></h4></strong></td>
      </tr>

      <tr>
        <td class="span3">Active:</td>
        <td class="span5"><strong><%= @gl_entry.gl_entry_active %></strong></td>
      </tr>
  </tbody>
</table>

<div class="separator bottom"></div>