<!-- Widget -->
<div class="widget widget-003">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="span6">
            <h4 class="heading glyphicons file_import"><i></i>Dropzone For Attachments</h4>
        </div>
        <div class="span6 right">
            <%= link_to "Clear", "#", onclick: "plupupload_clear_queue(); return false", class: "btn btn-small btn-success" %>
        </div>
    </div>
    <!-- // Widget heading END -->
    
    <div class="widget-body widget-body-002"> 
        <!-- Dropzone -->
        <div id="dropzone">
            <form action="/attachments?attachment_process_type=droppable&attachable_id=<%= @attachable.id %>&attachable_type=<%= @attachable.class.name %>" class="dropzone" method="post" id="attachment_dropzone">
                <div class="fallback">
                    <input name="file" type="file" multiple />
                </div>
            </form>
        </div>
        <div class="separator bottom"></div>      
    </div>
</div>
<!-- // Widget END -->

<script type="text/javascript">
    function plupupload_complete_callback(response){        
        data_table_report_attachments.fnDestroy();

        data_table_report_attachments = $('#table_report_attachments').dataTable({
            "bAutoWidth": false,
            "bProcessing": true,
            "sAjaxSource": '/attachments?attachable_id=<%= @attachable.id %>&attachable_type=<%= @attachable.class.name %>',
            "aoColumns": [
                        { "mData": "id" },
                        { "mData": "attachment_name" },
                        { "mData": "attachment_revision_title" },
                        { "mData": "effective_date" },
                        { "mData": "attachment_description", "bVisible": false },
                        { "mData": "attachment_notes", "bVisible": false },
                        { "mData": "attachment_public" },
                        { "mData": "attachment_status", "bVisible": false },
                        { "mData": "attachment_active", "bVisible": false },
                        { "mData": "uploaded_date", "bVisible": false },
                        { "mData": "uploaded_by" },
                        { "mData": "approved_by", "bVisible": false },
                        { "mData": "links" }
                    ]        
        });
    }

    function plupupload_clear_queue(){
        $("#attachment_dropzone").html('<div class="default message"><span>Drop files here to upload</span></div>');
        $("#attachment_dropzone").removeClass("started");
    }
</script>