<%= simple_form_for(@attachment, :html => {:id => "form_for_attachment", :class => "form-horizontal", :multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
      <%= f.hidden_field :attachable_id %>
      <%= f.hidden_field :attachable_type %>
      <%= f.input :attachment_name, label: "Name", :autofocus => true %>
      <%= f.input :attachment_revision_title, label: "Revision" %>
      <%= f.input :attachment_revision_date, :as => "string", label: "Effective Date" %>      
      <%= f.input :attachment_description, label: "Description" %>
      <%#= f.input :attachment_notes, label: "Notes" %>
      <%= f.input :attachment_public, label: "Public" %>
      <%= f.input :attachment, label: "Attachment (Only if changed/new)" %>
      <%#= f.input :attachment_active, label: "Active" %>
  </div>

  <div class="separator bottom"></div>

  <div class="form-actions">
      <%= f.button :submit, "Save" %>
      <%= link_to 'Delete', attachment_path(@attachment), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @attachment.new_record? %>
      <%= link_to 'Back', @attachment.attachable.redirect_path, :class =>"btn" %>
  </div>

<% end %>


<script type="text/javascript">
  tab_field_forms["form_for_attachment"] = ["attachment_attachment_name", "attachment_attachment_revision_title", "attachment_attachment_revision_date", "attachment_attachment_description", "attachment_attachment_public", "attachment_attachment"];

  <% date_box_date = @attachment.new_record? ? Date.today : @attachment.attachment_revision_date %> 

  date_box_fields = date_box_fields.concat([{"name":"attachment_attachment_revision_date", "value":"<%= date_box_date %>"}]);
</script>
