<%= simple_form_for(@attachment, :html => {:id => "form_for_attachment", :class => "form-horizontal", :multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
      <%= f.hidden_field :attachable_id, value: @object.id %>
      <%= f.hidden_field :attachable_type, value: @object.class %>
      <%= f.input :attachment_title, label: "Title" %>
      <%= f.input :attachment_description, label: "Description" %>
      <%= f.input :attachment_notes, label: "Notes" %>
      <%= f.input :attachment_public, label: "Public" %>
      <%= f.input :attachment_active, label: "Active" %>
      <span class="btn btn-default btn-file">
          <!-- <span class="fileupload-new">Select file</span> -->
          <%= f.input :attachment %>
      </span>
  </div>

  <div class="separator bottom"></div>

  <div class="form-actions">
      <%= f.button :submit, "Save" %>
  </div>

<% end %>
