<%= simple_form_for(@specification, :html => {:id => "form_for_specification", :class => "form-horizontal", :multipart => true}) do |g| %>
  <%= g.error_notification %>

  <%= g.simple_fields_for :attachment do |f| %>
    <div class="form-inputs">        
        <%= render :partial => 'attachments/attachment_fields', :locals => {f: f} %>    
    </div>
  <% end %>

  <div class="separator bottom"></div> 

  <div class="form-actions">
    <%= g.button :submit, :class => "btn" %>

    <%= link_to 'Delete', specification_path(@specification), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @specification.new_record? %>
    
    <%= link_to 'Back to Specifications', specifications_path, :class => "btn" %>
  </div>
<% end %>

<script type="text/javascript">
  tab_field_forms["form_for_specification"] = ["specification_attachment_attributes_attachment_name", "specification_attachment_attributes_attachment_revision_title", "specification_attachment_attributes_attachment_revision_date", "specification_attachment_attributes_attachment_description", "specification_attachment_attributes_attachment_public", "specification_attachment_attributes_attachment"];

  <% date_box_date = @specification.new_record? ? Date.today : @specification.attachment.attachment_revision_date %> 

  date_box_fields = date_box_fields.concat([{"name":"specification_attachment_attributes_attachment_revision_date", "value":"<%= date_box_date %>"}]);
</script>
