<%= simple_form_for([@material, @material_element], :html => {:id => "form_for_elements", :class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :material_id, :value => @material.id %>
    <%= f.input :element_symbol, :autofocus => true %>
    <%= f.input :element_name %>
    <%= f.input :element_low_range %>
    <%= f.input :element_high_range %>
    <%= f.input :element_active %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Back to Elements of ' + @material.material_short_name, material_material_elements_path(@material), :class => "btn btn-small" %>
  </div>
<% end %>

<script type="text/javascript">
    tab_field_forms["form_for_elements"] = ["material_element_element_symbol", "material_element_element_name", "material_element_element_low_range", "material_element_element_high_range", "material_element_element_active"];
</script>
