<%= simple_form_for([@material, @material_element], :html => {:id => "form_for_elements", :class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :material_id, :value => @material.id %>

    <%= f.association :element, :url => autocomplete_element_element_name_elements_path, :as => :autocomplete, :id_element => '#element_id', required: true, :label => "Element" %>

    <%= hidden_field_tag :element_id, (@material_element.element.id if @material_element.element) %>

    <%= hidden_field_tag :org_element_id, (@material_element.element.id if @material_element.element) %>

    <%= f.input :element_low_range, :label => "Low Range" %>
    <%= f.input :element_high_range, :label => "High Range" %>
    <%#= f.input :element_symbol, :autofocus => true, :label => "Symbol" %>
    <%#= f.input :element_name, :label => "Name" %>
    <%#= f.input :element_active, :label => "Active" %>
  </div>

  <div class="separator bottom"></div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn' %>
    <%= link_to 'Back to Elements of ' + @material.material_short_name, material_material_elements_path(@material), :class => "btn" %>
  </div>
<% end %>

<script type="text/javascript">
  tab_field_forms["form_for_elements"] = ["material_element_element_id", "material_element_element_low_range", "material_element_element_high_range"];

  $(document).ready(function(){ 
    $("#material_element_element_id").focus();

    $("#material_element_element_id").val("<%= @material_element.element.element_symbol_name if @material_element.element %>");
  });
</script>
