<%#= render :partial => 'materials/material_elements', :locals => {:content => "material_info", :material => @material} %>

<div class="row-fluid span8">
  <div class="label label-large label-info arrowed-in arrowed-right">
        <h4>Material Element Info</h4>
  </div>
  <table class="table table-striped table-bordered table-hover">
    <tbody>
        <tr>
          <td class="span2">Symbol :</td>
          <td class="span5"><%= @material_element.element_symbol %></td>
        </tr>

        <tr>
          <td class="span3">Name :</td>
          <td class="span5"><%= @material_element.element_name %></td>
        </tr>

        <tr>
          <td class="span3">Low Range :</td>
          <td class="span5"><%= @material_element.element_low_range %></td>
        </tr>

        <tr>
          <td class="span3">High Range :</td>
          <td class="span5"><%= @material_element.element_high_range %></td>
        </tr>

        <tr>
          <td class="span3">Active :</td>
          <td class="span5"><%= @material_element.element_active %></td>
        </tr>
    </tbody>
  </table>

  <div class="form-actions">
    <%= link_to 'Edit', edit_material_material_element_path(@material, @material_element), :class => "btn btn-small" %>
    <%= link_to 'Back to Elements of ' + @material.material_short_name, material_material_elements_path(@material), :class => "btn btn-small" %>
  </div>
</div>