<div class="row-fluid">
  <%= render :partial => 'items/item_info' %>

  <div class="span9">
      <%= simple_form_for(@quality_lot, :html => {:id => "form_for_material_elements",:class => "form-horizontal"}) do |f| %>

      <%= hidden_field_tag :lot_material, true %> 

      <%= f.error_notification %>  

        <div class="form-inputs">
          <table class="data_lines_table dynamicTable table table-striped table-bordered table-condensed">
              <thead>
                  <tr>
                      <th>Element</th>
                      <th>Allowed Low Range</th>
                      <th>Allowed High Range</th>
                      <th>Calculated Value</th>
                      <!-- <th>Calculated High Range</th> -->
                  </tr>
              </thead>

              <tbody>
                  <%= f.fields_for :quality_lot_materials, @material_elements do |element| %>
                      <%= element.hidden_field :material_element_id %>
                      <tr>
                          <td><%= element.object.material_element.element.element_name.to_s + " (" + element.object.material_element.element.element_symbol.to_s + ")" %></td>
                          <td><%= element.object.material_element.element_low_range %></td>
                          <td><%= element.object.material_element.element_high_range %></td>
                          <td><%= element.input :lot_element_low_range, label: false, input_html: { class: 'lot_element_low_range' } %></td>

                          <!-- <td><%#= element.input :lot_element_high_range, label: false, input_html: { class: 'lot_element_high_range' } %></td> -->
                      </tr>
                  <% end %>
              </tbody>
          </table>
        </div>

        <div class="separator bottom"></div>
        <div class="separator bottom"></div>

        <div class="form-actions">
            <%= f.submit "Update", :class => "btn" %>
            <%= link_to 'Back', quality_lot_materials_path(quality_lot_id: @quality_lot.id), :class => "btn" %>
        </div>
      <% end %>

      <div class="separator bottom"></div>

      <%= render 'material_elements/material_elements' %>
  </div>

</div>

<script type="text/javascript">
    $(document).ready(function(){ 
        $(document).on("keydown", ".lot_element_low_range", function(e){
            var payable_fine_to_submit = table_row_next_focus(e, "#form_for_material_elements", $(this), ".lot_element_low_range", true);
        });

        // $(document).on("keydown", ".lot_element_high_range", function(e){
        //     var payable_fine_to_submit = table_row_next_focus(e, "#form_for_material_elements", $(this), ".lot_element_low_range", true);
        // });

        $(".lot_element_low_range:first").focus();
    });
</script>