<!DOCTYPE html>
<html>
<head>
<!--[if lt IE 9]><script src="html5.js"></script><![endif]-->
<style type="text/css">
body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 17px;
}
/* New Style */
.clear{clear: both;}

.ms_wrapper{float: left;height: auto;width:640px;}
.form-bold {
    font-size: 18px;
}
.ms_wrapper td {
    padding: 5px 0;
    width: 640px;
}
.pay-heading {
    font-size: 19px;
    font-weight: bold;
}
.tab-02 td {
    border: 1px solid #111;
    float: left;
    padding: 11px 0;
    width: 103px;
}
.tab-head-02 > td {
    padding: 0;
}
.tab-head td {
    background-color: #111;
    border: 1px solid #111;
    color: #fff;
    float: left;
    font-weight: bold;
    padding: 11px 0;
    width: 103px;
}

.line-02 {
    border-bottom: 1px solid #111;
    float: left;
    width: 640px;
}

</style>
</head>

<body>
<p style="page-break-after:always;">	
<div class="ms_wrapper">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr class="line-02">
      <td scope="row"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td scope="row"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td scope="row"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr align="left" valign="top">
                  <td width="50%" scope="row">Check Code:</td>
                  <td width="50%"><%= check_entry.check_code %></td>
                </tr>
              </table></td>
              </tr>
              <% payment = Payment.find_by_check_entry_id(check_entry.id) %>
            <tr align="left" valign="top">
              <td scope="row"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr align="left" valign="top">
                  <td width="50%" scope="row">Payment Identifier:</td>
                  <td width="50%"><%= payment.payment_identifier %></td>
                </tr>
              </table></td>
              </tr>
            </table></td>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr align="left" valign="top">
              <td scope="row"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr align="left" valign="top">
                  <td width="50%" scope="row">Payment Amount:</td>
                  <td width="50%"><%= payment.payment_check_amount %></td>
                </tr>
              </table></td>
              </tr>
            <tr>
              <td scope="row"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr align="left" valign="top">
                  <td width="50%" scope="row">Vendor : </td>
                  <td width="50%"><%= payment.organization.organization_name %></td>
                </tr>
              </table></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td scope="row">&nbsp;</td>
    </tr>
    <tr>
      <td align="center" scope="row" class="pay-heading">Payment Lines </td>
    </tr>
    <tr>
      <td scope="row">&nbsp;</td>
    </tr>
        <tr class="tab-head-02">
      <td scope="row"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab-head">
        <tr align="center" valign="middle">
          <td scope="row">Invoice</td>
          <td>Date</td>
          <td>Due Date</td>
          <td>Total</td>
          <td>Balance</td>
          <td>Amount</td>
        </tr>
      </table></td>
    </tr>
    <% payment.payment_lines.each do |payment_line| %>
    <tr class="tab-head-02">
      <td scope="row"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab-02">
        <tr align="center" valign="middle">
          <td scope="row"><%= payment_line.payable.payable_identifier %></td>
          <td><%= payment_line.payable.payable_invoice_date %></td>
          <td><%= payment_line.payable.payable_due_date %></td>
          <td><%= payment_line.payable.payable_total %></td>
          <td><%= payment_line.payable.payable_current_balance %></td>
          <td><%= payment_line.payment_line_amount %></td>
        </tr>        
      </table></td>
    </tr>
    <% end %>
  </table> 
</div></p>
</body>
</html>








