<!DOCTYPE html>
<html>
<head>
<title>Member Spotlight</title>
<!--[if lt IE 9]><script src="html5.js"></script><![endif]-->
<style>


body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
/* New Style */
.clear{clear: both;}
.fo-4 {
    font-size: 10px !important;
    line-height: 10px;
}

.ms_wrapper{float: left;height: auto;width:678px;}
.form-bold {
    font-size: 12px;
}
.logo {
    padding: 0 16px 0 0;
}

.fon {
    font-size: 11px;
    line-height: 11px;
}

.pad {
    font-size: 13px;
    padding: 12px 0 0 0;
  
}
.pad-02 {
    font-size: 13px;
    padding: 20px 0 5px 0;
    text-transform: uppercase;
}
.fontw {
    font-size: 16px;
}
.fo {
    font-size: 22px;
}
.fontw-04 {
    font-size: 28px;
}
.fon-03 {
    font-size: 12px;
    padding: 0 0 0 71px;
    text-transform: none;
}
.font-04{font-size:12px;}
.pad-02.bor {
    border-bottom: 2px solid #000;
    padding: 20px 0 19px;
}
.pad-02.fon-05 {
    font-size: 16px;
}
.fon-06 td {
    font-size: 13px;
    padding: 4px 0 9px;
}
.bor-03 td {
    border-top: 1px dashed #000;
    padding: 17px 0;
}
.fon9 {
    font-size: 28px;
    padding: 21px 0 0;
}
.fon-10 {
    font-size: 17px;
}
.spac{height:100px;}
.spac2{height:300px;}


.cent-1 {
    margin: 300px 0 0;
    text-align: center;
}
.fontw.fontw-003 {
    padding: 0 0 17px;
}

.fontw.fontw-002 {
    padding: 24px 0 0;
}
.bo-02 {
    border-top: 2px solid #111;
}
</style>




</head>
<body>

<% payment = Payment.find_by_check_entry_id(check_entry.id) %>
<div class="ms_wrapper">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th scope="row" class="spac">&nbsp;</th>
    </tr>
    <tr>
      <th scope="row"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="pad-02">
        <tr align="left" valign="top">
          <th width="13%" scope="row">&nbsp;</th>
          <td width="27%" class="fontw"><%= payment.organization.organization_name %></td>
  
          <td width="60%" align="right" class="fontw"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr align="right">
              <th scope="row"><%= check_entry.created_at.strftime("%m/%d/%Y") %></th>
            </tr>
            <tr align="right">
              <th scope="row"><%= payment.payment_check_amount %></th>
            </tr>
          </table></td>
        </tr>
        <tr align="left" valign="top">
          <th scope="row">&nbsp;</th>
          <td class="fontw">&nbsp;</td>
          <td align="right" class="fontw">&nbsp;</td>
        </tr>
        <tr align="left" valign="top">
          <th scope="row">&nbsp;</th>
          <td class="fontw">&nbsp;</td>
          <td align="right" class="fontw">&nbsp;</td>
        </tr>
        <tr align="left" valign="top">
          <th scope="row">&nbsp;</th>
          <td class="fontw">Description </td>
          <td align="right" class="fontw fontw-003">&nbsp;</td>
        </tr>



        <tr align="left" valign="top">
          <th colspan="4" scope="row" class="pad-02"><table width="100%" border="0" cellspacing="0" cellpadding="0" >
            <tr>
              <th width="54%" class="fon-03" scope="row"></th>
              <td width="2%"></td>
              </tr>
          </table></th>
          </tr>
      </table></th>
    </tr>
    <tr>
      <th scope="row" class="pad-02">&nbsp;</th>
    </tr>
    <tr>
      <th scope="row" class="pad-02">&nbsp;</th>
    </tr>
<!--     <tr>
       <tr>
      <th scope="row"><table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody><tr class="fon-06" align="center">
          <th scope="row"><u>Vendor inv</u></th>
          <td><u>Invoice Date:</u></td>
          <td><u>Payable #:</u></td>
          <td><u>Invoice Amount:</u></td>
          <td><u>Discount:</u></td>
          <td><u>Amount paid</u></td>
        </tr>
        <% payment.payment_lines.each do |payment_line| %>
          <tr class="bor-03" align="center">
              <td><%= payment_line.payable.payable_invoice %></td>
              <td><%= payment_line.payable.payable_invoice_date.strftime("%m/%d/%Y") %></td>
              <td><%= payment_line.payable.payable_identifier %></td>
              <td><%= payment_line.payable.payable_total %></td>
              <td><%= payment_line.payable.payable_discount %></td>
              <td><%= payment_line.payment_line_amount %></td>
          </tr>
        <% end %>
      
        

      </tbody></table></th>
    </tr>
    </tr> -->
    <tr align="left" valign="top">
      <th scope="row"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th width="30%" scope="row">&nbsp;</th>
          <td width="10%" rowspan="2"><br></td>
          <td width="60%">&nbsp;</td>
        </tr>
        <h2 class="cent-1">  </h2>
        <tr>
          <th align="left" scope="row" class="font-04"><%= payment.organization.organization_name %></th>
          <td align="right">&nbsp;</td>
        </tr>
        <tr>
          <th scope="row">&nbsp;</th>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr align="right">
          <th scope="row">&nbsp;</th>
          <td>&nbsp;</td>
          <td><span class="font-04"><%= check_entry.created_at.strftime("%m/%d/%Y") %></span></td>
        </tr>
        <tr align="right">
          <th align="left" scope="row">&nbsp;</th>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr align="right">
          <th align="left" scope="row"><span class="font-04">Customer ID</span></th>
          <td>&nbsp;</td>
          <td><span class="font-04"><%= payment.payment_check_amount %></span></td>
        </tr>
      </table></th>
    </tr>
    <tr>
      <th scope="row">&nbsp;</th>
    </tr>
    <tr>
      <th scope="row"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th width="30%" align="left" scope="row"><span class="font-04"><%= payment.organization.organization_address_1 %><br>
             <%= payment.organization.organization_address_2 %><br>
             <%= payment.organization.organization_city %>, <%= payment.organization.organization_state %><br>
                    <%= payment.organization.organization_country %>, <%= payment.organization.organization_zipcode %></span></th>
          <td width="70%">&nbsp;</td>
        </tr>
      </table></th>
    </tr>
    <tr>
      <th scope="row">&nbsp;</th>
    </tr>
    <tr>
      <th scope="row">&nbsp;</th>
    </tr>
    <tr>
      <th scope="row">&nbsp;</th>
    </tr>
    <tr align="left">
      <th scope="row">&nbsp;</th>
    </tr>
    <tr align="left">
   
    </tr>
    <tr align="left">
      <th scope="row">&nbsp;</th>
    </tr>
  </table>
</div><div style="page-break-before:always">&nbsp;</div> 
</body>
</html>
