 <div class="row-fluid">
        <div class="span9">
           <div class="span4 well">
                  <a class="widget-stats" href="#" id="contacts_btn" onclick="checks_report();return false;">
                      <span class="glyphicons print"><i></i></span>
                      <span class="txt">Print Checks</span>
                      <div class="clearfix"></div>
                  </a>
            </div> 
        </div>
    </div>    
<!-- Widget -->
<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">Checks</h4>
            <span class="span6 heading right">
                <%= link_to 'New Check', new_check_entry_path, :class => "btn btn-mini btn-success" %>
                <%= link_to 'Payments', payments_path, :class => "btn btn-mini btn-success" %>
            </span>
        </div> 
    </div>
    <!-- // Widget heading END -->
   
    <div class="widget-body">
        <table id="table_report" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Check Code</th>
                <th>Payables</th>
                <th></th>
              </tr>
            </thead>
            <tbody>                
            </tbody>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {
        :name => "table_report", :path => check_entries_path, :extras => {:slno => false},
        :columns => '[
                        { "mData": "check_identifier" },
                        { "mData": "payables" },
                        { "mData": "links", "bSortable": false, "bSearchable": false }
                    ]'
    } 
%>

<script type="text/javascript">
function checks_report() { 
    var flag = 0;
    var count =0;
    var checks_iframe = $("#myPrintView")[0];   
    <% @check_entries =  CheckEntry.where(:check_active => 1) %>         
        <% @check_entries.each do |c| %>
            <% unless c.check_belongs_to.nil? %> 
               flag = 1; 
               count = count + 1;
               checkEntryId = <%= c.id %>
                initialize_api_call({"url": "/common_actions/get_info", "type": "GET", "data_type": "json", "params": {"mode": "after_print_checks", "id" : checkEntryId  }}, "", {});
            <% end %>
        <% end %> 
    if (flag == 1){             
        checks_iframe.contentWindow.print();
    }    
    else {
        alert("There are no Checks to Print");
    }  

    var timer = ((count/2) + 1) * 1000
    setTimeout(function(){
       reload_the_page();
    }, timer);

}  
function reload_the_page()
{
    location.reload();
}
</script>
<iframe src="<%= report_check_entries_path%>" style="border:0;" id="myPrintView" width="10" height= "10"></iframe>