<div class="row-fluid">    
    <%= render :partial => 'items/item_info' %>

    <div class="span9">
        <div class="widget">
            <div class="widget-head">
                <div class="row-fluid">
                    <h5 class="span8 heading">Process Capability of <%= link_to @quality_lot.lot_control_no, quality_lot_path(@quality_lot) %>
                    </h5>
                    <span class="span4 heading right">
                        <%= link_to 'Update', new_quality_lot_capability_path(quality_lot_id: @quality_lot.id), :class => "btn btn-mini btn-success" %>
                        <%= link_to 'Lot Info', quality_lot_path(@quality_lot), :class => "btn btn-mini btn-success" %>
                    </span>
                </div> 
            </div>

            <div class="widget-body">
                <table id="table_report_process_capability" class="dynamicTable table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Lot</th>
                            <th>Bubble</th>
                            <th>Dimension</th>
                            <th>+ Tol</th>
                            <th>- Tol</th>
                            <th>Avg</th>
                            <th>STD</th>
                            <th>Max</th>
                            <th>Min</th>
                            <th>Cpk</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {
        :name => "table_report_process_capability", :path => quality_lot_capabilities_path(quality_lot_id: @quality_lot.id), :extras => {:slno => false},
        :columns => '[
                        { "mData": "lot_control_no", "bVisible": false },
                        { "mData": "item_part_letter" },
                        { "mData": "item_part_dimensions" },
                        { "mData": "item_part_pos_tolerance" },
                        { "mData": "item_part_neg_tolerance" },
                        { "mData": "lot_dimension_avg" },
                        { "mData": "lot_dimension_std" },
                        { "mData": "lot_dimension_max" },
                        { "mData": "lot_dimension_min" },
                        { "mData": "lot_dimension_cpk" },
                        { "mData": "lot_dimension_status" }                        
                    ]'
    } 
%>