<%= simple_form_for(@process_type) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :process_short_name %>
    <%= f.input :process_description %>
    <%= f.input :process_notes %>
    <%= f.input :process_active %>
    <%= f.input :process_created_id %>
    <%= f.input :process_updated_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
