<%= simple_form_for(@contact, :html => {:id => "form_for_contacts",:class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :contactable_id %>
    <%= f.hidden_field :contactable_type %>
    <%= f.hidden_field :contact_type %>

    <% if @contact.contact_type == "contact" %>
        <%= f.input :first_name, :label => "* First Name", :autofocus => true %>
        <%= f.input :last_name, :label => "* Last Name" %>
        <%= f.input :contact_title, :label => "Title" %>
    <% else %>
        <%= f.input :contact_title, :label => "Title", :autofocus => true %>
    <% end %>
    
    <%= f.input :contact_description, :label => "Description" %>
    <%= f.input :contact_address_1, :label => "Address 1", input_html: {style: "height: 24px;"} %>
    <%= f.input :contact_address_2, :label => "Address 2", input_html: {style: "height: 24px;"} %>
    <%= f.input :contact_city, :label => "City" %>
    <%= f.input :contact_state, :label => "State" %>
    <%= f.input :contact_country, collection: Country.all.collect{|p| p[0]}.sort, :include_blank => false, group_method: :countries, :label => "Country", selected: "United States" %>
    <%= f.input :contact_zipcode, :label => "Zipcode" %>
    <%= f.input :contact_telephone, :label => "Telephone" %>
    <%= f.input :contact_fax, :label => "Fax" %>
    <%= f.input :contact_email, :input_html => {class: "email_field"}, :label => "Email" %>
    <%= f.input :contact_website, :label => "Website" %>
    <%= f.input :contact_notes, :label => "Notes" %>
    <%= f.hidden_field :contact_active, :label => "Active" %>
  </div>

  <div class="form-actions">
        <%= f.button :submit, "Save " + @contact.contact_type.titlecase %>
        
        <%= link_to 'Delete', contact_path(@contact, :redirect_to => "index"), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small" unless @contact.new_record? %>
        <%#= link_to 'Back to ' + @contact.contact_type.titlecase.pluralize, contacts_path(:object_id => @contactable.id, :contact_type => @contact.contact_type), :class => "btn btn-small" %>
        <%= link_to 'Back to ' + @contact.contact_type.titlecase.pluralize, contacts_path(:org_type => @contactable.organization_type.type_value, :contact_type => @contact.contact_type), :class => "btn btn-small" %>

        <%= link_to 'Back to ' + @contactable.class.to_s, @contactable, :class => "btn btn-small" %>
  </div>
<% end %>

<script type="text/javascript">
    tab_field_forms["form_for_contacts"] = ["contact_contact_title", "contact_contact_description", "contact_contact_address_1", "contact_contact_address_2", "contact_contact_city", "contact_contact_state", "contact_contact_country", "contact_contact_zipcode", "contact_contact_telephone", "contact_contact_fax", "contact_contact_email", "contact_contact_website", "contact_contact_notes", "contact_contact_active"];
</script>