<div class="separator bottom"></div>
<%= simple_form_for(@check_code, :html => {:id => "form_for_next_check",:class => "form-horizontal", :multipart => true }) do |f| %>
	<%= f.error_notification %>
	<div class="form-inputs">
	    <%= f.input :counter, :label => "Next Check Code" %>

	</div>
	<div class="separator bottom"></div>
	<div class="form-actions">
      <%= f.button :submit %>
      <%= link_to 'Back', check_code_path(@check_code) , :class => "btn btn-small" %>

  	</div>
<%end%>

<script type="text/javascript">
    tab_field_forms["form_for_next_check"] = ["check_code_next_check_code"];
</script>