<div class="row-fluid">

  <%= render :partial => 'receivables/receivable_info' %>

  <div class="span9 well">
    <%= simple_form_for([@receivable, @receivable_line], :html => {:id => "form_for_receivable_line", :class => "form-horizontal"}) do |f| %>

        <%= f.error_notification %>

        <div class="form-inputs">
            <%= f.input :receivable_line_description, :label => "Description", autofocus: true %>
            <%= f.input :receivable_line_cost, :label => "Cost" %>
            <%= f.input :receivable_line_notes, :label => "Notes" %>
        </div>

        <div class="separator bottom"></div>

        <div class="actions">
            <%= f.submit "Save", :class =>"btn" %>
            <%= link_to 'Delete', receivable_receivable_line_path(@receivable, @receivable_line), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @receivable_line.new_record? %>
            <%= link_to 'Back to Receivable', receivable_path(@receivable), :class =>"btn" %>
        </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    tab_field_forms["form_for_receivable_line"] = ["receivable_line_receivable_line_description", "receivable_line_receivable_line_cost", "receivable_line_receivable_line_notes"];
</script>


<div class="separator bottom"></div>

<%= render :partial => 'receivable_lines/line_items' %>

<%= render :partial => 'so_lines/line_items' if @so_header %>
