<p id="notice"><%= notice %></p>

<p>
  <b>Quality action no:</b>
  <%= @quality_action.quality_action_no %>
</p>

<p>
  <b>Ic action:</b>
  <%= @quality_action.ic_action_id %>
</p>

<p>
  <b>Item:</b>
  <%= @quality_action.item %>
</p>

<p>
  <b>Item revision:</b>
  <%= @quality_action.item_revision %>
</p>

<p>
  <b>Item alt name:</b>
  <%= @quality_action.item_alt_name %>
</p>

<p>
  <b>Po header:</b>
  <%= @quality_action.po_header %>
</p>

<p>
  <b>Quantity:</b>
  <%= @quality_action.quantity %>
</p>

<p>
  <b>Definition of issue:</b>
  <%= @quality_action.definition_of_issue %>
</p>

<p>
  <b>Short term fix:</b>
  <%= @quality_action.short_term_fix %>
</p>


<p>
  <b>Required action:</b>
  <%= @quality_action.required_action %>
</p>

<p>
  <b>Quality action status:</b>
  <%= @quality_action.quality_action_status %>
</p>

<p>
  <b>Due date:</b>
  <%= @quality_action.due_date %>
</p>

<p>
  <b>Quality action active:</b>
  <%= @quality_action.quality_action_active %>
</p>

<p>
  <b>Submit time:</b>
  <%= @quality_action.submit_time %>
</p>


<%= link_to 'Edit', edit_quality_action_path(@quality_action) %> |
<%= link_to 'Back', quality_actions_path %>
