<div class="row-fluid">
  <div class="span4 well item_detail_view">
      <!-- h4 class="center">Vendor Info</h4>

      <div class="separator bottom"></div> -->

      <div id="po_header_vendor_info"></div>

  </div>

  <div class="span8 well item_detail_view">
      <%= simple_form_for(@po_header, :html => {:id => "form_for_po_header",:class => "form-horizontal"}) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
            <%= f.association :po_type, :label => "Type", :label_method => "type_name", :label_value => "id", :include_blank => false, :label => "Type", as: :radio_buttons, :autofocus => true, input_html: {class: "po_types"} %>

            <%#= f.association :organization, :label => "Vendor", :label_method => 'organization_short_name', :label_value => "id", :include_blank => false %>

            <%= f.association :organization, :url => autocomplete_organization_organization_name_organizations_path(type: "vendor"), :as => :autocomplete, :id_element => '#organization_id', required: true, :label => "Vendor" %>

            <%= hidden_field_tag :organization_id, (@po_header.organization.id unless @po_header.new_record? && @po_header.organization.nil?) %>

            <div class="separator bottom"></div>

            <%#= f.input :po_notes, :label => "Notes" %>
        </div>

        <div class="form-actions">
            <%= f.submit "Submit", :class =>"btn" %>
            <%= link_to 'Delete', po_header_path(@po_header), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @po_header.new_record? %>
            <%= link_to 'Back to PO', po_header_path(@po_header), :class =>"btn" unless @po_header.new_record? %>
            <%= link_to 'Back to PO List', po_headers_path, :class =>"btn" if @po_header.new_record? %>
        </div>
      <% end %>
  </div>
</div>

<% unless @po_header.new_record? %>
    <!-- Line Items -->
    <%= render :partial => 'po_lines/line_items' %>
<% end %>


<script type="text/javascript">    
    $(document).ready(function(){ 
        $("#po_header_organization_id").on("change", function(){
            if($("#organization_id").val() != "")
                initialize_api_call({"url": "/organizations/" + $("#organization_id").val() + "/organization_info", "type": "GET", "params": {}}, "set_vendor_info", {});
            else{
                $("#po_header_vendor_info").html("");
                $("#po_header_organization_id").val("");
            }
        });

        <% unless @po_header.new_record? %>
            $("#po_header_organization_id").val("<%= @po_header.organization.organization_name if @po_header.organization %>");
            $("#organization_id").val("<%= @po_header.organization.id if @po_header.organization %>");
        <% end %>

        if($("#organization_id").val() != "")
            initialize_api_call({"url": "/organizations/" + $("#organization_id").val() + "/organization_info", "type": "GET", "params": {}}, "set_vendor_info", {});        

        tab_field_forms["form_for_po_header"] = [];

        $(".po_types").each(function(){
            tab_field_forms["form_for_po_header"].push($(this).attr('id'));
        });

        tab_field_forms["form_for_po_header"] = tab_field_forms["form_for_po_header"].concat(["po_header_organization_id"]);
    });


    function set_vendor_info(response, callback_params, api_params){
        $("#po_header_vendor_info").html(response);
        return false;
    }
</script>