<div class="row-fluid">
  <div class="span4 well item_detail_view">
      <!-- h4 class="center">Vendor Info</h4>

      <div class="separator bottom"></div> -->
      <div id="po_header_vendor_info"></div>

  </div>

  <div class="span8 well item_detail_view">
      <%= simple_form_for(@po_header, :html => {:id => "form_for_po_header",:class => "form-horizontal"}) do |f| %>
        <%= f.error_notification %>
        
        <div class="form-inputs">
            <%= f.association :po_type, :label => "Type", :label_method => "type_name", :label_value => "id", :include_blank => false, :label => "Type", as: :radio_buttons, :autofocus => true, input_html: {class: "po_types"}, :checked => (MasterType.po_types.first.id if @po_header.po_type.nil?) %>

            <%#= f.association :organization, :label => "Vendor", :label_method => 'organization_short_name', :label_value => "id", :include_blank => false %>

            <%= f.association :organization, :url => autocomplete_organization_organization_name_organizations_path(type: "vendor"), :as => :autocomplete, :id_element => '#organization_id', required: true, :label => "Vendor" %>

            <%= hidden_field_tag :organization_id, (@po_header.organization.id if @po_header.organization) %>

            <%= hidden_field_tag :org_organization_id, (@po_header.organization.id if @po_header.organization) %>

            <div id="po_customer_div">
                <%= f.association :customer, :url => autocomplete_organization_organization_name_organizations_path(type: "customer"), :as => :autocomplete, :id_element => '#customer_id', :label => "Customer", input_html: {class: "po_customer_fields"} %>

                <%= hidden_field_tag :customer_id, (@po_header.customer.id if @po_header.customer), class: "po_customer_fields" %>

                <%= hidden_field_tag :org_customer_id, (@po_header.customer.id if @po_header.customer), class: "po_customer_fields" %>

                <div class="control-group select required po_header_bill_to_address">
                    <label for="po_header_po_bill_to_id" class="select required control-label">
                        <abbr title="required"></abbr> Bill To
                    </label>
                    <div class="controls">
                        <select name="po_header[po_bill_to_id]" id="po_header_po_bill_to_id" class="select required po_customer_fields">
                        </select>
                    </div>
                </div>

                <div class="control-group select required po_header_ship_to_address">
                    <label for="po_header_po_ship_to_id" class="select required control-label">
                        <abbr title="required"></abbr> Ship To
                    </label>            
                    <div class="controls">
                        <select name="po_header[po_ship_to_id]" id="po_header_po_ship_to_id" class="select required po_customer_fields">
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        * If addresses are blank will be using profile address.
                    </div>
                </div>                
            </div>

            <div class="separator bottom"></div>
        </div>

        <div class="form-actions">
            <%= f.submit "Submit", :class =>"btn" %>
            <%= link_to 'Delete', po_header_path(@po_header), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @po_header.new_record? %>
            <%= link_to 'Back to PO', po_header_path(@po_header), :class =>"btn" unless @po_header.new_record? %>
            <%= link_to 'Back to PO List', po_headers_path, :class =>"btn" if @po_header.new_record? %>
        </div>
      <% end %>
  </div>
</div>

<% unless @po_header.new_record? %>
    <!-- Line Items -->
    <%= render :partial => 'po_lines/line_items' %>
<% end %>


<script type="text/javascript"> 
    tab_field_forms["form_for_po_header"] = ["po_header_organization_id", "po_header_customer_id", "po_header_po_bill_to_id", "po_header_po_ship_to_id"];

    // var direct_select = ["po_header_organization_id", "po_header_customer_id", "po_header_po_bill_to_id", "po_header_po_ship_to_id"];
    
    // var others_select = ["po_header_organization_id"];

    $(document).ready(function(){        
        $("#po_header_organization_id").on("change", function(){
            if($("#organization_id").val() != "")
                initialize_api_call({"url": "/organizations/" + $("#organization_id").val() + "/organization_info", "type": "GET", "params": {}}, "set_vendor_info", {});
            else{
                $("#po_header_vendor_info").html("");
                $("#po_header_organization_id").val("");
            }
        });

        $("#po_header_customer_id").on("focusout", function(){
            if($("#customer_id").val() != ""){
                initialize_api_call({"url": "/contacts?contact_type=address&object_id=" + $("#customer_id").val(), "type": "GET", "data_type": "json", "params": {}}, "set_customer_addresses", {});               
            }
            else{
                $("#po_header_customer_id").val("");
                $("#po_header_po_bill_to_id").html("");
                $("#po_header_po_ship_to_id").html("");
            }
        });

        $(".po_types").on("change", function(){
            po_type_changed($('.po_types:checked').parent().text(), true);
        });

        $(".po_types").on("keydown", function(){
            po_type_changed($('.po_types:checked').parent().text(), true);
            return false;
        });        

        <% unless @po_header.nil? %>
            $("#po_header_organization_id").val("<%= @po_header.organization.organization_name if @po_header.organization %>");

            <% unless @po_header.customer.nil? %>
                initialize_api_call({"url": "/contacts?contact_type=address&object_id=" + $("#customer_id").val(), "type": "GET", "data_type": "json", "params": {}}, "set_customer_addresses", {});

                $("#po_header_customer_id").val("<%= @po_header.customer.organization_name %>");
            <% end %>
        <% end %>

        if($("#organization_id").val() != "")
            initialize_api_call({"url": "/organizations/" + $("#organization_id").val() + "/organization_info", "type": "GET", "params": {}}, "set_vendor_info", {});

        po_type_changed($('.po_types:checked').parent().text(), false);

        $("#po_header_organization_id").on("keydown", function(){
            if($('.po_types:checked').parent().text() != "Direct")
                $("#form_for_po_header").submit();
        });
    });

    function set_vendor_info(response, callback_params, api_params){
        $("#po_header_vendor_info").html(response);
        return false;
    }

    function set_customer_addresses(response, callback_params, api_params){        
        var html = $.trim(Mustache.render($(".address-select-box-template").html(), response));
        $("#po_header_po_bill_to_id").html(html);
        $("#po_header_po_ship_to_id").html(html);

        <% unless @po_header.new_record? %>
            if($("#customer_id").val() == '<%= @po_header.customer.present? ? @po_header.customer.id : 0 %>'){
                $("#po_header_po_bill_to_id").val('<%= @po_header.po_bill_to_id %>');
                $("#po_header_po_ship_to_id").val('<%= @po_header.po_ship_to_id %>');
            }
        <% end %>
        return false;
    }

    function po_type_changed(receipt_type, change_focus){        
         if(receipt_type == "Direct"){
            $('#po_customer_div').show();
        }
        else{
            $('#po_customer_div').hide();
            $('#po_customer_fields').val("");
        }
        $('#po_header_organization_id').focus();
    }
</script>

<%= render :partial => 'layouts/app_layouts/mustache_templates', locals: {type: "address-select-box"} %>