<table class="table">
    <tbody>
        <tr>
          <td class="span2">PO ID:</td>
          <td class="span5"><strong><%= link_to @po_header.po_identifier, @po_header %></strong></td>
        </tr>

        <tr>
          <td class="span2">Vendor:</td>
          <td class="span5"><strong><%= link_to @po_header.organization.organization_name, @po_header.organization %></strong></td>
        </tr>

        <% if @po_header.customer %>
            <tr>
              <td class="span2">Customer:</td>
              <td class="span5"><strong><%= link_to @po_header.customer.organization_name, @po_header.customer %></strong></td>
            </tr>

            <tr>
              <td class="span2">Customer PO:</td>
              <td class="span5"><strong><%= @po_header.cusotmer_po %></strong></td>
            </tr>

            <tr>
              <td class="span2">SO ID:</td>
              <td class="span5"><strong><%= link_to(@po_header.so_header.so_identifier, @po_header.so_header) %></strong></td>
            </tr>

            <tr>
              <td class="span2">Bill To:</td>
              <td class="span5"><strong><%= @po_header.bill_to_address ? link_to(@po_header.bill_to_address.contact_title, @po_header.bill_to_address) : link_to(@po_header.customer.organization_name, organization_main_address_path(@po_header.customer)) %></strong></td>
            </tr>

            <tr>
              <td class="span3">Ship To:</td>
              <td class="span5"><strong><%= @po_header.ship_to_address ? link_to(@po_header.ship_to_address.contact_title, @po_header.ship_to_address) : link_to(@po_header.customer.organization_name, organization_main_address_path(@po_header.customer)) %></strong></td>
            </tr>
        <% end %>

        <tr>
          <td class="span2">Type:</td>
          <td class="span5"><strong><%= @po_header.po_type.type_name %></strong></td>
        </tr>

        <tr>
          <td class="span3">Total:</td>
          <td class="span5"><strong><h4>$<%= @po_header.po_total %></h4></strong></td>
        </tr>

        <tr>
          <td class="span3">Status:</td>
          <td class="span5"><strong><%= @po_header.po_status %></strong></td>
        </tr>



        <!-- "%0.5f" %  -->

        <!-- <tr>
          <td class="span3">Notes:</td>
          <td class="span5"><%#= @po_header.po_notes %></td>
        </tr> -->

        <!-- <tr>
          <td class="span3">Active :</td>
          <td class="span5"><%#= @po_header.po_active %></td>
        </tr> -->
    </tbody>
</table>

<div class="separator bottom"></div>
<div class="separator bottom"></div>

<h4 class="center">Vendor Info</h4>

<div class="separator bottom"></div>

<%= render :partial => 'organizations/organization_info', 
      :locals => {:organization => @po_header.organization} %>