<% lot_info ||= nil %>
<!-- Widget -->
<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading"><%= "Add Lots for a " if lot_info %> Purchase Order <%= @organization.organization_type_title if @organization %> 
                <%#= "With Selected Revision" if @item_revision %> 
            </h4>
            <span class="span6 heading right">
                <%= link_to 'All', "#", :class => "btn btn-mini btn-success", :onclick=>"get_po_header(1); return false;" %>
                <%= link_to 'Open', "#", :class => "btn btn-mini btn-success", :onclick=>"get_po_header(2); return false;" %>
                <%= link_to 'Closed', "#", :class => "btn btn-mini btn-success", :onclick=>"get_po_header(3); return false;" %>
                <%= link_to 'New PO', new_path, :class => "btn btn-mini btn-success" unless lot_info %>
            </span>
        </div> 
    </div>
    <!-- // Widget heading END -->
    <div class="widget-body">
        <table id="table_report_po_header_list" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>PO ID</th>
                    <th>PO Type</th>
                    <th>Vendor</th>
                    <th>Identifier</th>
                    <th>Description</th>
                    <th>Total</th>
                    <% if @item.present? %> <th>Cost</th> <% end %>
                    <th>Status</th>
                    <th>Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>                
            </tbody>
        </table>
    </div>
</div>

<% if @item.present? %>
        <%= render :partial => 'layouts/app_layouts/data_table', :locals => 
        {:name => "table_report_po_header_list", :path => index_path, :extras => {:slno => false},
            :columns => '[
                            { "mData": "index","bVisible": false },
                            { "mData": "po_id" },
                            { "mData": "po_type_name" },
                            { "mData": "vendor_name" },
                            { "mData": "po_identifier", "bVisible": false },
                            { "mData": "po_description", "bVisible": false },
                            { "mData": "po_total", "bVisible": false },
                            { "mData": "po_line_price"},
                            { "mData": "po_status" },
                            { "mData": "po_active", "bVisible": false },
                            { "mData": "links", "bSortable": false, "bSearchable": false }
                        ]'
        } 
    %>
<% else %>
    <%= render :partial => 'layouts/app_layouts/data_table', :locals => 
        {:name => "table_report_po_header_list", :path => index_path, :extras => {:slno => false},
            :columns => '[
                            { "mData": "index","bVisible": false },
                            { "mData": "po_id" },
                            { "mData": "po_type_name" },
                            { "mData": "vendor_name" },
                            { "mData": "po_identifier", "bVisible": false },
                            { "mData": "po_description", "bVisible": false },
                            { "mData": "po_total", "bVisible": false },
                            { "mData": "po_status" },
                            { "mData": "po_active", "bVisible": false },
                            { "mData": "links", "bSortable": false, "bSearchable": false }
                        ]'
        } 
    %>
<% end %>