  <!-- Wells -->
<div class="row-fluid">
    <h4 class="span3 left">PO Info</h4>
    <span class="span9 right">
        <%= link_to 'Edit', edit_po_header_path(@po_header), :class => "btn btn-small" %>
        <%= link_to 'Back', po_headers_path, :class => "btn btn-small" %>
    </span>
</div>

<div class="row-fluid">
    <!-- PO Info -->
    <%= render :partial => 'po_headers/po_header_info' %>

    <div class="span9">
        <div class="row-fluid">
            <div class="span4 well">
                  <a class="widget-stats" href="#" id="alt_address_btn">
                      <span class="glyphicons message_out"><i></i></span>
                      <span class="txt">Send</span>
                      <div class="clearfix"></div>
                  </a>
            </div>

            <div class="span4 well">
                  <a class="widget-stats" href="#" id="contacts_btn">
                      <span class="glyphicons print"><i></i></span>
                      <span class="txt">Print</span>
                      <div class="clearfix"></div>
                  </a>
            </div>

            <div class="span4 well">
                  <a class="widget-stats" href="#" id="contacts_btn">
                      <span class="glyphicons notes_2"><i></i></span>
                      <span class="txt">Add Quote</span>
                      <div class="clearfix"></div>
                  </a>
            </div>
        </div>

        <!-- Line Items -->
        <%= render :partial => 'po_lines/line_items' %>
    </div>
</div>

<div class="separator bottom"></div>

<!-- <div class="row-fluid">
    <div class="span3">
        <%#= render :partial => 'attachments/droppable_form_plup' %>
    </div>

    <div class="span9">
        <%#= render 'attachments/attachments' %>
    </div> 
</div> -->

<%= render :partial => 'attachments/droppable_form_plup' %>

<%= render 'attachments/attachments' %>


<div class="separator bottom"></div>


<%= render :partial => 'comments/comments', 
:locals => {:extras => {:link => populate_po_header_path(type: "note")}} %>

