<%= simple_form_for(@process_flow, :html => {:id => "form_for_processes",:class => "form-horizontal", :multipart => true} ) do |g| %>
  <%= g.error_notification %>

  <%= g.simple_fields_for :attachment do |f| %>
    <div class="form-inputs">        
        <%= render :partial => 'attachments/attachment_fields', :locals => {f: f} %>
    </div>
  <% end %>

  <div class="separator bottom"></div> 

  <div class="form-actions">
    <%= g.button :submit, :class => "btn" %>

    <%= link_to 'Delete', process_flow_path(@process_flow), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @process_flow.new_record? %>
    
    <%= link_to 'Back to Processes', process_flows_path, :class => "btn" %>
  </div>

<% end %>
<script type="text/javascript">
  tab_field_forms["form_for_processes"] = ["process_flow_attachment_attributes_attachment_name", "process_flow_attachment_attributes_attachment_revision_title", "process_flow_attachment_attributes_attachment_revision_date", "process_flow_attachment_attributes_attachment_description", "process_flow_attachment_attributes_attachment_public",  "process_flow_attachment_attributes_attachment_active", "process_flow_attachment_attributes_attachment"];

  <% date_box_date = @process_flow.new_record? ? Date.today : @process_flow.attachment.attachment_revision_date %> 

  date_box_fields = date_box_fields.concat([{"name":"process_flow_attachment_attributes_attachment_revision_date", "value":"<%= date_box_date %>"}]);
</script>
