<div class="row-fluid span8">
  <%= render 'attachments/attachment_info' %>
  <div class="form-actions">
      <%= link_to 'Attachment', @attachment.attachment.url(:original), :class => "btn btn-small", :target => "_blank" %> 
      <%= link_to 'Edit', edit_process_flow_path(@process_flow), :class => "btn btn-small"%> 
      <%= link_to 'Delete', process_flow_path(@process_flow), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small" %>
      <%= link_to 'Back', process_flows_path, :class => "btn btn-small" %>
  </div>
</div>