<div class="widget">
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">Payments</h4>
            <span class="span6 heading right">
                <%= link_to 'New Payment', new_payment_path, :class => "btn btn-mini btn-success" %>
                <%= link_to 'Checks', check_entries_path, :class => "btn btn-mini btn-success" %>
                <%= link_to 'Open', payments_path(payment_status: "open"), :class => "btn btn-mini btn-success" %>
                <%= link_to 'Closed', payments_path(payment_status: "closed"), :class => "btn btn-mini btn-success" %>
            </span>
        </div> 
    </div>

    <div class="widget-body">
        <table id="table_report_payment_list" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Payment No</th>
                    <th>Organization</th>                    
                    <th>Description</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>                
            </tbody>
        </table>
    </div>
</div>


<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {:name => "table_report_payment_list", :path => payments_path(payment_status: params[:payment_status]), :extras => {:slno => false},
        :columns => '[
                        { "mData": "payment_identifier" },
                        { "mData": "vendor_name" },
                        { "mData": "payment_description" },
                        { "mData": "payment_type_name" },
                        { "mData": "payment_check_amount" },
                        { "mData": "links", "bSortable": false, "bSearchable": false }
                    ]'
    } 
%>