<h1>Listing fmea_types</h1>

<table>
  <tr>
    <th>Fmea name</th>
    <th>Fmea description</th>
    <th>Fmea notes</th>
    <th>Fmea active</th>
    <th>Fmea created</th>
    <th>Fmea updated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fmea_types.each do |fmea_type| %>
  <tr>
    <td><%= fmea_type.fmea_name %></td>
    <td><%= fmea_type.fmea_description %></td>
    <td><%= fmea_type.fmea_notes %></td>
    <td><%= fmea_type.fmea_active %></td>
    <td><%= fmea_type.fmea_created_id %></td>
    <td><%= fmea_type.fmea_updated_id %></td>
    <td><%= link_to 'Show', fmea_type %></td>
    <td><%= link_to 'Edit', edit_fmea_type_path(fmea_type) %></td>
    <td><%= link_to 'Destroy', fmea_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fmea type', new_fmea_type_path %>
