<h1>Listing gauges</h1>

<table>
  <tr>
    <th>Organization</th>
    <th>Gauge tool name</th>
    <th>Gauge tool no</th>
    <th>Gage caliberation at</th>
    <th>Gage caliberaion period</th>
    <th>Gauge active</th>
    <th>Gauge created</th>
    <th>Gauge updated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gauges.each do |gauge| %>
  <tr>
    <td><%= gauge.organization %></td>
    <td><%= gauge.gauge_tool_name %></td>
    <td><%= gauge.gauge_tool_no %></td>
    <td><%= gauge.gage_caliberation_at %></td>
    <td><%= gauge.gage_caliberaion_period %></td>
    <td><%= gauge.gauge_active %></td>
    <td><%= gauge.gauge_created_id %></td>
    <td><%= gauge.gauge_updated_id %></td>
    <td><%= link_to 'Show', gauge %></td>
    <td><%= link_to 'Edit', edit_gauge_path(gauge) %></td>
    <td><%= link_to 'Destroy', gauge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gauge', new_gauge_path %>
