<div class="row-fluid span8">
  <div class="label label-large label-info arrowed-in arrowed-right">
        <h4>Instrument Info</h4>
  </div>
  <table class="table table-striped table-bordered">
    <tbody>     
      <tr>
        <td>Tool Name :</td>
        <td><%= @gauge.gauge_tool_name %></td>
      </tr>

      <tr>
        <td>Tool No :</td>
        <td><%= @gauge.gauge_tool_no %></td>
      </tr>

      <tr>
        <td>Caliberator :</td>
        <td><%= @gauge.organization.organization_short_name %></td>
      </tr>

      <tr>
        <td>Caliberation Last At :</td>
        <td><%= @gauge.gage_caliberation_last_at %></td>
      </tr>

      <tr>
        <td>Caliberation Due At :</td>
        <td><%= @gauge.gage_caliberation_due_at %></td>
      </tr>

      <!-- <tr>
        <td>Caliberaion Period :</td>
        <td><%= @gauge.gage_caliberaion_period %></td>
      </tr> -->

      <tr>
        <td>Active :</td>
        <td><%= @gauge.gauge_active %></td>
      </tr>    
    </tbody>
  </table>

  <div class="form-actions">
    <%= link_to 'Edit', edit_gauge_path(@gauge), :class => "btn btn-small"%> 
    <%= link_to 'Back to Instruments', gauges_path, :class => "btn btn-small" %>
  </div>
</div>