<%= form_for([@receivable_shipment.receivable, @receivable_shipment]) do |f| %>
  <% if @receivable_shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receivable_shipment.errors.count, "error") %> prohibited this receivable_shipment from being saved:</h2>

      <ul>
      <% @receivable_shipment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :receivable_shipment_identifier %><br />
    <%= f.text_field :receivable_shipment_identifier %>
  </div>
  <div class="field">
    <%= f.label :receivable_shipment_count %><br />
    <%= f.number_field :receivable_shipment_count %>
  </div>
  <div class="field">
    <%= f.label :receivable_shipment_cost %><br />
    <%= f.text_field :receivable_shipment_cost %>
  </div>
  <div class="field">
    <%= f.label :receivable_shipment_created_id %><br />
    <%= f.number_field :receivable_shipment_created_id %>
  </div>
  <div class="field">
    <%= f.label :receivable_shipment_updated_id %><br />
    <%= f.number_field :receivable_shipment_updated_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
