<%= simple_form_for(@item, :html => {:id => "form_for_items",:class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :item_part_no, :label => "Part No", :autofocus => true %>

    <% unless @item.persisted? %>
    <%= f.simple_fields_for :item_revisions do |g| %>
            <%#= g.input :item_name, :label => "Name" %>

            <%= g.input :item_name, :url => autocomplete_commodity_commodity_identifier_commodities_path, :as => :autocomplete, :label => "Part Name" %>

            <%= g.input :item_description, :label => "Description" %>

            <!-- <div class="control-group">
                <label for="item_processes" class="optional control-label">Alt Names</label>
                <div class="controls">
                    <input type="hidden" id="item_names" style="width: 100%;" name="alt_names" value="<%#= @item.current_revision.item_alt_names.collect(&:item_alt_identifier).join(",") if @item.persisted? %>" />
                </div>
            </div> -->

            <%= g.input :item_revision_name, :label => "Revision" %>
            <%= g.input :item_revision_date, :as => "string", :label => "Revision Date" %>
            <%= g.association :owner, :label => "Owner", :label_method => 'owner_identifier',:label_value => "id", :include_blank => false %>    

            <%#= g.association :organization, :label => "Vendor", :label_method => 'organization_short_name',:label_value => "id", :include_blank => false %>

            <%= g.association :organization, :url => autocomplete_organization_organization_name_organizations_path(type: "vendor"), :as => :autocomplete, :id_element => '#organization_id', required: true, :label => "Vendor" %>

            <%= hidden_field_tag :organization_id, (g.object.organization.id if g.object && g.object.organization) %>

            <%= hidden_field_tag :org_organization_id, (g.object.organization.id if g.object && g.object.organization) %>

            <%#= g.association :vendor_quality, :label => "Quality", :label_method => 'quality_name', :label_value => "id", :include_blank => false %>
            <%= g.input :item_cost, :label => "Cost" %>
            <%= g.input :item_tooling, :label => "Tooling" %>

            <!-- <div class="control-group">
                <label for="item_prints" class="optional control-label">Prints</label>
                <div class="controls">
                    <%#= select_tag "prints[]", options_for_select(Print.all.map {|print| [print.print_identifier, print.id]}, @item.persisted? ? (@item.current_revision.item_prints.empty? ? [] : @item.item_prints.collect(&:print_id)) : []), :multiple => true, :size => 5, :class => "multi_select_box", :id => "item_prints" %>
                </div>
            </div> -->

            <%= g.association :print, :url => autocomplete_print_print_identifier_prints_path, :as => :autocomplete, :id_element => '#print_id', required: true, :label => "Print" %>             

            <div class="control-group">
                <label for="item_processes" class="optional control-label"></label>
                <div class="controls"> <%= link_to 'New Print', new_print_path, :class => "btn btn-small", :target => "_blank" %> </div>
            </div>

            <%= hidden_field_tag :print_id, (g.object.print.id if g.object && g.object.print) %>
            <%= hidden_field_tag :org_print_id, (g.object.print.id if g.object && g.object.print) %>

            <!-- <div class="control-group">
                <label for="item_materials" class="optional control-label">Materials</label>
                <div class="controls">
                    <%#= select_tag "materials[]", options_for_select(Material.all.map {|material| [material.material_short_name, material.id]}, @item.persisted? ? (@item.current_revision.item_materials.empty? ? [] : @item.item_materials.collect(&:material_id)) : []), :multiple => true, :size => 5, :class => "multi_select_box", :id => "item_materials" %>
                </div>
            </div> -->

            <%= g.association :material, :url => autocomplete_material_material_short_name_materials_path, :as => :autocomplete, :id_element => '#material_id', required: true, :label => "Material" %>

            <%= hidden_field_tag :material_id, (g.object.material.id if g.object && g.object.material) %>
            <%= hidden_field_tag :org_material_id, (g.object.material.id if g.object && g.object.material) %>

            <div class="control-group">
                <label for="item_processes" class="optional control-label">Processes</label>
                <div class="controls">
                    <%= select_tag "processes[]", options_for_select(ProcessType.all.map {|process| [process.process_short_name, process.id]}, @item.persisted? ? (@item.current_revision.item_processes.empty? ? [] : @item.current_revision.item_processes.collect(&:process_type_id)) : []), :multiple => true, :size => 5, :class => "multi_select_box", :id => "item_processes" %>
                </div>
            </div>

            <div class="control-group">
                <label for="item_specifications" class="optional control-label">Specifications</label>
                <div class="controls">
                    <%= select_tag "specs[]", options_for_select(Specification.all.map {|spec| [spec.specification_identifier, spec.id]}, @item.persisted? ? (@item.current_revision.item_specifications.empty? ? [] : @item.current_revision.item_specifications.collect(&:specification_id)) : []), :multiple => true, :size => 5, :class => "multi_select_box", :id => "item_specifications" %>
                </div>
            </div>

            <%= g.input :item_notes, :label => "Notes" %> 

            <script type="text/javascript">
                $(document).ready(function(){ 
                    $("#item_item_revisions_attributes_0_organization_id").val("<%= g.object.organization.organization_name if g.object && g.object.organization %>");
                    $("#item_item_revisions_attributes_0_print_id").val("<%= g.object.print.print_identifier if g.object && g.object.print %>");
                    $("#item_item_revisions_attributes_0_material_id").val("<%= g.object.material.material_short_name if g.object && g.object.material %>");
                });
            </script>
    <% end %>
    <% end %>
    
    <%#= f.input :item_quantity_on_order, :label => "Quantity On Order" %>
    <%#= f.input :item_quantity_in_hand, :label => "Quantity In Hand" %>   

    <%= f.input :item_active, :label => "Active" %>
  </div>

  <div class="separator bottom"></div>

  <div class="form-actions">
    <%= f.button :submit, "Submit" %>
    <%= link_to 'Delete', item_path(@item), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @item.new_record? %>
    <%= link_to 'Back', @item, :class =>"btn" %>
  </div>
<% end %>

<script type="text/javascript">
    <% unless @item.persisted? %>
        tab_field_forms["form_for_items"] = ["item_item_part_no", "item_item_revisions_attributes_0_item_name", "item_item_revisions_attributes_0_item_description", "item_item_revisions_attributes_0_item_revision_name", "item_item_revisions_attributes_0_item_revision_date", "item_item_revisions_attributes_0_owner_id", "item_item_revisions_attributes_0_organization_id", "item_item_revisions_attributes_0_item_cost", "item_item_revisions_attributes_0_item_tooling", "item_item_revisions_attributes_0_print_id", "item_item_revisions_attributes_0_material_id", "item_item_revisions_attributes_0_item_notes", "item_item_active"];

        <% date_box_date = @item.new_record? ? Date.today : @item.item_revision_date %> 

        date_box_fields = date_box_fields.concat([{"name":"item_item_revisions_attributes_0_item_revision_date", "value":"<%= date_box_date %>"}]);
    <% else %>
        tab_field_forms["form_for_items"] = ["item_item_part_no", "item_item_active"];
    <% end %>
</script>
