 <div class="row-fluid">
        <div class="span9">
           <div class="span4 well">
                  <a class="widget-stats" href="#" id="contacts_btn" onclick="sync_items_ebay();return false;">
                      <span class="glyphicons refresh"><i></i></span>
                      <span class="txt">Add Items to eBay</span>
                      <div class="clearfix"></div>
                  </a>
            </div>
            <div class="span4 well">
                  <a class="widget-stats" href="#" id="contacts_btn" onclick="pull_items_ebay();return false;">
                      <span class="glyphicons refresh"><i></i></span>
                      <span class="txt">Pull Items From eBay</span>
                      <div class="clearfix"></div>
                  </a>
            </div>
        </div>
    </div>

<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">

        <div class="row-fluid">
            <h4 class="span6 heading">Items</h4>
            <span class="span6 heading right">
               <% if can? :edit, Item %>
                    <%= link_to 'New Item', new_item_path, :class => "btn btn-mini btn-success" %>
               <% end %>
            </span>
        </div>
    </div>
    <!-- // Widget heading END -->
<div class="loading" style="display: none;"> <div id="load">  <p>Processing...</p></div> </div>
<% unless  user_signed_in? &&  (current_user.is_vendor? || current_user.is_customer? )%>
    <div class="widget-body">
        <table id="table_report_items" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Owner</th>
                <th>Part No</th>
                <th>Name</th>
                <th>Description</th>
                <th>Vendor</th>
                <th>Revision</th>
                <th>Revision Date</th>
                <th>Tooling</th>
                <% if @organization.present? && @organization.type_name == "customer"%>
                    <th> Sell </th>
                <%  end %>
                <th>Notes</th>
                <th>Active</th>
                <th>Quantity on Hand</th>
                <th>Quantity on Order</th>
                <th>Alt Names</th>
                <th span="2">Update Channels</th>
                <!-- <th></th> -->
              </tr>
            </thead>
            <body>

            </body>
        </table>
    </div>
</div>

<% if @organization.present? && @organization.type_name == "customer" %>

    <%= render :partial => 'layouts/app_layouts/data_table', :locals =>
        {:name => "table_report_items", :path => items_path(:organization_id => (@organization.nil? ? nil : @organization.id)), :extras => {:slno => false},
            :columns => '[
                            { "mData": "owner_name", "bVisible": false },
                            { "mData": "item_part_no" },
                            { "mData": "item_name", "bVisible": false },
                            { "mData": "item_description", "bVisible": false },
                            { "mData": "vendor_name", "bVisible": false },
                            { "mData": "item_revision_name" },
                            { "mData": "item_revision_date", "bVisible": false},
                            { "mData": "item_tooling", "bVisible": false },
                            { "mData": "item_sell" },
                            { "mData": "item_notes", "bVisible": false},
                            { "mData": "item_active", "bVisible": false },
                            { "mData": "item_quantity_in_hand" },
                            { "mData": "item_quantity_on_order" },
                            { "mData": "item_alt_parts" }
                        ]'
        }
    %>
<% else %>
     <%= render :partial => 'layouts/app_layouts/data_table', :locals =>
        {:name => "table_report_items", :path => items_path(:organization_id => (@organization.nil? ? nil : @organization.id)), :extras => {:slno => false},
            :columns => '[
                            { "mData": "owner_name", "bVisible": false },
                            { "mData": "item_part_no" },
                            { "mData": "item_name", "bVisible": false },
                            { "mData": "item_description", "bVisible": false },
                            { "mData": "vendor_name", "bVisible": false },
                            { "mData": "item_revision_name" },
                            { "mData": "item_revision_date", "bVisible": false},
                            { "mData": "item_tooling", "bVisible": false },

                            { "mData": "item_notes", "bVisible": false},
                            { "mData": "item_active", "bVisible": false },
                            { "mData": "item_quantity_in_hand" },
                            { "mData": "item_quantity_on_order" },
                            { "mData": "item_alt_parts" },
                            { "mData": "item_part_sync" },

                        ]'
        }
    %>
<% end %>
<% else %>

 <div class="widget-body">
        <table id="table_report_items" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Owner</th>
                <th>Part No</th>
                <th>Name</th>
                <th>Description</th>
                <th>Vendor</th>
                <th>Revision</th>
                <th>Revision Date</th>
                <th>Tooling</th>
                <% if @organization.present? && @organization.type_name == "customer"%>
                    <th> Sell </th>
                <%  end %>
                <th>Notes</th>
                <th>Active</th>
                <th>Quantity on Hand</th>
                <th>Quantity on Order</th>
                <th>Alt Names</th>
                <!-- <th></th> -->
              </tr>
            </thead>
            <body>

            </body>
        </table>
    </div>
</div>

<% if @organization.present? && @organization.type_name == "customer" %>

    <%= render :partial => 'layouts/app_layouts/data_table', :locals =>
        {:name => "table_report_items", :path => items_path(:organization_id => (@organization.nil? ? nil : @organization.id)), :extras => {:slno => false},
            :columns => '[
                            { "mData": "owner_name", "bVisible": false },
                            { "mData": "item_part_no" },
                            { "mData": "item_name", "bVisible": false },
                            { "mData": "item_description", "bVisible": false },
                            { "mData": "vendor_name", "bVisible": false },
                            { "mData": "item_revision_name" },
                            { "mData": "item_revision_date", "bVisible": false},
                            { "mData": "item_tooling", "bVisible": false },
                            { "mData": "item_sell" },
                            { "mData": "item_notes", "bVisible": false},
                            { "mData": "item_active", "bVisible": false },
                            { "mData": "item_quantity_in_hand" },
                            { "mData": "item_quantity_on_order" },
                            { "mData": "item_alt_parts" }
                        ]'
        }
    %>
<% else %>
     <%= render :partial => 'layouts/app_layouts/data_table', :locals =>
        {:name => "table_report_items", :path => items_path(:organization_id => (@organization.nil? ? nil : @organization.id)), :extras => {:slno => false},
            :columns => '[
                            { "mData": "owner_name", "bVisible": false },
                            { "mData": "item_part_no" },
                            { "mData": "item_name", "bVisible": false },
                            { "mData": "item_description", "bVisible": false },
                            { "mData": "vendor_name", "bVisible": false },
                            { "mData": "item_revision_name" },
                            { "mData": "item_revision_date", "bVisible": false},
                            { "mData": "item_tooling", "bVisible": false },
                            { "mData": "item_notes", "bVisible": false},
                            { "mData": "item_active", "bVisible": false },
                            { "mData": "item_quantity_in_hand" },
                            { "mData": "item_quantity_on_order" },
                            { "mData": "item_alt_parts" }
                        ]'
        }
    %>
<% end %>

<% end %>
<script type="text/javascript">

    function sync_items_ebay()
    {

          var itemRevisionIDs = $("input:checkbox:checked").map(function () {
              return $(this).val();
          }).get();
          if(itemRevisionIDs.length <= 0)
            alert("Please select item/items to add");
          else
          {
            $(".loading").css("display", "block");
            initialize_api_call({"url": "/common_actions/get_info", "type": "GET", "data_type": "json", "params": {"mode": "sync_add_ebay",  'item_revision_ids' : itemRevisionIDs}}, "sync_add_ebay_result", {});
          }

    }
    function sync_add_ebay_result(response, callback_params, api_params){
            var finalData = response.aaData.added;
            finalData = finalData.substring(0, finalData.indexOf('}') + 1);
            if(finalData)
            {
                finalData = JSON.parse(finalData);
                $.each(finalData, function(i, item) {
                    $("#item_revision_"+i).closest('td').append("eBay Item Id:"+item)
                });

                $(".loading").css("display", "none");
            }
            else
            {
                finalData = response.aaData.added;
               alert(finalData);
               $(".loading").css("display", "none");
            }

    }
     function pull_items_ebay()
    {


            $(".loading").css("display", "block");
            initialize_api_call({"url": "/common_actions/get_info", "type": "GET", "data_type": "json", "params": {"mode": "pull_ebay_items",}}, "pull_items_ebay_result", {});


    }
    function pull_items_ebay_result(response, callback_params, api_params){
               $(".loading").css("display", "none");
               $("#result_table").css("display", "block");

               alert(response.aaData)




    }
    function updateeBay(item_id, item_revision_id){

        $(".loading").css("display", "block");
        initialize_api_call({"url": "/common_actions/get_info", "type": "GET", "data_type": "json", "params": {"mode": "update_ebay", "item_id" : item_id, 'item_revision_id' : item_revision_id}}, "updateeBay_result", {});
    }
     function updateeBay_result(response, callback_params, api_params){
            if(JSON.stringify(response.aaData.added) == "Internal error to the application.\n")
            {
               $("#ebay_update_info_"+response.aaData.itemRevisionId).append("eBay server error! Please try again!");
               $(".loading").css("display", "none");
            }
            else
            {
                res = JSON.stringify(response.aaData.added).replace(/\"/g, "");
                res = res.substring(0, res.length - 2);
                $("#ebay_update_info_"+response.aaData.itemRevisionId).append(res);
                $(".loading").css("display", "none");
            }

    }
    function updateAmazon(i, type){
        alert("Yet to implement");

    }
</script>
<style>

#load {background: url("/assets/images/loading.GIF") no-repeat scroll 0 0 rgba(0, 0, 0, 0);color:#fff;height: 55px;left: 0;margin: 0 auto;
position: absolute;right: 25%;
text-align: center;top: 40%;width: 55px;}
.loading {background-color: rgba(0, 0, 0, 0.8);height: 100%;position: fixed;top: 0;width: 100%;z-index: 999}
#load p {margin-top: 65px;font-family: Arial, Helvetica, sans-serif;font-size: 14px;}

</style>
