<div class="modal hide" id="result_table">
  <div class="modal-header">
    <h3>Items</h3>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
  </div>
  <div class="modal-body">
    <table class="dynamicTable table table-striped table-bordered">
      <thead>
        <tr>
          <th>Item Id</th>
          <th>Quantity</th>
          <th>Title</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<div class="widget">
  <!-- Widget heading -->
  <div class="widget-head">

    <div class="row-fluid">
      <h4 class="span6 heading">Items</h4>
      <span class="span6 heading right">
        <% if can? :edit, Item %>
        <%= link_to 'New Item', new_item_path, :class => "btn btn-mini btn-success" %>
        <% end %>
      </span>
    </div>
  </div>
  <!-- // Widget heading END -->
  <div class="loading" style="display: none;">
    <div id="load">
      <p>Processing...</p>
    </div>
  </div>
  <% unless  user_signed_in? &&  (current_user.is_vendor? || current_user.is_customer? )%>
  <div class="widget-body">
    <table id="table_report_items" class="dynamicTable table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>Owner</th>
          <th>Part No</th>
          <th>Name</th>
          <th>Description</th>
          <th>Vendor</th>
          <th>Revision</th>
          <th>Revision Date</th>
          <th>Tooling</th>
          <% if @organization.present? && @organization.type_name == "customer"%>
          <th>
            Sell
          </th>
          <%  end %>
          <th>Notes</th>
          <th>Active</th>
          <th>Quantity on Hand</th>
          <th>Quantity on Order</th>
          <th>Alt Names</th>
          <!-- <th></th> -->
        </tr>
      </thead>
      <body></body>
    </table>
  </div>
</div>

<% if @organization.present? && @organization.type_name == "customer" %>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => {:name => "table_report_items", :path => items_path(:organization_id => (@organization.nil? ? nil : @organization.id)), :extras => {:slno => false}, :columns => '[ { "mData": "owner_name", "bVisible": false }, { "mData": "item_part_no" }, { "mData": "item_name", "bVisible": false }, { "mData": "item_description", "bVisible": false }, { "mData": "vendor_name", "bVisible": false }, { "mData": "item_revision_name" }, { "mData":
"item_revision_date", "bVisible": false}, { "mData": "item_tooling", "bVisible": false }, { "mData": "item_sell" }, { "mData": "item_notes", "bVisible": false}, { "mData": "item_active", "bVisible": false }, { "mData": "item_quantity_in_hand" }, { "mData": "item_quantity_on_order" }, { "mData": "item_alt_parts" } ]' } %>
<% else %>
<%= render :partial => 'layouts/app_layouts/data_table', :locals => {:name => "table_report_items", :path => items_path(:organization_id => (@organization.nil? ? nil : @organization.id)), :extras => {:slno => false}, :columns => '[ { "mData": "owner_name", "bVisible": false }, { "mData": "item_part_no" }, { "mData": "item_name", "bVisible": false }, { "mData": "item_description", "bVisible": false }, { "mData": "vendor_name", "bVisible": false }, { "mData": "item_revision_name" }, { "mData":
"item_revision_date", "bVisible": false}, { "mData": "item_tooling", "bVisible": false }, { "mData": "item_notes", "bVisible": false}, { "mData": "item_active", "bVisible": false }, { "mData": "item_quantity_in_hand" }, { "mData": "item_quantity_on_order" }, { "mData": "item_alt_parts" } ]' } %>
<% end %>
<% else %>

<div class="widget-body">
  <table id="table_report_items" class="dynamicTable table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>Owner</th>
        <th>Part No</th>
        <th>Name</th>
        <th>Description</th>
        <th>Vendor</th>
        <th>Revision</th>
        <th>Revision Date</th>
        <th>Tooling</th>
        <% if @organization.present? && @organization.type_name == "customer"%>
        <th>
          Sell
        </th>
        <%  end %>
        <th>Notes</th>
        <th>Active</th>
        <th>Quantity on Hand</th>
        <th>Quantity on Order</th>
        <th>Alt Names</th>
        <!-- <th></th> -->
      </tr>
    </thead>
    <body></body>
  </table>
</div>
</div>

<% if @organization.present? && @organization.type_name == "customer" %>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => {:name => "table_report_items", :path => items_path(:organization_id => (@organization.nil? ? nil : @organization.id)), :extras => {:slno => false}, :columns => '[ { "mData": "owner_name", "bVisible": false }, { "mData": "item_part_no" }, { "mData": "item_name", "bVisible": false }, { "mData": "item_description", "bVisible": false }, { "mData": "vendor_name", "bVisible": false }, { "mData": "item_revision_name" }, { "mData":
"item_revision_date", "bVisible": false}, { "mData": "item_tooling", "bVisible": false }, { "mData": "item_sell" }, { "mData": "item_notes", "bVisible": false}, { "mData": "item_active", "bVisible": false }, { "mData": "item_quantity_in_hand" }, { "mData": "item_quantity_on_order" }, { "mData": "item_alt_parts" } ]' } %>
<% else %>
<%= render :partial => 'layouts/app_layouts/data_table', :locals => {:name => "table_report_items", :path => items_path(:organization_id => (@organization.nil? ? nil : @organization.id)), :extras => {:slno => false}, :columns => '[ { "mData": "owner_name", "bVisible": false }, { "mData": "item_part_no" }, { "mData": "item_name", "bVisible": false }, { "mData": "item_description", "bVisible": false }, { "mData": "vendor_name", "bVisible": false }, { "mData": "item_revision_name" }, { "mData":
"item_revision_date", "bVisible": false}, { "mData": "item_tooling", "bVisible": false }, { "mData": "item_notes", "bVisible": false}, { "mData": "item_active", "bVisible": false }, { "mData": "item_quantity_in_hand" }, { "mData": "item_quantity_on_order" }, { "mData": "item_alt_parts" } ]' } %>
<% end %>

<% end %>

<style>

#load {
  background: url("/assets/images/loading.GIF") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #fff;
  height: 55px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 25%;
  text-align: center;
  top: 40%;
  width: 55px;
}
.loading {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
#load p {
  margin-top: 65px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

</style>
