<!-- Wells -->
<div class="row-fluid">
    <h4 class="span3 left">Item Info<%#= @item.item_part_no %><span></span></h4>
    <span class="span9 right">
        <%= link_to 'Back to Current Revision', @item, :class => "btn btn-small btn-success" unless @item_revision == @item.current_revision %>
        <%= link_to 'New Revision', new_item_item_revision_path(@item), :class => "btn btn-small btn-success" %>
        <%= link_to 'Edit Revision', edit_item_item_revision_path(@item, @item_revision), :class => "btn btn-small" if @item_revision %> 
        <%#= link_to 'Change Part No', edit_item_path(@item), :class => "btn btn-small" %>        
        <%= link_to 'Back to Items', items_path, :class => "btn btn-small" %>
    </span>
</div>

<div class="row-fluid">
    <%= render :partial => 'items/item_info' %>

    <div class="span9"> 
        <div class="row-fluid item_detail_classic_btn">
            <div class="span3 well">
                <a class="widget-stats" href="#" id="">
                    <h5><strong><%= @item.qty_on_hand %></strong></h5>
                    <span class="txt"><strong>Quantity On Hand</strong></span>
                    <div class="clearfix"></div>
                </a>
            </div>

            <div class="span3 well">
                <a class="widget-stats" href="#" id="">
                    <h5><strong><%= @item.qty_on_order %></strong></h5>
                    <span class="txt"><strong>Quantity On Order</strong></span>
                    <div class="clearfix"></div>
                </a>
            </div>

            <div class="span2 well">
                <a class="widget-stats" href="#" id="">
                    <h5><strong>$<%= @item_revision.item_cost.to_f if @item_revision %></strong></h5>
                    <span class="txt"><strong>Cost</strong></span>
                    <div class="clearfix"></div>
                </a>
            </div>

            <div class="span2 well">
                <a class="widget-stats" href="#" id="">
                    <h5><strong><%= @item.current_location %></strong></h5>
                    <span class="txt"><strong>Location</strong></span>
                    <div class="clearfix"></div>
                </a>
            </div>

            <div class="span2 well">
                <a class="widget-stats" href="<%= quality_lots_path(:item_id => @item.id) %>" id="">
                    <h5><strong><%= @item.quality_lots.count %></strong></h5>
                    <span class="txt"><strong>Lots</strong></span>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>

        <div class="separator bottom"></div>

        <!-- Dimensions -->
        <%= render 'item_part_dimensions/item_dimensions' %>
    </div>
</div>

<% if @quote_type_item == "vendor" %>
    <%= render :partial => 'quotes/quote_list', locals: { :show_quote_types => true} %>
<% else %>
    <%= render :partial => 'customer_quotes/customer_quote_list', :locals => { :show_quote_types => true } %>
<% end %>

<!-- Attachments -->
<%= render 'attachments/attachments' if @item_revision %>

<%= render :partial => 'po_headers/po_list', locals: {
    all_path: item_path(@item, :revision_id => @item_revision.id),
    open_path: item_path(@item, :revision_id => @item_revision.id, :po_status => "open"),
    closed_path: item_path(@item, :revision_id => @item_revision.id, :po_status => "closed"),
    index_path: po_headers_path(:po_status => params[:po_status], :item_id => @item.id),
    new_path: new_po_header_path
    }
%>

<%= render :partial => 'so_headers/so_list', locals: {
    all_path: item_path(@item, :revision_id => @item_revision.id),
    open_path: item_path(@item, :revision_id => @item_revision.id, :so_status => "open"),
    closed_path: item_path(@item, :revision_id => @item_revision.id, :so_status => "closed"),
    index_path: so_headers_path(:so_status => params[:so_status], :item_id => @item.id),
    new_path: new_so_header_path
    }
%>


<%= render :partial => 'quality_lots/lots' %>

<%= render :partial => 'po_shipments/shipments', :locals => {open_path: item_path(@item, :revision_id => @item_revision.id, :shipment_type => "shipped"), closed_path: item_path(@item, :revision_id => @item_revision.id, :shipment_type => "history"), shipment_type: params[:shipment_type], create_payable: false} %>

<%= render :partial => 'so_shipments/shipments', :locals => {open_path: item_path(@item, :revision_id => @item_revision.id, :shipment_type => "shipped"), closed_path: item_path(@item, :revision_id => @item_revision.id, :shipment_type => "history"), shipment_type: params[:shipment_type], create_receivable: false} %>

<!-- Revisions -->
<%= render 'item_revisions/item_revisions' %>













