  <!-- Wells -->
<div class="row-fluid">
    <h3 class="span3 left">Item : <%= @item.item_name %><span></span></h3>
    <span class="span9 right">
        <%= link_to 'Edit', edit_item_path(@item), :class => "btn btn-small" %> 
        <%= link_to 'Back to Items', items_path, :class => "btn btn-small" %>
    </span>
</div>

<div class="row-fluid">
    <div class="span3 well view_organization_details">
        <table class="table">
            <tbody> 
              <tr>
                <td>Owner:</td>
                <td><%= @item.owner.owner_identifier %></td>
              </tr>

              <tr>
                <td>Part No:</td>
                <td><%= @item.item_part_no %></td>
              </tr>

              <tr>
                <td>Name:</td>
                <td><%= @item.item_name %></td>
              </tr>

              <tr>
                <td>Description:</td>
                <td><%= @item.item_description %></td>
              </tr>

              <tr>
                <td>Notes:</td>
                <td><%= @item.item_notes %></td>
              </tr>

              <tr>
                <td>Revision:</td>
                <td><%= @item.item_revision %></td>
              </tr>

              <tr>
                <td>Revision Date:</td>
                <td><%= @item.item_revision_date %></td>
              </tr>

              <tr>
                <td>Tooling:</td>
                <td><%= @item.item_tooling %></td>
              </tr>

              <tr>
                <td>Cost:</td>
                <td><%= @item.item_cost %></td>
              </tr>

              <tr>
                <td>Active:</td>
                <td><%= @item.item_active %></td>
              </tr>

              <tr>
                <td>Specs :</td>
                <td><%= @item.specifications.collect(&:specification_identifier).join(", ") %></td>
              </tr>  

              <tr>
                <td>Prints :</td>
                <td><%= @item.prints.collect(&:print_identifier).join(", ") %></td>
              </tr>

               <tr>
                <td>Materials :</td>
                <td><%= @item.materials.collect(&:material_short_name).join(", ") %></td>
              </tr> 

               <tr>
                <td>Processes :</td>
                <td><%= @item.process_types.collect(&:process_short_name).join(", ") %></td>
              </tr>               

            </tbody>
          </table>
    </div>

    <div class="span9">
          <%= render 'item_part_dimensions/item_dimensions' %>
    </div>
</div>





<div class="row-fluid">
    <div id="item_all_dimensions" class="span12">
        
    </div>
</div>