<!-- Wells -->
<div class="row-fluid">
    <h4 class="span3 left">Item Info<%#= @item.item_part_no %><span></span></h4>
    <span class="span9 right">
        <%= link_to 'Back to Current Revision', @item, :class => "btn btn-small btn-success" unless @item_revision == @item.current_revision %>
       <% if can? :edit, Item %>  
        <%= link_to 'New Revision', new_item_item_revision_path(@item), :class => "btn btn-small btn-success" %>
        <%= link_to 'Edit Revision', edit_item_item_revision_path(@item, @item_revision), :class => "btn btn-small" if @item_revision %> 
        <% end %>
        <%#= link_to 'Change Part No', edit_item_path(@item), :class => "btn btn-small" %>        
        <%= link_to 'Back to Items', items_path, :class => "btn btn-small" %>
    </span>
</div>

<div class="row-fluid">
    <%= render :partial => 'items/item_info' %>

    <div class="span9"> 
        <div class="row-fluid item_detail_classic_btn">
            <div class="span3 well">
                <a class="widget-stats" href="#" id="">
                    <h5><strong><%= @item.qty_on_hand %></strong></h5>
                    <span class="txt"><strong>Quantity On Hand</strong></span>
                    <div class="clearfix"></div>
                </a>
            </div>

            <div class="span3 well">
                <a class="widget-stats" href="#" id="">
                    <h5><strong><%= @item.qty_on_order %></strong></h5>
                    <span class="txt"><strong>Quantity On Order</strong></span>
                    <div class="clearfix"></div>
                </a>
            </div>

            <div class="span2 well">
                <a class="widget-stats" href="#" id="">
                    <h5><strong>$<%= @item.weighted_cost %></strong></h5>
                    <span class="txt"><strong>weighted Cost</strong></span>
                    <div class="clearfix"></div>
                </a>
            </div>

            <div class="span2 well">
                <a class="widget-stats" href="#" id="">
                    <h5><strong><%= @item.current_location %></strong></h5>
                    <span class="txt"><strong>Location</strong></span>
                    <div class="clearfix"></div>
                </a>
            </div>

            <div class="span2 well">
                <a class="widget-stats" href="<%= quality_lots_path(:item_id => @item.id) %>" id="">
                    <h5><strong><%= @item.quality_lots.count %></strong></h5>
                    <span class="txt"><strong>Lots</strong></span>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>

        <div class="separator bottom"></div>
       <% if can? :view, Dimension %>
        <!-- Dimensions -->
        <%= render 'item_part_dimensions/item_dimensions' %>
        <% end %> 
    </div>
</div>
<% if can? :read, ProcessType %>
<%= render :partial => 'process_types/item_process_type' %>
<% end %>
<% if can? :read, Specification %>
<%= render :partial => 'attachments/relational_attachments', :locals => {list_path: specifications_path(:item_id => @item.id), new_path: new_specification_path, name: "specification"} %>
<% end %>
<div id="send_quote">
    <% if can? :manage, Quote %> 
    <% if @quote_type_item == "vendor" %>
        
            <%= render :partial => 'quotes/quote_list', locals: { :show_quote_types => true} %>
    <% else %>
        <%= render :partial => 'customer_quotes/customer_quote_list', :locals => { :show_quote_types => true } %>
    <% end %>
    <% end %>
</div>


<!-- Attachments -->
<%= render 'attachments/attachments' if @item_revision %>

<div id="po_header">
    <% if can? :manage, PoHeader %>
    <%= render :partial => 'po_headers/po_list', locals: {
        all_path: item_path(@item, :revision_id => @item_revision.id),
        open_path: item_path(@item, :revision_id => @item_revision.id, :po_status => "open"),
        closed_path: item_path(@item, :revision_id => @item_revision.id, :po_status => "closed"),
        index_path: po_headers_path(:po_status => params[:po_status], :item_id => @item.id),
        new_path: new_po_header_path
        }
    %>
    <% end %>
</div>

<div id="so_header">
    <%= render :partial => 'so_headers/so_list', locals: {
        all_path: item_path(@item, :revision_id => @item_revision.id),
        open_path: item_path(@item, :revision_id => @item_revision.id, :so_status => "open"),
        closed_path: item_path(@item, :revision_id => @item_revision.id, :so_status => "closed"),
        index_path: so_headers_path(:so_status => params[:so_status], :item_id => @item.id),
        new_path: new_so_header_path
        }
    %>
</div>


<%= render :partial => 'quality_lots/lots' %>
<%= render :partial => 'inventory_adjustments/inventory_adjustments' %>
<div class="new_widget">
    <div class="row-fluid">

        <div class="span6">
        <%= render :partial => 'po_shipments/item_shipments', :locals => {open_path: item_path(@item, :revision_id => @item_revision.id, :shipment_type => "shipped"), closed_path: item_path(@item, :revision_id => @item_revision.id, :shipment_type => "history"), shipment_type: params[:shipment_type], create_payable: false} %>
        </div>
        <div class="span6">
        <%= render :partial => 'so_shipments/item_shipments', :locals => {open_path: item_path(@item, :revision_id => @item_revision.id, :shipment_type => "shipped"), closed_path: item_path(@item, :revision_id => @item_revision.id, :shipment_type => "history"), shipment_type: params[:shipment_type], create_receivable: false} %>
        </div>
    </div>
</div>
<div class="new_widget">
    <div class="row-fluid">
    <% if can? :read, Payable %>         
        <div class="span6">
           
<%= render :partial => 'payables/item_payables' %>
        </div>
<% end %>
 <% if can? :read, Receivable %>      
        <div class="span6">

<%= render :partial => 'receivables/item_receivables' %>

        </div>
<% end %>        
    </div>
</div>
<!-- Revisions -->
<%= render 'item_revisions/item_revisions' %>


<script type="text/javascript">

$( document ).ready(function() {

    $("#hide_new").hide();
    $("#customer_new").hide();

});
// ajax load quote
    function get_quote(){
        $('#send_quote').html("");
        var quote = '<div class="widget"><div class="widget-head"><div class="row-fluid"><h4 class="span6 heading">Quotes</h4><span class="span6 heading right"><a href="#" class="btn btn-mini btn-success" onclick="get_customer_quote(); return false">Customer</a><a href="#" class="btn btn-mini btn-success" onclick="get_quote(); return false">Vendor</a></span></div> </div><div class="widget-body"><table id="table_report_quote_list" class="dynamicTable table table-striped table-bordered table-condensed"><thead><tr><th>Quote</th><th>Vendors</th><th>Price</th><th>Quantity</th><th>Notes</th><th>Created at</th></tr></thead><tbody></tbody></table></div></div>'
         $('#send_quote').html(quote);

        var data_table_report_quote_list;
         
            data_table_report_quote_list = $('#table_report_quote_list').dataTable({
                "bAutoWidth": false,
                "bProcessing": true,
                "sAjaxSource": '/quotes?item_id=<%=@item.id%>',
                "aaSorting": [[0, "desc"]],
                "aoColumns": [
                                { "mData": "quote_group_id" },
                                { "mData": "vendor_name" },
                                { "mData": "price" },
                                { "mData": "quantity"},
                                { "mData": "notes"},
                                { "mData": "created" },                           
                            ],
                "bFilter": true,
                "bLengthChange": true
            });

    }

// ajax load customer quote
    function get_customer_quote(){
        $('#send_quote').html("");
        var customer_quote = '<div class="widget"><div class="widget-head"><div class="row-fluid"><h4 class="span6 heading">Customer Quotes</h4><span class="span6 heading right"><a href="/customer_quotes/new" class="btn btn-mini btn-success">New Customer Quote</a><a href="#" class="btn btn-mini btn-success" onclick="get_customer_quote(); return false">Customer</a><a href="#" class="btn btn-mini btn-success" onclick="get_quote(); return false">Vendor</a></span></div> </div><div class="widget-body"><table id="table_report_customer_quote_list" class="dynamicTable table table-striped table-bordered table-condensed"><thead><tr><th>Quote Send Id</th><th>Customer</th><th>Prices</th><th>Quantity</th><th>Description</th><th>Created at</th></tr></thead><tbody></tbody></table></div></div>'
        $('#send_quote').html(customer_quote);
        data_table_report_customer_quote_list = $('#table_report_customer_quote_list').dataTable({
            "bAutoWidth": false,
            "bProcessing": true,
            "sAjaxSource": '/customer_quotes?item_id=<%=@item.id%>',
            "aaSorting": [[0, "asc"]],
            "aoColumns": [
                            { "mData": "customer_quote_identifier" },
                            { "mData": "customer_name" },
                            { "mData": "price" },
                            { "mData": "quantity"},
                            { "mData": "customer_quote_description" },
                            { "mData": "created" }                          
                        ],
            "bFilter": true,
            "bLengthChange": true
        });

    }
//ajax load po order
function get_po_header(status){
    var link = "/po_headers?item_id=<%= @item.id %>&revision_id=<%= @item_revision.id %>"
    if (status == 2){
        link = "/po_headers?item_id=<%= @item.id %>&revision_id=<%= @item_revision.id %>&po_status=open"
    }else if(status == 3){
        link = "/po_headers?item_id=<%= @item.id %>&revision_id=<%= @item_revision.id %>&po_status=closed"
    }else{

    }

    $('#po_header').html("");
    var po_header = '<div class="widget"><div class="widget-head"><div class="row-fluid"><h4 class="span6 heading"> Purchase Order  </h4><span class="span6 heading right"><a href="#" class="btn btn-mini btn-success" onclick="get_po_header(1); return false;">All</a><a href="#" class="btn btn-mini btn-success" onclick="get_po_header(2); return false;">Open</a><a href="#" class="btn btn-mini btn-success" onclick="get_po_header(3); return false;">Closed</a><a href="/po_headers/new" class="btn btn-mini btn-success">New PO</a></span></div></div><div class="widget-body"><table id="table_report_po_header_list" class="dynamicTable table table-striped table-bordered table-condensed"><thead><tr><th>Index</th><th>PO ID</th><th>PO Type</th><th>Vendor</th><th>Identifier</th><th>Description</th><th>Cost</th><th>Total</th><th>Status</th><th>Active</th><th></th></tr></thead><tbody></tbody></table></div></div>';
    $('#po_header').html(po_header);
    var data_table_report_po_header_list;    
    data_table_report_po_header_list = $('#table_report_po_header_list').dataTable({
        "bAutoWidth": false,
        "bProcessing": true,
        "sAjaxSource": link,
        "aaSorting": [[0, "asc"]],
        "aoColumns": [
                    { "mData": "index","bVisible": false },
                    { "mData": "po_id" },
                    { "mData": "po_type_name" },
                    { "mData": "vendor_name" },
                    { "mData": "po_identifier", "bVisible": false },
                    { "mData": "po_description", "bVisible": false },
                    { "mData": "po_total", "bVisible": false },
                    { "mData": "po_line_price"},
                    { "mData": "po_status" },
                    { "mData": "po_active", "bVisible": false },
                    { "mData": "links", "bSortable": false, "bSearchable": false }
                ],
        "bFilter": true,
        "bLengthChange": true        
    });
}
//ajax load So header
function get_so_header(status){
    var link = "/so_headers?item_id=<%= @item.id %>&revision_id=<%= @item_revision.id %>"
    if (status == 2){
        link = "/so_headers?item_id=<%= @item.id %>&revision_id=<%= @item_revision.id %>&so_status=open"
    }else if(status == 3){
        link = "/so_headers?item_id=<%= @item.id %>&revision_id=<%= @item_revision.id %>&so_status=closed"
    }else{

    }

    $('#so_header').html("");
    var so_headers = '<div class="widget"><div class="widget-head"><div class="row-fluid"><h4 class="span6 heading">Sales Orders   </h4><span class="span6 heading right"><a href="#" class="btn btn-mini btn-success" onclick="get_so_header(1); return false;">All</a><a href="#" class="btn btn-mini btn-success" onclick="get_so_header(2); return false;">Open</a><a href="#" class="btn btn-mini btn-success" onclick="get_so_header(3); return false;">Closed</a><a href="/so_headers/new" class="btn btn-mini btn-success">New SO</a></span></div> </div><div class="widget-body"><table id="table_report_so_header_list" class="dynamicTable table table-striped table-bordered table-condensed"><thead><tr><th>index</th><th>SO ID</th><th>Customer</th><th>Bill To</th><th>Ship To</th><th>Cofc</th><th>Squality</th><th>Status</th><th></th></tr></thead><tbody></tbody></table></div></div>';
    $('#so_header').html(so_headers);
    var data_table_report_so_header_list;    
    $(document).ready(function(){ 
        data_table_report_so_header_list = $('#table_report_so_header_list').dataTable({
            "bAutoWidth": false,
            "bProcessing": true,
            "sAjaxSource": link,
            "aaSorting": [[0, "asc"]],
            "aoColumns": [
                        { "mData": "index","bVisible": false },
                        { "mData": "so_id" },
                        { "mData": "customer_name"},
                        { "mData": "bill_to_address_name" },
                        { "mData": "ship_to_address_name" },
                        { "mData": "so_cofc" },                       
                        { "mData": "so_squality" },                       
                        { "mData": "so_status"},
                        { "mData": "links", "bSortable": false, "bSearchable": false }
                        
                    ],
            "bFilter": true,
            "bLengthChange": true
        });
    });
}
</script>

<!--style>

.widget.widget-005 {
    float: left;
    margin: 0 13px 0 0;
    width: 45%;
}
</style-->