<h1>Listing item_materials</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Material</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @item_materials.each do |item_material| %>
  <tr>
    <td><%= item_material.item %></td>
    <td><%= item_material.material %></td>
    <td><%= link_to 'Show', item_material %></td>
    <td><%= link_to 'Edit', edit_item_material_path(item_material) %></td>
    <td><%= link_to 'Destroy', item_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item material', new_item_material_path %>
