<% @quality_lot = @quality_lot_gauge.quality_lot %>
<% @item_revision = @quality_lot.item_revision %>
<% @item = @item_revision.item %>
<% gauge_dimensions = @quality_lot_gauge.quality_lot_gauge_dimensions.order(:item_part_dimension_id) %>

<div class="separator bottom"></div>

<div class="row-fluid">
  <div class="span2" style="height: 34px; width: 300px;">      
      <%= link_to ("Appraisor 1" + radio_button_tag(:appraisor, 1, (true if params[:appraisor] == "1"), :class => "radio_hide")).html_safe, new_quality_lot_gauge_quality_lot_gauge_result_path(@quality_lot_gauge, appraisor: 1) %>|

      <%= link_to ("Appraisor 2" + radio_button_tag(:appraisor, 2, (true if params[:appraisor] == "2"), :class => "radio_hide")).html_safe, new_quality_lot_gauge_quality_lot_gauge_result_path(@quality_lot_gauge, appraisor: 2) %>|

      <%= link_to ("Appraisor 3" + radio_button_tag(:appraisor, 3, (true if params[:appraisor] == "3"), :class => "radio_hide")).html_safe, new_quality_lot_gauge_quality_lot_gauge_result_path(@quality_lot_gauge, appraisor: 3) %>
  </div>
</div>

<div class="separator bottom"></div>

<%= form_for([@quality_lot_gauge, @quality_lot_gauge_result], :html => {:id => "form_for_lot_gauge_results"} ) do |f| %>
<%= hidden_field_tag :appraiser, params[:appraisor] %>  

<div class="row-fluid">
  <div class="span12 editable_table_container">
    <table id="" class="editable_table dynamicTable table table-striped table-bordered table-condensed">
      <thead>
          <tr>
              <th>Sl No</th>
              <% gauge_dimensions.each do |gauge_dimension| %>
                    <th><%= gauge_dimension.item_part_dimension.item_part_letter %></th>
              <% end %>
          </tr>
      </thead>

      <tbody id="">
          <% for i_int in 0..9 %>
            <% j_int = 0 %>
            <tr id="gauge_editable_tr_id_<%= i_int %>">
                <%# gauge_results = @quality_lot_gauge.quality_lot_gauge_results.group(:item_part_dimension_id, :lot_gauge_result_trial).where(lot_gauge_result_row: i_int, lot_gauge_result_appraiser: params[:appraisor]) %>

                <td class="editable_rows_slno"><%= i_int + 1 %></td>                

                <% gauge_dimensions.each do |gauge_dimension| %>
                  <% gauge_results = @quality_lot_gauge.quality_lot_gauge_results.where(lot_gauge_result_row: i_int, lot_gauge_result_appraiser: params[:appraisor], item_part_dimension_id: gauge_dimension.item_part_dimension_id).order(:lot_gauge_result_trial) %>

                  <td>
                      <%= text_field_tag "gauge_field_data[#{gauge_dimension.item_part_dimension_id}][#{i_int}][1]", (gauge_results[0].lot_gauge_result_value if gauge_results[0]), class: "row#{i_int}#{j_int}", next_element: (i_int < 9 ? ".row#{i_int+1}#{j_int}" : ".row0#{j_int+1}") %>
                      <% j_int += 1 %>
                      <%= text_field_tag "gauge_field_data[#{gauge_dimension.item_part_dimension_id}][#{i_int}][2]", (gauge_results[1].lot_gauge_result_value if gauge_results[1]), class: "row#{i_int}#{j_int}", next_element: (i_int < 9 ? ".row#{i_int+1}#{j_int}" : ".row0#{j_int+1}") %>
                      <% j_int += 1 %>
                      <%= text_field_tag "gauge_field_data[#{gauge_dimension.item_part_dimension_id}][#{i_int}][3]", (gauge_results[2].lot_gauge_result_value if gauge_results[2]), class: "row#{i_int}#{j_int}", next_element: (i_int < 9 ? ".row#{i_int+1}#{j_int}" : ".row0#{j_int+1}") %>
                      <% j_int += 1 %>
                  </td>                  
                <% end %>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>  
</div> 

<div class="separator bottom" id="last_element" last-element="<%= "row#{i_int}#{j_int-1}" %>"></div>

<div class="row-fluid">
    <div class="span12 right">
        <%= f.submit "Save", class: "btn", onclick: "$('#form_for_lot_gauge_results').submit()" %>
        <%= link_to "Back", edit_quality_lot_gauge_path(@quality_lot_gauge, quality_lot_id: @quality_lot.id), class: "btn" %>
    </div>
</div>

<% end %>

<%= render :partial => 'item_part_dimensions/item_dimensions', locals: {item_page: false} %>


<script type="text/javascript">
  $(document).ready(function(){
      $(".row00").focus();
  });

 $(document).on("keydown", "#form_for_lot_gauge_results input[type=text]", function(e){
      var keyCode = e.keyCode || e.which;
      if(keyCode == 13){
        e.preventDefault();
        $($(this).attr("next_element")).focus();
        if($(this).attr("class") == $("#last_element").attr("last-element"))
            $("#form_for_lot_gauge_results").submit();
      }
  });
</script>

<style type="text/css">
  .radio_hide{display: none;}
</style>