<% @quality_lot = @quality_lot_gauge.quality_lot %>
<% @item_revision = @quality_lot.item_revision %>
<% @item = @item_revision.item %>

<% values = [] %>
<% objects = @quality_lot.lot_item_dimensions.where(:id => @quality_lot_gauge.quality_lot_gauge_dimensions.collect(&:item_part_dimension_id)).order(:id) %>

<% objects.each do |object| %>
    <% gauge_trials = object.quality_lot_gauge_results.where("quality_lot_gauge_id = ? and lot_gauge_result_appraiser = ?", @quality_lot_gauge.id, params[:appraisor]).order(:item_part_dimension_id, :lot_gauge_result_row, :lot_gauge_result_trial).all %>

    <%  
        trail_values = []
        trail_value = "" 
    %>

    <% gauge_trials.each_with_index do |gauge_trial, index| %>
        <% 
        gauge_next_trial = gauge_trials[index + 1]

        gauge_next_same = (gauge_next_trial.present? && (gauge_trial.lot_gauge_result_row == gauge_next_trial.lot_gauge_result_row)) 

        trail_value += gauge_trial.lot_gauge_result_value.to_s + (gauge_next_same ? ",  " : "")

        unless gauge_next_same
            gauge_trial[:lot_gauge_trial_values] = trail_value
            trail_values << gauge_trial
            trail_value = ""
        end
        %>
    <% end %>

    <% values << trail_values %>
<% end %>

<div class="separator bottom"></div>

<div class="row-fluid">
  <div class="span2">
      Appraisor 1
      <%= link_to radio_button_tag(:appraisor, 1, (true if params[:appraisor] == "1")), new_quality_lot_gauge_quality_lot_gauge_result_path(@quality_lot_gauge, appraisor: 1) %>      
  </div>
  <div class="span2">
      Appraisor 2
      <%= link_to radio_button_tag(:appraisor, 2, (true if params[:appraisor] == "2")), new_quality_lot_gauge_quality_lot_gauge_result_path(@quality_lot_gauge, appraisor: 2) %>
  </div>
  <div class="span2">
      Appraisor 3
      <%= link_to radio_button_tag(:appraisor, 3, (true if params[:appraisor] == "3")), new_quality_lot_gauge_quality_lot_gauge_result_path(@quality_lot_gauge, appraisor: 3) %>
  </div>
</div>

<div class="separator bottom"></div>

<%= form_for([@quality_lot_gauge, @quality_lot_gauge_result], :html => {:id => "form_for_lot_gauge_results"} ) do |f| %>
  <%= hidden_field_tag :appraiser, params[:appraisor] %>
  <%= f.hidden_field :lot_gauge_result_appraiser, value: params[:appraisor] %>
  <%= render :partial => 'layouts/app_layouts/editable_rows', locals: {f: f, form: "form_for_lot_gauge_results", name: "gauge", title_field: :item_part_letter, value_field: :lot_gauge_trial_values, objects: objects, values: values, back: edit_quality_lot_gauge_path(@quality_lot_gauge, quality_lot_id: @quality_lot.id), default_rows: 10, add_row: false } %>
<% end %>

<%= render :partial => 'item_part_dimensions/item_dimensions', locals: {item_page: false} %>