<div class="row-fluid">
  <%= render :partial => 'quotes/quote_info' %>

  <div class="span8 well item_detail_view">
      <%= simple_form_for([@quote, @quote_line], :html => {:id => "form_for_quote_line",:class => "form-horizontal"}) do |f| %>
        <%= f.error_notification %>
        
        <div class="form-inputs">          
            <%= f.association :item_alt_name, :url => autocomplete_item_alt_name_item_alt_identifier_item_alt_names_path, :as => :autocomplete, :id_element => '#alt_name_id', required: true, :label => "Item" %>

            <%= hidden_field_tag :alt_name_id, (@quote_line.item_alt_name.id if @quote_line.present? && @quote_line.item_alt_name.present?) %>

            <%= hidden_field_tag :org_alt_name_id, (@quote_line.item_alt_name.id if @quote_line.present? && @quote_line.item_alt_name.present?) %>

            <%= f.input :quote_line_cost, :label => "Cost" %>

            <%= f.input :quote_line_quantity, :label => "Quantity" %>
            
            <%= f.association :organization, :url => autocomplete_organization_organization_name_organizations_path(type: "customer"), :as => :autocomplete, :id_element => '#organization_id', required: true, :label => "Customer" %>

            <%= hidden_field_tag :organization_id, (@quote_line.organization.id if @quote_line.organization) %>

            <%= hidden_field_tag :org_organization_id, (@quote_line.organization.id if @quote_line.organization) %>

            <%= f.input :quote_line_description, :label => "Customer PO" %>

            <%= f.input :quote_line_notes, :label => "Notes" %>
        </div>

        <div class="separator bottom"></div>
        <div class="separator bottom"></div>

        <div class="form-actions">
            <%= f.submit "Submit", :class =>"btn" %>
            <%= link_to 'Delete', quote_quote_line_path(@quote, @quote_line), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @quote_line.new_record? %>
            <%= link_to 'Back', quote_path(@quote), :class =>"btn" %>
        </div>
      <% end %>
  </div>
</div>
<div class="separator bottom"></div>

<%= render :partial => 'quote_lines/line_items' %>

<script type="text/javascript">
    tab_field_forms["form_for_quote_line"] = ["quote_line_item_alt_name_id", "quote_line_quote_line_cost", "quote_line_quote_line_quantity", "quote_line_organization_id", "quote_line_quote_line_description", "quote_line_quote_line_notes"];    

    $(document).ready(function(){ 
        $("#quote_line_item_alt_name_id").val("<%= @quote_line.item_alt_name.alt_item_name if @quote_line.item_alt_name %>");
        
        $("#quote_line_organization_id").val("<%= @quote_line.organization.organization_name if @quote_line.organization %>");

        $("#quote_line_item_alt_name_id").focus();
    });
</script>