<h1>Listing quote_lines</h1>

<table>
  <tr>
    <th>Quote</th>
    <th>Item</th>
    <th>Item revision</th>
    <th>Item alt name</th>
    <th>Quote line identifier</th>
    <th>Quote line quantity</th>
    <th>Quote line cost</th>
    <th>Quote line total</th>
    <th>Quote line status</th>
    <th>Quote line notes</th>
    <th>Quote line active</th>
    <th>Quote line created</th>
    <th>Quote line updated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quote_lines.each do |quote_line| %>
  <tr>
    <td><%= quote_line.quote %></td>
    <td><%= quote_line.item %></td>
    <td><%= quote_line.item_revision %></td>
    <td><%= quote_line.item_alt_name %></td>
    <td><%= quote_line.quote_line_identifier %></td>
    <td><%= quote_line.quote_line_quantity %></td>
    <td><%= quote_line.quote_line_cost %></td>
    <td><%= quote_line.quote_line_total %></td>
    <td><%= quote_line.quote_line_status %></td>
    <td><%= quote_line.quote_line_notes %></td>
    <td><%= quote_line.quote_line_active %></td>
    <td><%= quote_line.quote_line_created_id %></td>
    <td><%= quote_line.quote_line_updated_id %></td>
    <td><%= link_to 'Show', [quote_line.quote, quote_line] %></td>
    <td><%= link_to 'Edit', edit_quote_quote_line_path(quote_line.quote, quote_line) %></td>
    <td><%= link_to 'Destroy', [quote_line.quote, quote_line], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quote line', new_quote_quote_line_path(params[:quote_id]) %>
