<%= simple_form_for([@item, @item_revision, @item_part_dimension], :html => {:id => "form_for_item_dimension",:class => "form-horizontal"}) do |f| %>
 <%= f.error_notification %>

  <div class="form-inputs">      
      <%= f.association :dimension, :label => "Dimension Type", :label_method => 'dimension_identifier', :label_value => "id", :include_blank => false, :autofocus => true %>
      <%= f.association :gauge, :label => "Instrument", :label_method => 'gauge_tool_name', :label_value => "id", :include_blank => false %>  
      <%= f.input :item_part_letter, :label => "Letter" %>      
      <%= f.input :dimension_string, :label => "Dimension" %>
      <%= f.input :item_part_pos_tolerance, :label => "+ Tolerance" %>
      <%= f.input :item_part_neg_tolerance, :label => "- Tolerance" %>
      <%= f.input :go_non_go, :label => "Go/NoGo", :checked => @item_part_dimension.go_non_go %>
      <%= f.input :item_part_critical, :label => "Critical" %>
     
      <%#= f.input :item_part_notes, :label => "Notes" %>
      <%#= f.input :item_part_active, :label => "Active" %>
  </div>

  <div class="separator bottom"></div>  

  <div class="form-actions">
      <%= f.button :submit, "Submit", :class => "btn" %>
      <%= link_to 'Delete', item_item_revision_item_part_dimension_path(@item, @item_revision, @item_part_dimension), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @item_part_dimension.new_record? %>
      <%#= link_to 'Back to dimensions of ' + @item.item_name, item_item_part_dimensions_path(@item), :class => "btn" %>
      <%= link_to 'Back', @item, :class => "btn" %>
  </div>
<% end %>

<script type="text/javascript">
    tab_field_forms["form_for_item_dimension"] = ["item_part_dimension_dimension_id", "item_part_dimension_gauge_id", "item_part_dimension_item_part_letter", "item_part_dimension_dimension_string", "item_part_dimension_item_part_pos_tolerance", "item_part_dimension_item_part_neg_tolerance", "item_part_dimension_item_part_critical"];

    $( document ).ready(function() {        
        process_checkbox()
    }); 
    $( "#item_part_dimension_go_non_go" ).change(function(){
        process_checkbox();
    });
    function process_checkbox(){
        if ($('#item_part_dimension_go_non_go').is(':checked')){
            $("#item_part_dimension_item_part_pos_tolerance").prop('disabled',true);
            $("#item_part_dimension_item_part_neg_tolerance").prop('disabled',true);
            $("#item_part_dimension_item_part_dimension").prop('type', 'text');

        }
        else
        {
            $("#item_part_dimension_item_part_pos_tolerance").prop('disabled',false);
            $("#item_part_dimension_item_part_neg_tolerance").prop('disabled',false);
            $("#item_part_dimension_item_part_dimension").prop('type', 'number');
        }      
    }
</script>