<% item_page = true if item_page.nil? %>
<% item_critical = false if item_critical.nil? %>

<!-- Widget -->
<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">Dimensions <%= "of " unless item_page %> <%= link_to "#{@item.item_part_no}", @item unless item_page %></h4>
            <span class="span6 heading right">
                <%#= link_to 'Back to Item', item_path(@item), :class => "btn btn-mini" %>
                <% if can? :edit, Item %>  
                <%= link_to 'New Dimension Type', new_dimension_path(:item_id => @item.id), :id => "hide_new", :class => "btn btn-mini btn-success" if item_page %>
                <%= link_to 'New Item dimension', new_item_item_revision_item_part_dimension_path(@item, @item_revision), :class => "btn btn-mini btn-success" if item_page %>   
               <% end %>             
            </span>
        </div> 
    </div>
    <!-- // Widget heading END -->
    <div class="widget-body">
        <table id="table_report_item_dimensions" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
              <tr>   
                <th>Type</th>
                <th>Gauge</th>
                <th>Bubble</th>
                <th>Dimension</th>
                <th>+ Tolerance</th>
                <th>- Tolerance</th>
                <th> Go/NonGo </th>
                <th>Critical</th>
                <th>Notes</th>                
                <th></th>
              </tr>
            </thead>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {
        :name => "table_report_item_dimensions", :path => item_item_revision_item_part_dimensions_path(@item, @item_revision, critical: (item_critical if item_critical)), :extras => {:slno => false, :sorted => 2, :order => "asc"},
        :columns => '[
                        { "mData": "dimension_type" },
                        { "mData": "gauge_name"},
                        { "mData": "item_part_letter" },
                        { "mData": "dimension_string" },
                        { "mData": "item_part_pos_tolerance" },
                        { "mData": "item_part_neg_tolerance" },
                        { "mData": "go_non_go" },
                        { "mData": "item_part_critical"},
                        { "mData": "item_part_notes", "bVisible": false},                        
                        { "mData": "links", "bSortable": false, "bSearchable": false, "bVisible": ' + item_page.to_s + ' }
                    ]'
    } 
%>