<div class="row-fluid span8">
  <div class="label label-large label-info arrowed-in arrowed-right">
        <h4>Item Part Dimesion Info</h4>
  </div>
  <table class="table table-striped table-bordered">
    <tbody>  
      <tr>
        <td>Dimension Type:</td>
        <td><%= @item_part_dimension.dimension.dimension_identifier  if @item_part_dimension.dimension %></td>
      </tr>

      <tr>
        <td>Instrument:</td>
        <td><%= @item_part_dimension.gauge.gauge_tool_name if @item_part_dimension.gauge %></td>
      </tr>   

      <tr>
        <td>Item part letter:</td>
        <td><%= @item_part_dimension.item_part_letter %></td>
      </tr>

      <tr>
        <td>Item part type:</td>
        <td><%= @item_part_dimension.item_part_dimension %></td>
      </tr>

      <tr>
        <td>Item part pos tolerance:</td>
        <td><%= @item_part_dimension.item_part_pos_tolerance %></td>
      </tr>

      <tr>
        <td>Item part neg tolerance:</td>
        <td><%= @item_part_dimension.item_part_neg_tolerance %></td>
      </tr>

       <tr>
        <td>Item part Go/NoGo:</td>
        <td><%= @item_part_dimension.go_non_go %></td>
      </tr>

      <tr>
        <td>Item part critical:</td>
        <td><%= @item_part_dimension.item_part_critical %></td>
      </tr>

    </tbody>
  </table>
  <div class="form-actions">
    <%= link_to 'Edit', edit_item_item_revision_item_part_dimension_path(@item, @item_revision ,@item_part_dimension), :class => "btn"%> 
    <%= link_to 'Back', @item, :class => "btn" %>
  </div>
</div>