<%= simple_form_for(@gl_account, :html => {:id => "form_for_gl_accounts",:class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">    
    <%= f.input :gl_title, label: "Title", :autofocus => true %>
    <%= f.association :gl_type, :label_method => "type_name", :label_value => "id", :include_blank => false, :label => "Type" %>
    <%= f.input :gl_mode, label: "Mode", collection: MasterType.gl_modes.collect(&:type_name), include_blank: false %>
    <%= f.input :gl_mode, label: "Category", collection: MasterType.gl_categories.collect(&:type_name), include_blank: false %>
    <%= f.input :gl_description, label: "Description" %>
    <%= f.input :gl_active, label: "Active" %>
  </div>

  <div class="separator bottom"></div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Back to GL Accounts', gl_accounts_path, :class => "btn" %>
  </div>
<% end %>

<script type="text/javascript">
    tab_field_forms["form_for_gl_accounts"] = ["gl_account_gl_title", "gl_account_gl_type_id", "gl_account_gl_mode", "gl_account_gl_category", "gl_account_gl_description", "gl_account_gl_active"];
</script>
