<%= simple_form_for(@receivable, :html => {:id => "form_for_receivables",:class => "form-horizontal"}) do |f| %>
<div class="row-fluid">
  <div class="span4 well item_detail_view">
      <div id="receivable_so_header_info"></div>
  </div>

  <div class="span8 well item_detail_view">

  <%= f.error_notification %>

  <div class="form-inputs">
    <% unless @receivable.new_record? %>
        <%= f.input :so_header_id, :disabled => true, input_html: { class: 'special_font' }, :label => "SO" if @receivable.so_header.present? %>
    <% else %>
        <%= f.association :so_header, :url => autocomplete_so_header_so_identifier_so_headers_path, :as => :autocomplete, :id_element => '#so_header_id', :label => "SO" %>
    <% end %>

    <%= hidden_field_tag :so_header_id, (@receivable.so_header.id if @receivable.so_header.present?) %>

    <%= hidden_field_tag :org_so_header_id, (@receivable.so_header.id if @receivable.so_header.present?) %>

    <%= f.input :receivable_description, :label => "Description" %>        
    <%= f.input :receivable_notes, :label => "Notes" %>
    <%= f.input :receivable_discount, :label => "Discount" %>   
  </div>

  <div class="separator bottom"></div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Delete', receivable_path(@receivable), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @receivable.new_record? %>
    <%= link_to 'Back', @receivable, :class => "btn" %>
  </div>
</div>
</div>


<% if @receivable.persisted? && @receivable.so_header.present? %>
    <div class="separator bottom"></div>
    <div class="form-inputs">
    <div class="row-fluid">
    <div class="span12">
        <table id="receivable_shipments_table" class="data_lines_table dynamicTable table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Part No</th>
                    <th>Quantity Ordered</th>
                    <th>Quantity Shipped</th>
                    <!-- <th>Added For</th> -->
                    <th>Cost</th>
                    <th>Shipped</th>
                </tr>
            </thead>
            <tbody id="receivable_shipments_table_table_body">
                <%= f.fields_for :receivable_shipments, @receivable.receivable_shipments do |receivable_shipment| %>
                    <tr>
                        <td><%= link_to receivable_shipment.object.so_line.item_alt_name.item_alt_identifier, item_path(receivable_shipment.object.so_line.item) %></td>
                        <td><%= receivable_shipment.object.so_line.so_line_quantity %></td>
                        <td><%= receivable_shipment.object.so_line.so_line_shipped %></td>
                        <!-- <td><%#= receivable_shipment.object.so_line.receivable_shipments.sum(:receivable_shipment_count) %></td> -->
                        <td><%= receivable_shipment.object.so_line.so_line_cost %></td>
                        <td><%= receivable_shipment.input :receivable_shipment_count, label: false, input_html: { class: 'receivable_shipment_count' } %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    </div>
    </div>
<% end %>

<% end %>

<%= render :partial => 'receivable_lines/line_items' if @receivable.persisted? && @receivable.so_header.nil? %>

<script type="text/javascript">
    tab_field_forms["form_for_receivables"] = ["receivable_so_header_id", "receivable_receivable_description", "receivable_receivable_notes", "receivable_receivable_discount"];

    var receivable_fine_to_submit = true;

    $(document).ready(function(){ 
        $("#receivable_so_header_id").on("focusout", function(){
            if($("#so_header_id").val() == ""){
                $("#so_header_id").val($("#org_so_header_id").val());
            }

            if($("#so_header_id").val() != ""){
                initialize_api_call({"url": "/so_headers/" + $("#so_header_id").val() + "/so_info", "type": "GET", "params": {}}, "set_so_header_info", {});
            }
            else{
                $("#receivable_so_header_info").html("");
            }
        });

        <% unless @receivable.nil? %>
            $("#receivable_so_header_id").val("<%= @receivable.so_header.so_identifier if @receivable.so_header %>");

            if($("#so_header_id").val() != "")
                initialize_api_call({"url": "/so_headers/" + $("#so_header_id").val() + "/so_info", "type": "GET", "params": {}}, "set_so_header_info", {});

            <% unless @receivable.persisted? %>
                    $("#receivable_so_header_id").focus();
            <% else %>
                    $("#receivable_receivable_description").focus();
            <% end %>

            // tab_field_forms["form_for_receivables"].push("receivable_receivable_discount");
        <% else %>
            $("#receivable_so_header_id").focus();
        <% end %>

        $(document).on("keydown", ".receivable_shipment_count", function(e){
            receivable_fine_to_submit = true;
            receivable_fine_to_submit = table_row_next_focus(e, "#form_for_receivables", $(this), ".receivable_shipment_count", true);
        });

        $("#form_for_receivables").submit(function(e){
            if(receivable_fine_to_submit == false)
                e.preventDefault();
            else
                receivable_fine_to_submit = true;
        });
    });

    function set_so_header_info(response, callback_params, api_params){
        $("#receivable_so_header_info").html(response);
        return false;
    }

</script>

<%= render :partial => 'layouts/app_layouts/mustache_templates', locals: {type: "address-select-box"} %>

<div class="separator bottom"></div>

<% @so_header = @receivable.so_header if @receivable.persisted? %>

<%= render :partial => 'so_lines/line_items' if @so_header %>