<%= simple_form_for(@receivable, :html => {:id => "form_for_receivables",:class => "form-horizontal"}) do |f| %>
<div class="row-fluid">
  <% if @receivable.persisted? %>
        <%= render :partial => 'receivables/receivable_info' %>
  <% else %>
        <div class="span4 well item_detail_view">
            <div id="receivable_customer_info"></div>
        </div>
  <% end %>  

  <div class="span8 well item_detail_view">

  <%= f.error_notification %>

  <div class="form-inputs">
    <% if @receivable.persisted? %>
        <%= f.input :organization_id, :disabled => true, input_html: { class: 'special_font' }, :label => "Customer" %>
    <% else %>
        <%= f.association :organization, :url => autocomplete_organization_organization_name_organizations_path(type: "customer"), :as => :autocomplete, :id_element => '#organization_id', required: true, :label => "Customer" %>
    <% end %>

    <%= hidden_field_tag :organization_id, (@receivable.organization.id if @receivable.organization) %>
    <%= hidden_field_tag :org_organization_id, (@receivable.organization.id if @receivable.organization) %>

    <% if @receivable.so_header %>
        <%= f.input :so_header_id, :disabled => true, input_html: { class: 'special_font' }, :label => "SO" %>   
        <%= hidden_field_tag :so_header_id, @receivable.so_header.id %>
        <%= hidden_field_tag :org_so_header_id, @receivable.so_header.id %>
    <% end %>
    
    <%= f.input :receivable_invoice, :label => "Customer Invoice", required: true %>

    <%#= f.association :gl_account, :url => autocomplete_gl_account_gl_account_title_gl_accounts_path, :as => :autocomplete, :id_element => '#gl_account_id', :label => "GL Account" %>
    <%#= hidden_field_tag :gl_account_id, (@receivable.gl_account_id if @receivable.gl_account) %>
    <%#= hidden_field_tag :org_gl_account_id, (@receivable.gl_account_id if @receivable.gl_account) %>

    <%= f.input :receivable_description, :label => "Description" %>
    <%= f.input :receivable_notes, :label => "Notes" %>
    <%= f.input :receivable_discount, :label => "Discount (%)" %>
    <%= f.input :receivable_freight, :label => "Freight" %>
  </div>

  <div class="separator bottom"></div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Delete', receivable_path(@receivable), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @receivable.new_record? %>
    <%= link_to 'Back', @receivable, :class => "btn" %>
  </div>
</div>
</div>

<%= render :partial => 'receivables/so_shipments' if @so_header %>

<%= render :partial => 'receivable_lines/line_items' if @receivable.persisted? && @receivable.so_header.nil? %>

<div class="separator bottom"></div>
<div class="separator bottom"></div>

<% if @receivable.persisted? %>
    <% receivable_accounts = @receivable.receivable_accounts.any? ? @receivable.receivable_accounts : [ReceivableAccount.new]*0 %>
    <% gl_accounts = GlAccount.order(:gl_account_title) %>
    <%= render :partial => 'layouts/app_layouts/accounts', locals: {f: f, object: @receivable, fields: [:receivable_accounts, :gl_account, :receivable_account_description, :receivable_account_amount], accounts: receivable_accounts, gl_accounts: gl_accounts, form_name: "form_for_receivables", default_account: (GlAccount.find_by_gl_account_identifier("11050") rescue GlAccount.first), account_type: "receivable"} %>
<% end %>
<% end %>

<script type="text/javascript">
    tab_field_forms["form_for_receivables"] = ["receivable_organization_id", "receivable_receivable_invoice", "receivable_receivable_description", "receivable_receivable_notes", "receivable_receivable_discount", "receivable_receivable_freight"];

    var receivable_fine_to_submit = true;

    $(document).ready(function(){ 
        $("#receivable_organization_id").on("focusout", function(){
            if($("#organization_id").val() != "" && $("#organization_id").val() != undefined){
                initialize_api_call({"url": "/organizations/" + $("#organization_id").val() + "/organization_info", "type": "GET", "params": {}}, "set_customer_info", {});
            }
            else{
                $("#receivable_customer_info").html("");
            }
        });

        <% unless @receivable.nil? %>
            $("#receivable_so_header_id").val("<%= @receivable.so_header.so_identifier if @receivable.so_header %>");

            $("#receivable_organization_id").val("<%= @receivable.organization.organization_name if @receivable.organization %>");

            $("#receivable_gl_account_id").val("<%= @receivable.gl_account.gl_account_title if @receivable.gl_account %>");
        <% end %>

        $(document).on("keydown", ".receivable_shipment_count", function(e){
            receivable_fine_to_submit = true;
            receivable_fine_to_submit = table_row_next_focus(e, "#form_for_receivables", $(this), ".receivable_shipment_count", true);
        });

        $("#form_for_receivables").submit(function(e){
            if(receivable_fine_to_submit == false)
                e.preventDefault();
            else
                receivable_fine_to_submit = true;
        });
    });

    function set_customer_info(response, callback_params, api_params){
        $("#receivable_customer_info").html(response);
        return false;
    }

</script>

<%= render :partial => 'layouts/app_layouts/mustache_templates', locals: {type: "address-select-box"} %>

<div class="separator bottom"></div>

<%# @so_header = @receivable.so_header if @receivable.persisted? %>

<%#= render :partial => 'so_lines/line_items' if @so_header %>