<div class="span3 well item_detail_view">
  <table class="table">
      <tbody>
          <tr>
            <td class="span2">Invoice ID:</td>
            <td class="span5"><strong><%= link_to @receivable.receivable_identifier, @receivable %></strong></td>
          </tr>

      <% if @receivable.organization %>
          <tr>
            <td class="span2">Customer:</td>
            <td class="span5"><strong><%= link_to @receivable.organization.organization_name, @receivable.organization if @receivable.organization %></strong></td>
          </tr>

          <tr>
            <td class="span2">SO:</td>
            <td class="span5"><strong><%= link_to @receivable.so_header.so_identifier, @receivable.so_header if @receivable.so_header %></strong></td>
          </tr>

          <tr>
            <td class="span2">Bill To:</td>
            <td class="span5"><strong><%= @receivable.so_header.bill_to_address ? link_to(@receivable.so_header.bill_to_address.contact_title, @receivable.so_header.bill_to_address) : link_to(@receivable.so_header.organization.organization_name, organization_main_address_path(@receivable.so_header.organization)) %></strong></td>
          </tr>

          <tr>
            <td class="span3">Ship To:</td>
            <td class="span5"><strong><%= @receivable.so_header.ship_to_address ? link_to(@receivable.so_header.ship_to_address.contact_title, @receivable.so_header.ship_to_address) : link_to(@receivable.so_header.organization.organization_name, organization_main_address_path(@receivable.so_header.organization)) %></strong></td>
          </tr>

      <% end %>

          <tr>
            <td class="span3">Description:</td>
            <td class="span5"><strong><%= @receivable.receivable_description %></strong></td>
          </tr>

          <!-- <tr>
            <td class="span3">Cost:</td>
            <td class="span5"><strong><%#= @receivable.receivable_cost %></strong></td>
          </tr> -->

          <tr>
            <td class="span3">Discount:</td>
            <td class="span5"><strong>$<%= @receivable.receivable_discount %></strong></td>
          </tr>

          <tr>
            <td class="span3">Total:</td>
            <td class="span5"><strong><h4>$<%= @receivable.receivable_total %></h4></strong></td>
          </tr>          

          <tr>
            <td class="span3">Status:</td>
            <td class="span5"><strong><%= @receivable.receivable_status %></strong></td>
          </tr>

          <tr>
            <td class="span3">Notes:</td>
            <td class="span5"><strong><%= @receivable.receivable_notes %></strong></td>
          </tr>          

          <!-- "%0.5f" %  -->

      </tbody>
  </table>

  <div class="separator bottom"></div>
  <div class="separator bottom"></div>

  <% if @receivable.so_header %>
      <h4 class="center">SO Info</h4>

      <%= render :partial => 'so_headers/so_header_info' %>

      <%#= render :partial => 'organizations/organization_info', 
            :locals => {:organization => @receivable.organization} %>
  <% end %>
</div>