 <%   if can? :edit, Receivable %>
    <div class="row-fluid">
        <div class="span4 well well-002">
              <a class="widget-stats" href="#" id="alt_address_btn" onclick="send_mail_vendor()">
                  <span class="glyphicons message_out"><i></i></span>
                  <span class="txt">Send All</span>
                  <div class="clearfix"></div>
              </a>
        </div>
        <div class="span4 well well-002">
              <a class="widget-stats" href="#" id="contacts_btn" onclick="invoice_report()"ra>
                  <span class="glyphicons print"><i></i></span>
                  <span class="txt">Print All</span>
                  <div class="clearfix"></div>
              </a>
        </div>
    </div>
<% end %>
<div class="widget">
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">Invoice</h4>
            <span class="span6 heading right">
               <% if can? :edit, Receivable %> 
                <%= link_to 'New Invoice From Shipped', so_shipments_path, :class => "btn btn-mini btn-success" %>
                <%= link_to 'New Invoice', new_receivable_path, :class => "btn btn-mini btn-success" %>
               <% end %> 
                <%= link_to 'Open', receivables_path(receivable_status: "open"), :class => "btn btn-mini btn-success" %>
                <%= link_to 'Closed', receivables_path(receivable_status: "closed"), :class => "btn btn-mini btn-success" %>
            </span>
        </div> 
    </div>

    <div class="widget-body">
        <table id="table_report_receivable_list" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Invoices</th>
                    <th>Customer</th>
                    <th>SO</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>                
            </tbody>
        </table>
    </div>
</div>


<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {:name => "table_report_receivable_list", :path => receivables_path(receivable_status: params[:receivable_status]), :extras => {:slno => false, :currency_format => [4]},
        :columns => '[
                        { "mData": "receivable_identifier" },
                        { "mData": "customer_name" },
                        { "mData": "so_identifier" },
                        { "mData": "receivable_description" },
                        { "mData": "receivable_total" },
                        { "mData": "receivable_status" },
                        { "mData": "links", "bSortable": false, "bSearchable": false }
                    ]'
    } 
%>




<style>

.span4.well.well-002 {
    width: 49%;
}
</style>

<script type="text/javascript">
    function invoice_report() {
        var sales_iframe = $("#myPrintView")[0];
        sales_iframe.contentWindow.focus();
        sales_iframe.contentWindow.print();
    }

    function after_send(response){
        alert(JSON.stringify(response.aaData).replace(/\"/g, ' '));
    }
    function send_mail_vendor(){
        <% @receivables.each do |receivable| %>
            var receivable_id = <%= receivable.id %>
            initialize_api_call({"url": "/common_actions/get_info", "type": "GET", "data_type": "json", "params": {"mode": "send_invoice","receivable_id": receivable_id }}, "after_send", {});
        <% end %>
    }
</script>
<iframe src="<%= report_receivables_path %>" style="border:0;" id="myPrintView" width="10" height= "10"></iframe>