<div class="row-fluid">
    <h4 class="span3 left">Receivable Info</h4>
    <span class="span9 right">
        <%= link_to 'Edit', edit_receivable_path(@receivable), :class => "btn btn-small" %>
        <%= link_to 'Back', receivables_path, :class => "btn btn-small" %>
    </span>
</div>

<div class="row-fluid">
    <%= render :partial => 'receivables/receivable_info' %>

    <div class="span9">
        <%= render :partial => 'receivable_lines/line_items' unless @so_header %>

        <%#= render :partial => 'so_lines/line_items' if @so_header %>
        <% if @so_header %>
            <table id="receivable_shipments_table" class="data_lines_table dynamicTable table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Part No</th>
                        <th>Quantity Ordered</th>
                        <th>Quantity Shipped</th>
                        <th>Cost</th>
                        <th>Shipped</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody id="receivable_shipments_table_table_body">
                    <% @receivable.receivable_shipments.each do |receivable_shipment| %>
                        <tr>
                            <td><%= link_to receivable_shipment.so_line.item_alt_name.item_alt_identifier, item_path(receivable_shipment.so_line.item) %></td>
                            <td><%= receivable_shipment.so_line.so_line_quantity %></td>
                            <td><%= receivable_shipment.so_line.receivable_shipments.sum(:receivable_shipment_count) %></td>
                            <td><%= receivable_shipment.so_line.so_line_cost %></td>
                            <td><%= receivable_shipment.receivable_shipment_count %></td>
                            <td><%= receivable_shipment.receivable_shipment_count * receivable_shipment.so_line.so_line_cost %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>

        <div class="separator bottom"></div>
        <div class="separator bottom"></div>

        <%= render 'attachments/attachments' %>

        <div class="separator bottom"></div>

        <%= render :partial => 'so_lines/line_items' if @so_header %>
    </div>
</div>