<%= simple_form_for(@commodity, :html => {:id => "form_for_commodity",:class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :commodity_identifier, :label => "Name" %>
    <%= f.input :commodity_description, :label => "Description" %>
    <%= f.input :commodity_notes, :label => "Notes" %>
    <%= f.input :commodity_active, :label => "Active" %>
  </div>

  <div class="separator bottom"></div>

  <div class="form-actions">
      <%= f.button :submit %>
      <%= link_to 'Back', commodities_path, :class => "btn" %>
  </div>
<% end %>

<script type="text/javascript">
    tab_field_forms["form_for_commodity"] = ["commodity_commodity_identifier", "commodity_commodity_description", "commodity_commodity_notes", "commodity_commodity_active"];
</script>
