<%= render :partial => 'layouts/app_layouts/contents', :locals => {type: "shipping_header"} %>

<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">Shipping</h4>
            <span class="span6 heading right">
            <% if can? :edit ,SoShipment %>
            	<%= link_to 'Ship', "#", :class => "btn btn-small btn-success", onclick: "initiate_shipping_inputs(); return false" %>
            <% end %>
            </span>
        </div> 
    </div>
    <!-- // Widget heading END -->
    <div class="widget-body">
        <table id="table_report_shipping_items" class="editable_table dynamicTable table table-striped table-bordered table-condensed">
            <thead>
              <tr>
               
              	<th>SO</th>
                <th>Part No</th>
                <th>Vendor</th>
                <th>Quantity Ordered</th>
                <th>Quantity Open</th>
                    <th>Due Date</th>
                <th>Shipping</th>
                <th>Lot</th>
            
                <!-- <th>Shelf</th>
                <th>Unit</th> -->
                <th></th>
              </tr>
            </thead>
            <body>
                
            </body>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {:name => "table_report_shipping_items", :path => so_shipments_path(type: "shipping"), :extras => {:slno => false, :fnDrawCallback => "shipping_fnDrawCallback",:order => "desc", :grouping => true, :column_index => 0},
        :columns => '[
        				
                        { "mData": "so_identifier" }, 
                        { "mData": "item_part_no" },
                        { "mData": "vendor_name" },
                        { "mData": "so_line_quantity" },
                        { "mData": "so_line_quantity_open" },
                           { "mData": "so_due_date"  },  
                        { "mData": "so_line_shipping" },   
                        { "mData": "so_line_lot" },

                                       
                        { "mData": "links", "bSortable": false, "bSearchable": false }                        
                    ]'
    } 
%>

<%= render :partial => 'layouts/app_layouts/so_shipments', :locals => {type: "so"} %>


  <div class="modal hide fade" id="modal-simple">
      <div class="modal-header">
          <h3>Location and lots</h3>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
          <form id="send_mail">
              <table class="dynamicTable table table-striped table-bordered" id="vendor_lines_table_2">
                  <thead>
                      <tr>
                          <th>Lots </th>
                          <th>Locations</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% QualityLot.all.each do |quality_lot| %>
                        <% if quality_lot.lot_control_no.present? %>
                          <% if quality_lot.po_shipment.present? %>
                            <tr>
                                <td><%= quality_lot.lot_control_no %> </td>
                                <td><%= quality_lot.po_shipment.po_shipped_unit.to_s + " - " + quality_lot.po_shipment.po_shipped_shelf %></td>
                            </tr>
                             <% end %>
                          <% end %>
                      <% end %>
                  </tbody>
              </table>
          </form>
      </div>
 
  </div>
<!-- { "mData": "so_line_shelf" },
{ "mData": "so_line_unit" }, -->
