<div class="row-fluid span8">
    <div class="label label-large label-info arrowed-in arrowed-right">
        <h4>Feedback Info</h4>
    </div>
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
              <td class="span2">Organization :</td>
              <td class="span5"><%= @customer_feedback.organization.organization_name %></td>
            </tr> 

            <tr>
              <td class="span3">Title :</td>
              <td class="span5"><%= @customer_feedback.title %>%</td>
            </tr>


            <tr>
              <td class="span3">Feedback :</td>
              <td class="span5"><%= @customer_feedback.feedback %>%</td>
            </tr>

            <tr>
              <td class="span3">Quality Action :</td>
              <td class="span5"><%= @customer_feedback.quality_action.present? ? CommonActions.linkable(quality_action_path(@customer_feedback.quality_action), @customer_feedback.quality_action.quality_action_no).html_safe : "" %></td>
            </tr>

            <tr>
              <td class="span3">Created By :</td>
              <td class="span5"><%= @customer_feedback.user.name %></td>
            </tr>

            <tr>
              <td class="span3">Quality At :</td>
              <td class="span5"><%= @customer_feedback.created_at.strftime("%d %b %Y") %></td>
            </tr>
        </tbody>
    </table>

  <div class="form-actions">
    <%= link_to 'Edit', edit_customer_feedback_path(@customer_feedback), :class => "btn btn-small" %>
    <%= link_to 'Back to Feedbacks', customer_feedbacks_path, :class => "btn btn-small" %>
  </div>
</div>

<!-- Attachments -->
<div class="new_widget">
    <%= render :partial => 'attachments/droppable_form_plup_less' %>
    <%= render 'attachments/attachments_less' %>
</div>

<style>

.widget.widget-003 {
float: left;
margin: 0 17px 0 0;
width: 37%;
}
.new_widget {
float: left;
width: 100%;
}
.widget.widget-004 {
float: left;
width: 60%;
}
.widget-body.widget-body-002 {
    min-height: 190px;
}
</style>