<div class="row-fluid">
  <div class="row-fluid">
    <div class="span6">
          <label><strong class="alert-success">Test Packages</strong></label>
    </div>
    <div class="span6">
        <%= link_to 'New Test Package', new_test_package_path, :class => "btn btn-mini btn-success" %>
    </div>
    <p id="notice" class="text-info"><%= notice %></p>
  </div>

  <table id="table_report" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Sl No</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @test_packages.each_with_index do |test_package, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= test_package.name %></td>
          <td><%= link_to 'Show', test_package, :class => "btn btn-mini btn-success" %>
          <%= link_to 'Edit', edit_test_package_path(test_package), :class => "btn btn-mini btn-info" %>
          <%= link_to 'Destroy', test_package, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<script type="text/javascript">
    $(document).ready(function(){ 
        var oTable1 = $('#table_report').dataTable().makeEditable({
          "aoColumns": [null, { "bSortable": false }],
          sUpdateURL: "/tester",
          sAddURL: "/tester",
          sDeleteURL: "/tester"
        });
    });
</script>


<a href="#" class="btn" id="openBtn" onclick='show_iframe_popup("/tester?layout=false", {"header" : "Popup"})'>Open modal</a>

<% content_for :page_level_popup_closed_events do %>
    alert("Me closed!");
<% end %>

