<address class="margin-none">
    <h4><a href="<%= organization_path(organization) %>"><strong><%= organization.organization_name %></strong></a> (<%= organization.organization_short_name %>)</h4>

    <strong>
        <%= ('<p>' + organization.organization_description + '</p>').html_safe if organization.organization_description.present? %>
    </strong>

    <!--abbr>Address 1 : </abbr-->
    <%= (organization.organization_address_1 + "<br />").html_safe if organization.organization_address_1.present? %>

    <!--abbr>Address 2 : </abbr-->
    <%= (organization.organization_address_2 + '<br />').html_safe if organization.organization_address_2.present? %>

    <!--abbr>Location : </abbr-->
    <%= (organization.organization_city + ', ').html_safe if organization.organization_city.present? %> 
    <%= (organization.organization_state + ', ').html_safe if organization.organization_state.present? %> 
    <%= organization.organization_zipcode %><br/>

    <%= organization.organization_country %><br/>

    <!--abbr>Zip : </abbr-->

    <!--abbr>Active : </abbr--><%#= organization.organization_active %>

    <abbr>Telephone: </abbr><%= organization.organization_telephone %><br/>

    <abbr>Fax: </abbr><%= organization.organization_fax %><br/>

    <abbr>Website: </abbr><a href="<%= organization.organization_website %>"><%= organization.organization_website %></a><br/>

    <abbr>E-Mail: </abbr> <a href="mailto:#"><%= organization.organization_email %></a><br />

    <abbr>Contact Type: </abbr><%= organization.contact_type.type_name if organization.contact_type %><br/>

    <% if organization.organization_type.type_value == "customer" %>
        <abbr>Quality Level: </abbr><%= link_to organization.customer_quality.quality_name, organization.customer_quality if organization.customer_quality %><br/>

        <abbr>Minimum Quality ID: </abbr><%= link_to organization.min_vendor_quality.quality_name, organization.min_vendor_quality if organization.min_vendor_quality %><br/>
        
    <% elsif organization.organization_type.type_value == "vendor" %>
        <abbr>Quality ID: </abbr><%= link_to organization.vendor_quality.quality_name, organization.vendor_quality if organization.vendor_quality %><br/>

        <abbr>Expiration Date: </abbr><%= organization.vendor_expiration_date.strftime("%m-%d-%Y") if organization.vendor_expiration_date %><br/>
    <% end %>

    <abbr>Processes: </abbr><%= organization.process_types.collect{|process| link_to(process.process_short_name, process.attachment.attachment.url(:original), target: "_blank") if process.attachment }.join(",  ").html_safe %><br/>

    <p><abbr>Notes: </abbr><%= organization.organization_notes %></p>
</address>