
<div class="widget">
   <!-- Widget heading -->
   <div class="widget-head">
       <div class="row-fluid">
           <h4 class="span6 heading">Purchase Orders</h4>
           <span class="span6 heading right">
               <%= link_to "Open", po_headers_path(po_status: 'open'), :class => "btn btn-mini btn-success" %>
               <%= link_to "Closed", po_headers_path(po_status: 'closed'), :class => "btn btn-mini btn-success" %>
               <%= link_to "All", po_headers_path, :class => "btn btn-mini btn-success" %>
               <%= link_to "New Purchase Order", new_po_header_path, :class => "btn btn-mini btn-success" %>
           </span>
       </div>
   </div>
   <div class="widget-body">
     <table id="po_header" class="dynamicTable table table-striped table-bordered table-condensed">
       <thead>
           <tr>
               <th>PO Number</th>
               <th>Type</th>
               <th>Vendor</th>
               <th>Total</th>
               <th>Status</th>
           </tr>
       </thead>
       <tbody>
           <% @po_headers.each do |po| %>
             <tr>
               <td><%= link_to po.po_identifier, po_header_path(po) %></td>
               <td><%= po.po_type.type_name %></td>
               <td><%= po.organization.organization_name%></td>
               <td><%= po.po_total %></td>
               <td><%= po.po_status %></td>
             </tr>
           <% end %>
       </tbody>
     </table>
   </div>
</div>

<script type="text/javascript">
   var datapo_header;
   $(document).ready(function(){
       datapo_header = $('#po_header').dataTable();
     });


</script>
