<!-- Widget -->
<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading"><%= @org_type.type_name %> Organizations</h4>
            <span class="span6 heading right">
                <%= link_to 'Customer', organizations_path(type: "customer"), :class => "btn btn-mini btn-info" %>
                <%= link_to 'Vendor', organizations_path(type: "vendor"), :class => "btn btn-mini btn-info" %>
                <%= link_to 'Support', organizations_path(type: "support"), :class => "btn btn-mini btn-info" %>
                <%= link_to 'New Organization', new_organization_path, :class => "btn btn-mini btn-success" %>
            </span>
        </div> 
    </div>
    <!-- // Widget heading END -->

    <div class="widget-body">
        <table id="table_report" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>SLNO</th>
                <th>Name</th>
                <th>Short Name</th>
                <th>Description</th>
                <th>Telephone</th>
                <th>Website</th>
                <th>Active</th>
                <th></th>
              </tr>
            </thead>

            <tbody>

            </tbody>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals =>     {
        :name => "table_report", :path => organizations_path(type: @org_type.type_value),
        :columns => '[
                        { "mData": "id" },
                        { "mData": "organization_name" },
                        { "mData": "organization_short_name" },
                        { "mData": "organization_description" },
                        { "mData": "organization_telephone" },
                        { "mData": "organization_website"},
                        { "mData": "organization_active" },
                        { "mData": "links", "bSortable": false, "bSearchable": false }
                    ]'
    } 
%>