<p id="notice"><%= notice %></p>

<p>
  <b>Organization type:</b>
  <%= @organization.organization_type_id %>
</p>

<p>
  <b>Territory:</b>
  <%= @organization.territory %>
</p>

<p>
  <b>Customer quality:</b>
  <%= @organization.customer_quality %>
</p>

<p>
  <b>Customer contact type:</b>
  <%= @organization.customer_contact_type_id %>
</p>

<p>
  <b>Customer max quality:</b>
  <%= @organization.customer_max_quality_id %>
</p>

<p>
  <b>Vendor quality:</b>
  <%= @organization.vendor_quality %>
</p>

<p>
  <b>Vendor expiration date:</b>
  <%= @organization.vendor_expiration_date %>
</p>

<p>
  <b>Organization name:</b>
  <%= @organization.organization_name %>
</p>

<p>
  <b>Organization short name:</b>
  <%= @organization.organization_short_name %>
</p>

<p>
  <b>Organization description:</b>
  <%= @organization.organization_description %>
</p>

<p>
  <b>Organization address 1:</b>
  <%= @organization.organization_address_1 %>
</p>

<p>
  <b>Organization address 2:</b>
  <%= @organization.organization_address_2 %>
</p>

<p>
  <b>Organization city:</b>
  <%= @organization.organization_city %>
</p>

<p>
  <b>Organization state:</b>
  <%= @organization.organization_state %>
</p>

<p>
  <b>Organization country:</b>
  <%= @organization.organization_country %>
</p>

<p>
  <b>Organization zipcode:</b>
  <%= @organization.organization_zipcode %>
</p>

<p>
  <b>Organization telephone:</b>
  <%= @organization.organization_telephone %>
</p>

<p>
  <b>Organization fax:</b>
  <%= @organization.organization_fax %>
</p>

<p>
  <b>Organization email:</b>
  <%= @organization.organization_email %>
</p>

<p>
  <b>Organization website:</b>
  <%= @organization.organization_website %>
</p>

<p>
  <b>Organization notes:</b>
  <%= @organization.organization_notes %>
</p>

<p>
  <b>Organization active:</b>
  <%= @organization.organization_active %>
</p>




<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
