<!-- Widget -->
<div class="widget">
  <!-- Widget heading -->
  <div class="widget-head">
    <div class="row-fluid">
      <h4 class="span6 heading">Materials</h4>
      <span class="span6 heading right">
        <% if can? :edit, Material %>
        <%= link_to 'New Material', new_material_path, :class => "btn btn-mini btn-success" %>
        <% end %>
      </span>
    </div>
  </div>
  <!-- // Widget heading END -->

  <div class="widget-body">
    <table id="table_report" class="dynamicTable table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>Specification</th>
          <th>Metal Name</th>
          <th>Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @materials.each do |material|%>
        <tr>
          <td><%= link_to(material.material_short_name, material_path(material))%></td>
          <td><%= material.material_description %></td>
          <td><%= material.material_active %></td>
          <td><%= link_to("Edit", edit_material_path(material))%></td>
          <td><%= link_to("Duplicate", new_material_path(material_id: material.id))%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
