<div class="widget">
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">Receipts</h4>
            <span class="span6 heading right">
                <% if can? :edit, Receipt %>
                <%= link_to 'Print Deposits', deposit_checks_path, :class => "btn btn-mini btn-success"%>
                <%= link_to 'New Receipt', new_receipt_path, :class => "btn btn-mini btn-success" %>
                <% end %>
                <%= link_to 'Open', receipts_path(receipt_status: "open"), :class => "btn btn-mini btn-success" %>
                <%= link_to 'Closed', receipts_path(receipt_status: "closed"), :class => "btn btn-mini btn-success" %>
            </span>
        </div> 
    </div>

    <div class="widget-body">
        <table id="table_report_receipt_list" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Identifier</th>
                    <th>Organization</th>                    
                    <th>Description</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>                
            </tbody>
        </table>
    </div>
</div>


<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {:name => "table_report_receipt_list", :path => receipts_path(receipt_status: params[:receipt_status]), :extras => {:slno => false, :currency_format => [4]},
        :columns => '[
                        { "mData": "receipt_identifier" },
                        { "mData": "customer_name" },
                        { "mData": "receipt_description" },
                        { "mData": "receipt_type_name" },
                        { "mData": "receipt_check_amount" },
                        { "mData": "links", "bSortable": false, "bSearchable": false }
                    ]'
    } 
%>