<div class="row-fluid">
    <h4 class="span3 left">Receipt Info</h4>
    <span class="span9 right">     
       <% if can? :edit, Receipt %>    
    	<%= link_to 'Print Deposits', deposit_checks_path, :class => "btn btn-small"%>
    
            <%= link_to 'Edit', edit_receipt_path(@receipt), :class => "btn btn-small" %>
       <% end %>     
        <%= link_to 'Back', receipts_path, :class => "btn btn-small" %>
    </span>
</div>

<div class="row-fluid">
    <%= render :partial => 'receipts/receipt_info' %>

    <div class="span9">
        <%= render :partial => 'receipt_lines/receipt_lines' %>
    </div>
</div>