<h1>Listing group_organizations</h1>

<table>
  <tr>
    <th>Organization</th>
    <th>Group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @group_organizations.each do |group_organization| %>
  <tr>
    <td><%= group_organization.organization %></td>
    <td><%= group_organization.group %></td>
    <td><%= link_to 'Show', group_organization %></td>
    <td><%= link_to 'Edit', edit_group_organization_path(group_organization) %></td>
    <td><%= link_to 'Destroy', group_organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group organization', new_group_organization_path %>
