<%= simple_form_for(@image, :html => {:id => "form_for_attachment", :class => "form-horizontal", :multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
      <%= f.hidden_field :imageable_id, value: @object.id %>
      <%= f.hidden_field :imageable_type, value: @object.class %>
      <%= f.input :image_title %>
      <%= f.input :image_description %>
      <%= f.input :image_notes %>
      <%= f.input :image_public %>
      <%= f.input :image_active %>

      <span class="btn btn-default btn-file">
          <span class="fileupload-new">Select file</span>
          <%= f.file_field :image %>
      </span>      
  </div>

  <div class="separator bottom"></div>

  <div class="form-actions">
      <%= f.button :submit, "Save" %>
  </div>
<% end %>


