<div class="row-fluid">
    <!-- PO Info -->
    <%= render :partial => 'so_headers/so_header_info' %>
    <div class="span9 well">
        <%= simple_form_for([@so_header, @so_line], :html => {:id => "form_for_so_line",:class => "form-horizontal"}) do |f| %>
            <%= f.error_notification %>         
            <%= f.association :item_alt_name, :url => autocomplete_item_alt_name_item_alt_identifier_item_alt_names_path, :as => :autocomplete, :id_element => '#alt_name_id', required: true, :label => "Item" %>

            <%= hidden_field_tag :alt_name_id, (@so_line.item_alt_name.id unless @so_line.new_record?) %>

            <%= hidden_field_tag :org_alt_name_id, (@so_line.item_alt_name.id unless @so_line.new_record?) %>


            <%= f.association :organization, :url => autocomplete_organization_organization_name_organizations_path(type: "vendor"), :as => :autocomplete, :id_element => '#organization_id', required: true, :label => "Vendor" %>

            <%= hidden_field_tag :organization_id, (@so_line.organization.id if @so_line.persisted? && @so_line.organization) %>

            <%= hidden_field_tag :org_organization_id, (@so_line.organization.id if @so_line.persisted? && @so_line.organization) %>

            <%= f.input :so_line_cost %>

            <%= f.input :so_line_price %>

            <%= f.input :so_line_quantity %>
            
            <%= f.input :so_line_freight %>

            <%= f.input :so_line_status %>   

            <div class="separator bottom"></div>
      
            <div class="actions">
                <%= f.submit "Save", :class =>"btn" %>
                <%#= f.submit "Save and Add New", :class =>"btn" if @po_line.new_record? %>
                <%= link_to 'Delete', so_header_so_line_path(@so_header, @so_line), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @so_line.new_record? %>
                <%= link_to 'Back to SO', so_header_path(@so_header), :class =>"btn" %>
           </div>
        <% end %>
    </div>
</div>

<div class="separator bottom"></div>

<!-- Line Items -->
<%= render :partial => 'so_lines/line_items' %>
<script type="text/javascript">
    tab_field_forms["form_for_so_line"] = ["so_line_item_alt_name_id", "so_line_organization_id", "so_line_so_line_cost", "so_line_so_line_price", "so_line_so_line_quantity", "so_line_so_line_freight", "so_line_so_line_status"];
</script>