<div class="row-fluid">
    <div class="span3 well item_detail_view">
        <%= render :partial => 'so_headers/so_header_info' %>
    </div>
    <div class="span9 well">
        <%= simple_form_for([@so_header, @so_line], :html => {:id => "form_for_so_line",:class => "form-horizontal"}) do |f| %>
            <%= f.error_notification %>     

            <%= f.association :item_alt_name, :url => autocomplete_item_alt_name_item_alt_identifier_item_alt_names_path(organization_id: @so_header.organization.id), :as => :autocomplete, :id_element => '#alt_name_id', required: true, :label => "Item" %>

            <%= hidden_field_tag :alt_name_id, (@so_line.item_alt_name.id if @so_line.item_alt_name) %>

            <%= hidden_field_tag :org_alt_name_id, (@so_line.item_alt_name.id if @so_line.item_alt_name) %>

            <%= f.input :so_line_cost, :label => "Cost" %>     

            <%= f.input :so_line_sell, :label => "Sell" %>        

            <%= f.input :so_line_quantity, :label => "Quantity" %>
            
            <%#= f.input :so_line_freight, :label => "Freight Charge" %>

            <%= f.association :organization, :url => autocomplete_organization_organization_name_organizations_path(type: "vendor"), :as => :autocomplete, :id_element => '#organization_id', :label => "Vendor" %>

            <%= hidden_field_tag :organization_id, (@so_line.organization.id if @so_line.organization) %>

            <%= hidden_field_tag :org_organization_id, (@so_line.organization.id if @so_line.organization) %>
<!-- 
            <div id="group_div" style="padding-bottom:20px;">
                <div class="control-group">
                    <label for="quote_vendors" class="optional control-label">Choose Item</label>
                    <div class="controls">
                        <select name="quote_item" id="quote_item">
                            <option value=""></option>
                        </select>
                        <%#= select_tag :quote_item, options_for_select([[ , ""] ])%>
                    </div>
                </div>
            </div> -->

            <div id="group_div" style="padding-bottom:20px;">
                <div class="control-group">
                    <label for="quote_vendors" class="optional control-label">Vendor PO</label>
                    <div class="controls">                        
                        <%= f.select :so_line_vendor_po, options_for_select([["",""]],:selected =>  @so_line.so_line_vendor_po.present? ? @so_line.so_line_vendor_po : "")%>
  
                    </div>
                </div>
            </div>
            

            <%= f.association :customer_quality, :label_method => "quality_name", :label_value => "id", :include_blank => false, :label => "Quality Level", :selected => ((@so_line.persisted? && @so_line.customer_quality.present?) ? @so_line.customer_quality_id : @so_header.organization.customer_quality_id) %>

            <%= f.input :so_line_notes, :label => "Notes" %>

            <%= f.input :so_line_price, :label => "Total", :disabled => true, input_html: { class: 'special_font' }, :as => :hidden %>

            <div class="separator bottom"></div>
      
            <div class="actions">
                <%= f.submit "Save", :class =>"btn" %>
                <%= link_to 'Delete', so_header_so_line_path(@so_header, @so_line), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" unless @so_line.new_record? %>
                <%= link_to 'Back to SO', so_header_path(@so_header), :class =>"btn" %>
           </div>
        <% end %>
    </div>
</div>

<div class="separator bottom"></div>

<%= render :partial => 'so_lines/line_items' %>

<script type="text/javascript">
    tab_field_forms["form_for_so_line"] = ["so_line_item_alt_name_id", "so_line_so_line_cost", "so_line_so_line_sell", "so_line_so_line_quantity", "so_line_organization_id", "so_line_so_line_vendor_po", "so_line_customer_quality_id", "so_line_so_line_notes"];

    $(document).ready(function(){       

        $("#so_line_so_line_cost").change(function(){
            calculate_line_item_total();
        });

        $("#so_line_so_line_cost").on("input", function(){
            calculate_line_item_total();
        });

        $("#so_line_so_line_quantity").on("input", function(){
            calculate_line_item_total();
        });

        $("#so_line_so_line_freight").on("input", function(){
            calculate_line_item_total();
        });

        <% if @so_line.new_record? %>
            $("#so_line_item_alt_name_id").on("focusout", function(){
                if($("#alt_name_id").val() != "")
                    initialize_api_call({"url": "/item_alt_names/" + $("#alt_name_id").val(), "type": "GET", "params": {}, "data_type": "json"}, "set_item_revision_cost", {});
                else if($("#org_alt_name_id").val() != "")
                    initialize_api_call({"url": "/item_alt_names/" + $("#org_alt_name_id").val(), "type": "GET", "params": {}, "data_type": "json"}, "set_item_revision_cost", {});
                else{
                    $("#so_line_so_line_cost").val("");
                    calculate_line_item_total();
                }
            });            
        <% end %>

        $("#so_line_organization_id").val("<%= @so_line.organization.organization_name if @so_line.organization %>");

        $("#so_line_item_alt_name_id").val("<%= @so_line.item_alt_name.alt_item_name if @so_line.item_alt_name %>");

        $("#so_line_item_alt_name_id").focus();

        $("#so_line_organization_id").focusout(function(){
            get_vendor_po();
        });
        $("#so_line_item_alt_name_id").focusout(function(){
            get_vendor_po();
        });
        get_vendor_po();
    });    

    function calculate_line_item_total(){
        var so_line_total = parseFloat($("#so_line_so_line_cost").val()) * parseFloat($("#so_line_so_line_quantity").val());
        
        so_line_total = Math.round(so_line_total * 10000000000) / 10000000000;

        if(isNaN(so_line_total) == false)
            $("#so_line_so_line_price").val(so_line_total); //.toFixed(10)
        else
            $("#so_line_so_line_price").val("");
    }

    function set_item_revision_cost(response, callback_params, api_params){
        $("#so_line_so_line_cost").val(response.item_cost);
        if(response.item_sell) 
            $("#so_line_so_line_sell").val(response.item_sell);
        calculate_line_item_total();
        return false;
    }

    function get_vendor_po(){
        initialize_api_call({"url": "/common_actions/get_info", "type": "GET", "data_type": "json", "params": {"mode": "get_vendor_po", "organization_id": $('#organization_id').val(), "alt_name_id": $('#alt_name_id').val() }}, "set_vendor_po", {});
    }
    function set_vendor_po(response, callback_params, api_params){
        var dataArr = response["aaData"];

        $('#so_line_so_line_vendor_po option').remove();   

        $.each(dataArr, function(i){
            $('#so_line_so_line_vendor_po').append($("<option></option>")
                            .attr("value",dataArr[i]['po_identifier'])
                            .text(dataArr[i]['po_identifier']));
        });        
    }

</script>
