<div class="widget ">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">SO Line Items</h4>
            <span class="span6 heading right">

                <%= link_to 'New Line Item', new_so_header_so_line_path(@so_header), class: "btn btn-mini btn-success" %>

            </span>
        </div>
    </div>

    <div class="widget-body">
        <table id="table_report_items" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Part No</th>
                    <th>Vendor</th>
                    <th>Vendor PO</th>
                    <th>Status</th>
                    <th>Sell</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @so_header.so_lines.each do |so_line| %>
                    <% if so_line.id.present? %>
                        <tr>
                            <th><%= CommonActions.linkable(item_path(so_line.item), so_line.item_alt_name.item_alt_identifier, {revision_id:so_line.item_revision_id, item_alt_name_id: so_line.item_alt_name_id}).html_safe %></th>
                            <th><%= link_to so_line.po_header.organization.organization_name, organization_path(so_line.po_header.organization) if so_line.po_header %></th>
                            <th><%= link_to so_line.po_header.po_identifier, po_header_path(so_line.po_header) if so_line.po_header %></th>
                            <th><%= so_line.so_line_status %></th>
                            <th><%= so_line.so_line_sell %></th>
                            <th><%= so_line.so_line_quantity %></th>
                            <th><%= so_line.so_line_price %></th>
                            <th><%= link_to "edit", edit_so_header_so_line_path(@so_header, so_line) %></th>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
    </div>
</div>









<script type="text/javascript">
    var dataso_header;
    $(document).ready(function () {
        dataso_header = $('#table_report_items').dataTable();
    });
</script>

<%= link_to 'SAVE', so_header_path(@so_header), {:style =>'font-size: 14px; padding: 4px 18px; margin-top:5px;',  :class =>"btn btn-mini btn-success btn-007"} if @so_header && @so_line %>