<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8" />
    <title>Alliance Fasteners</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!--[if IE 7]>
      <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
    <![endif]-->

    <!--fonts-->
    <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" /> -->

    <!--page specific plugin styles-->
    <%= yield :page_level_plugin_styles %>    
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>

<body class="<%= yield :page_level_body_class %>">
    <% if current_user && params[:layout] %>
        <%= render :partial => 'layouts/app_content_layout', :locals => {:content => "app_theme"} %>             
    <% else %>
        <%= yield %>
    <% end %>

    <%= render :partial => 'layouts/app_content_layout', :locals => {:content => "iframe_popup"} %>    

    <!--page specific plugin scripts-->
    <%= yield :page_level_plugin_scripts %>

    <!--inline scripts related to this page-->
    <%= yield :page_level_inline_scripts %>

    <script type="text/javascript">
        function fn_popup_closed_events(){
            <%= yield :page_level_popup_closed_events %>
        }
    </script>
   
</body>

</html>