<%= simple_form_for(@company_info) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :company_name %>
    <%= f.input :company_address %>
    <%= f.input :company_phone1 %>
    <%= f.input :company_phone2 %>
    <%= f.input :company_mobile %>
    <%= f.input :company_fax %>
    <%= f.input :company_website %>
    <%= f.input :company_slogan %>
    <%= f.input :company_active %>
    <%= f.input :company_created_id %>
    <%= f.input :company_updated_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
