<div class="row-fluid span8">
    <div class="label label-large label-info arrowed-in arrowed-right">
        <h4>Company Info</h4>
    </div>
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
              <td class="span2">Name :</td>
              <td class="span5"><%= @company_info.company_name %></td>
            </tr>

            <tr>
              <td class="span3">Slogan :</td>
              <td class="span5"><%= @company_info.company_slogan %></td>
            </tr>

            <tr>
              <td class="span3">Address 1 :</td>
              <td class="span5"><%= @company_info.company_address1 %></td>
            </tr>

            <tr>
              <td class="span3">Address 2 :</td>
              <td class="span5"><%= @company_info.company_address2 %></td>
            </tr>

            <tr>
              <td class="span3">Telephone :</td>
              <td class="span5"><%= @company_info.company_phone1 %></td>
            </tr>

            <!-- <tr>
              <td class="span3">Telephone 2 :</td>
              <td class="span5"><%#= @company_info.company_phone2 %></td>
            </tr>

            <tr>
              <td class="span3">Mobile :</td>
              <td class="span5"><%#= @company_info.company_mobile %></td>
            </tr> -->

            <tr>
              <td class="span3">Fax :</td>
              <td class="span5"><%= @company_info.company_fax %></td>
            </tr>

            <tr>
              <td class="span3">Website :</td>
              <td class="span5"><%= @company_info.company_website %></td>
            </tr>
        </tbody>
    </table>

    <br />

   <%= image_tag(@company_info.image.image.url(:original), :width => "150") if @company_info.image %>

    <br />

   <%= image_tag(@company_info.logo.joint.url(:original), :width => "150") if @company_info.logo %>

  <div class="form-actions">
      <%= link_to 'Update', edit_company_info_path(@company_info), :class => "btn" %>
  </div>
</div>




